//font_size
$fontSmall: 12px;
$fontRegular: 14px;
$fontNormal: 16px;
$fontMid: 20px;

//color
$logInColor: #8e8c8a;
$mainColor: #1c1814;
$primaryColor: #00b076;

body {
  min-width: 360px;
}

main {
  max-width: 1344px;
  margin: 0 auto;
  min-height: 100%;
  .mySwiper {
    margin-top: 32px;
    padding: 0 24px 56px;
    .swiper-slide {
      max-width: 640px;
      max-height: 400px;
      img {
        border-radius: 8px;
      }
    }
  }
  .elipse_zone {
    margin-top: 144px;
    width: 100%;
    height: 88px;
    padding: 24px 0;
    border-radius: 8px;
    background: #f8f8f8;
    text-align: center;
    li {
      display: inline-block;
      background: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 20px;
      padding: 10px 20px;
      margin-right: 8px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: $fontRegular;
        color: #605d5b;
      }
    }
  } //elipse_zone
  section {
    margin-top: 64px;
    .sec_tit {
      strong {
        font-size: 40px;
        color: $mainColor;
        font-weight: bold;
        letter-spacing: -2px;
      }
    }
    &:nth-child(2) {
      margin-top: 32px;
    }
  } //section_component
  section.regular {
    div {
      font-size: 0;
    }
  }
  section.category_zone {
    padding-bottom: 96px;
    border-bottom: 1px solid #e8e8e8;
    .round_cat {
      margin-top: 32px;
      overflow: hidden;
      text-align: center;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        display: inline-block;
        width: 120px;
        margin-right: 48px;
        float: left;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(8) ~ li {
          margin-top: 32px;
        }
        a {
          width: 100%;
          color: $mainColor;
          font-size: $fontNormal;
          margin-top: 16px;
          letter-spacing: -0.5px;
          img {
            width: 100%;
            margin-bottom: 16px;
          }
        }
      }
    } //.round_cat
  } //section.category_zone
  section.time_deal {
    .time_deal_items {
      width: 100%;
    }
    .sec_tit {
      display: inline-block;
    }
    .left_min {
      // overflow: hidden;
      display: inline-block;
      margin-left: 32px;
      span.left_text {
        font-size: $fontNormal;
        letter-spacing: -0.5px;
        margin-right: 16px;
        float: left;
        transform: translateY(10px);
      }
      ul {
        overflow: hidden;
        display: inline-block;
        float: left;
        transform: translateY(4px);
        li {
          position: relative;
          float: left;
          padding: 4px;
          width: 40px;
          height: 40px;
          margin-right: 18px;
          background-color: #000;
          border-radius: 4px;
          text-align: center;
          color: #fff;
          font-size: $fontMid;
          &:after {
            content: ":";
            position: absolute;
            // display: inline-block;
            font-size: 16px;
            letter-spacing: -0.5px;
            float: left;
            color: $mainColor;
            right: -13px;
            top: 8px;
          }
          &:last-child:after {
            content: "";
            display: none;
          }
        }
      }
    } //.left_min
    .learn_more {
      display: inline-block;
      float: right;
      transform: translateY(20px);
      &:after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/main/icon-chevron-right_6.png) center no-repeat;
        margin-left: 7px;
        transform: translateY(4px);
      }
      a {
        font-size: $fontRegular;
        color: #8e8c8a;
        letter-spacing: -0.25px;
      }
    } //.learn_more
  } //section.time_deal
  section.popular_items {
    .tap_list {
      overflow: hidden;
      margin-top: 32px;
      border-bottom: 1px solid #d2d1d0;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        position: relative;
        float: left;
        margin-right: 40px;
        padding: 16px 8px;
        &:last-child {
          margin-right: 0;
        }
        &:after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 2px;
          background: $primaryColor;
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: 0.3s;
        }
        &.on:after {
          opacity: 1;
        }
        &.on {
          a {
            font-weight: bold;
            color: $primaryColor;
          }
        }
        a {
          display: inline-block;
          height: 100%;
          font-size: $fontNormal;
          letter-spacing: -0.5px;
          color: $mainColor;
        }
      }
    } //tap_list
    .row {
      .tap {
        display: none;
        &.on {
          display: block;
        }
        .item_popular {
          width: 236px;
          height: 352px;
          border-radius: 4px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          .img_wrapper {
            margin: 0;
            img {
              width: 100%;
            }
          }
          .text {
            margin-top: 0;
            padding: 16px;
            .sub {
              margin-top: 0;
              font-size: $fontRegular;
            }
            .price {
              margin-top: 16px;
              font-size: 18px;
              span {
                font-size: $fontRegular;
              }
              &:after {
                font-size: $fontRegular;
              }
            }
          }
        } //.item_popular
      } //.tap
    } //.row
  } //section.popular_items
  section.try_it {
    ul.top_try_it {
      overflow: hidden;
      margin-top: 32px;
      padding-bottom: 96px;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        position: relative;
        float: left;
        width: 416px;
        height: 120px;
        margin-right: 32px;
        padding: 48px 32px 48px 152px;
        background: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        font-size: $fontNormal;
        letter-spacing: -1.2px;
        &:last-child {
          margin-right: 0;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 120px;
          height: 120px;
          background: url(../img/main/img-mo-try-1.png) center no-repeat;
          background-size: contain;
          border-radius: 8px 0 0 8px;
        }
        a {
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
    } //ul.top_try_it
    .main_try_it_wrap {
      position: relative;
      padding-top: 64px;
      padding-bottom: 64px;
      border-top: 1px solid #e8e8e8;
      h3 {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 236px;
        margin-right: 33px;
        font-size: 32px;
        letter-spacing: -2px;
        span {
          font-weight: bold;
        }
      }
    }
    ul.main_try_it {
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        float: left;
        margin-right: 33px;
        width: 236px;
        &:first-child {
          margin-left: 269px;
        }
        &:nth-child(4) {
          margin-right: 0;
        }
        &:nth-child(9) {
          margin-right: 0;
        }
        &:nth-child(4) ~ li {
          margin-top: 32px;
        }
        .item {
          width: 100%;
        }
        .item_try_it {
          .text {
            margin-top: 16px;
            .price {
              margin-top: 0;
              font-size: 18px;
              &:after {
                font-size: $fontNormal;
              }
            }
            .sub {
              font-size: $fontRegular;
              margin-top: 4px;
              letter-spacing: -0.25px;
            }
          }
        }
      }
    }
  } //section.try_it
  .bottom_banner {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: url(../img/main/img-pc-main-fix.png) center no-repeat;
    background-size: contain;
    background-color: $primaryColor;
    margin-top: 32px;
    cursor: pointer;
  }
  section.recommend_brand {
    margin-top: 208px;
    .rec_con_wrap {
      overflow: hidden;
      max-width: 1312px;
      margin: 0 auto;
      height: 410px;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      .left_recommend {
        position: relative;
        float: left;
        width: 640px;
        height: 100%;
        margin-right: 32px;
        padding: 48px;
        background: url(../img/event/img-mo-cate.png) center no-repeat;
        background-size: cover;
        border-radius: 8px;
        &:before {
          content: "";
          position: absolute;
          width: 640px;
          height: 410px;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 8px;
        }
        .text_wrap {
          position: absolute;
          bottom: 48px;
          left: 48px;
          right: 48px;
          dl {
            dt {
              font-size: 32px;
              letter-spacing: -2px;
              font-weight: bold;
              color: #fff;
              // padding-top: 80px;
              margin-bottom: 16px;
            }
            dd {
              font-size: $fontRegular;
              color: #fff;
              letter-spacing: -0.25px;
            }
          }
        }
      } //.left_recommend
      .right_recommend {
        float: left;
        width: 640px;
        height: 100%;
        ul {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            float: left;
            width: 192px;
            height: 192px;
            margin-right: 32px;
            background: url(../img/main/img-thumbnail.png) center no-repeat;
            border-radius: 4px;
            &:nth-child(3n) {
              margin-right: 0;
            }
            &:nth-child(3) ~ li {
              margin-top: 26px;
            }
            &:last-child {
              position: relative;
              &:before {
                content: "";
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 4px;
              }
              &:after {
                content: "+15";
                position: absolute;
                font-size: 32px;
                color: #fff;
                // font-weight: bold;
                letter-spacing: -0.5px;
                left: 65px;
                top: 76px;
              }
            }
            a {
              font-size: 0;
            }
          }
        }
      } //.right_recommend
    } //.rec_con_wrap
    .information {
      overflow: hidden;
      margin-top: 96px;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li.information_li {
        float: left;
        width: 640px;
        margin-right: 32px;
        padding: 32px;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        &:last-child {
          margin-right: 0;
        }
        dl {
          dt {
            font-size: $fontMid;
            letter-spacing: -1px;
            font-weight: bold;
            margin-bottom: 16px;
          }
          dd {
            font-size: $fontRegular;
            color: #605d5b;
            letter-spacing: -0.25px;
            margin-top: 8px;
            &:first-child {
              margin-top: 0;
            }
            ul {
              overflow: hidden;
              &:after {
                content: "";
                display: block;
                clear: both;
              }
              li {
                float: left;
                margin-top: 8px;
                margin-left: 12px;

                &:first-child {
                  margin-left: 0;
                }
                &:nth-child(4n) {
                  margin-left: 0;
                }
                &:after {
                  content: "|";
                  color: #605d5b;
                  margin-left: 12px;
                }

                &:nth-child(3n):after {
                  content: "";
                  display: none;
                }

                &:last-child:after {
                  content: "";
                  display: none;
                }
                a {
                  color: #605d5b;
                  font-size: $fontRegular;
                }
              }
            }
          }
        }
      }
    }
  } //section.recomend_brands
} //main

//item
.item {
  width: 100%;
  cursor: pointer;
  .img_wrapper {
    position: relative;
    span.yellow_text {
      position: absolute;
      top: 25px;
      left: 8px;
      color: $mainColor;
      font-size: $fontSmall;
      font-weight: bold;
      letter-spacing: -0.25px;
      z-index: 5;
    }
    span.yellow_bg {
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 14px;
        width: 20px;
        height: 20px;
        background: url(../img/main/icon-timedeal.png) center no-repeat;
        z-index: 6;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        background: #ffe73e;
        width: 48px;
        height: 48px;
        border-radius: 4px 0 4px 0;
      }
    }
    .book_mark {
      position: absolute;
      bottom: 12px;
      right: 12px;
      cursor: pointer;
      font-size: 0;
    }
    img {
      width: 100%;
    }
  }
  .text {
    margin-top: 16px;
    .price {
      font-size: 24px;
      color: $mainColor;
      font-family: Lato-bold;
      span {
        font-size: 18px;
        letter-spacing: -0.5px;
        font-family: notoSansCjKkr;
        font-weight: bold;
      }
      &:after {
        content: "20%";
        font-family: Lato-regular;
        color: $primaryColor;
        font-size: $fontMid;
        margin-left: 12px;
      }
    }
  }
  .sub {
    margin-top: 8px;
    font-size: $fontNormal;
    letter-spacing: -0.5px;
    color: #605d5b;
  }
  .star {
    margin-top: 24px;
    span {
      font-size: $fontRegular;
      color: $logInColor;
      letter-spacing: -0.25px;
      &:first-child:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/main/icon-star.png) center no-repeat;
        margin-right: 4px;
        transform: translateY(3px);
      }
      &:nth-child(2) {
        margin-left: 12px;
      }
    }
  }
  .stand_out {
    margin-top: 8px;
    span {
      font-size: $fontRegular;
      letter-spacing: -0.25px;
      font-weight: bold;
      &:first-child {
        color: #ff5442;
      }
      &:nth-child(2) {
        margin-left: 12px;
        color: #605d5b;
      }
    }
  }
}

// img {
//   transition: 0.3s;
//   &:hover {
//     transform: scale(1.02);
//   }
// }

//부모요소 생성해서 내부 이미지만 확대시키기..?

.regular {
  .slick-list.draggable {
    width: 1320px;
    margin: 0 auto;
    .slick-track {
      left: 8px;
      .slick-slide {
        width: 640px;
        height: 400px;
      }
    }
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: -9px;
  }
  .slide-placeholder {
    width: 640px;
    height: 400px;
    img {
      width: 640px;
      height: 400px;
      border-radius: 8px;
    }
  }
  li[role="presentation"] {
    display: none;
  }
  .pagingInfo {
    display: inline-block;
    width: 84px;
  }
}

.time_deal_items {
  .responsive {
    .slick-list {
      margin-right: 0;
      .slick-slide {
        margin-right: 32px;
      }
    }
    .slick-next {
      right: 0;
    }
  }
}

.popular {
  .slick-prev {
    left: -19px;
    top: 106px;
  }
  .slick-list.draggable {
    height: 370px;
    .slick-track {
      left: 6px;
    }
  }
  .slick-next {
    right: 0;
    top: 106px;
  }
  // .slick-list {
  //   margin-right: -32px;
  //   .slick-slide {
  //     margin-right: 32px;
  //   }
  // }
}

.recommend {
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: 0;
  }
  // .slick-dots {
  //   li {
  //     button:before {
  //       content: "";
  //       display: inline-block;
  //       width: 12px;
  //       height: 12px;
  //       border-radius: 100%;
  //     }
  //   }
  // }
}

.pagingInfo {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 84px;
  height: 32px;
  padding: 5px 16px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background: #fff;
  font-size: 14px;
  text-align: center;
  span {
    font-size: 14px;
    color: #b8b6b4;
  }
}
.pause {
  position: absolute;
  left: 47.5%;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background: url(../img/main/icon-pause.png) center no-repeat;
  cursor: pointer;
}

/*media query*/
@media only screen and (min-width: 769px) {
  .sub_nav_slider {
    display: none;
  }
  main section.try_it .main_try_it_wrap h3.mo_try_it_tit {
    display: none;
  }
  .mo_try_it_wrap {
    display: none;
  }
  .regular_mo {
    display: none;
  }
  .pagingInfo_mo {
    display: none;
  }
  .time_deal_bg {
    display: none;
  }
  .reponsive_mo {
    display: none;
  }
  .bottom_banner_mo {
    display: none;
  }
  .elipse_zone_slider {
    display: none;
  }
  .round_cat_slider {
    display: none;
  }
  .recommend_mo_slider {
    display: none;
  }
  .footer_mo {
    display: none;
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  body {
    // padding-left: 20px;
  }
  .header_bg {
    height: 95px;
  }
  header {
    min-width: 360px;
    height: 95px;
    .main_gnb {
      top: 0;
      padding: 12px 16px;
      .left {
        position: 0;
        top: 0;
      }
      .right {
        position: absolute;
        top: 0;
        right: 16px;
        fieldset {
          border: none;
          input {
            width: 0;
          }
        }
        .icons {
          margin-left: 24px;
        }
      }
      h1 {
        max-width: 107px;
        margin-right: 0;
        a {
          img {
            width: 88px;
            height: 24px;
            top: -7px;
          }
        }
      }

      .left {
        display: inline-block;
        .main_nav {
          display: none;
        }
      }
      .right {
        float: right;
        display: inline-block;
        .icons {
          li {
            &:first-child {
              display: none;
            }
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
    .log_in {
      display: none;
    }
    .sub_nav {
      display: none;
    }
    .sub_nav_slider {
      display: block;
      position: absolute;
      top: 39px;
      padding-left: 16px;
      .sub_nav_mo {
        display: block;
        ul {
          position: relative;
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          .slick-prev {
            display: none !important;
          }
          .slick-next {
            display: none !important;
          }
          li {
            position: relative;
            float: left;
            margin-right: 16px;
            padding: 16px 8px;
            text-align: center;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              // display: inline-block;
              width: 100%;
              height: 3px;
              background: $primaryColor;
              display: none;
            }
            &.on:after {
              display: inline-block;
            }
            &.on a {
              color: $primaryColor;
              font-weight: bold;
            }
            a {
              display: inline-block;
              height: 100%;
              font-size: $fontNormal;
            }
          }
        }
      }
    }

    // nav.sub_nav {
    //   display: none;
    // }
  } //header
  main {
    .regular_mo_wrap {
      position: relative;
      .regular_mo {
        display: block;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        margin-top: 0;
        font-size: 0;
        .slick-dots {
          display: none !important;
        }
        .slick-prev {
          display: none !important;
        }
        .slick-next {
          display: none !important;
        }
        .slide-placeholder {
          img {
            width: 100%;
          }
        }
        .slick-dots {
          display: none;
        }
      } //.regular_mo
      .pagingInfo_mo {
        position: absolute;
        padding: 6px 20px;
        right: 0;
        bottom: 0;
        width: 96px;
        height: 32px;
        border-radius: 4px 0 0 0;
        border: none;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        letter-spacing: 4px;
        span {
          color: rgba(255, 255, 255, 0.6);
        }
      } //.pagingInfo_mo
    } //.regular_mo_wrap
    .regular {
      display: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      margin-top: 0;
      .slick-prev {
        display: none;
      }
      .slick-next {
        display: none;
      }
      .slick-list.draggable {
        .slick-track {
          .slick-slide {
            > div {
              .slide-placeholder {
                width: 100%;
                img {
                  width: 100%;
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
    }
    .pagingInfo {
      display: none;
    }
    .pause {
      display: none;
    }
    .elipse_zone {
      display: none;
    }
    .elipse_zone_slider {
      margin-top: 32px;
      padding-left: 15px;
      .elipse_zone_mo {
        margin-top: 0px;
        padding: 0;
        height: auto;
        background: none;
        li {
          border: 1px solid #d8f1e8;
          border-radius: 16px;
          padding: 6px 16px;
          a {
            color: $primaryColor;
          }
        }
      }
    }

    section.try_it {
      margin-top: 32px;
      .sec_tit {
        display: none;
      }
      .top_try_it {
        display: none;
      }
      .main_try_it_wrap {
        border: none;
        padding-bottom: 32px;
        padding-top: 0;
        padding-left: 15px;
        &:nth-of-type(2n-1) {
          ul {
            li {
              &:last-child {
                display: none;
              }
            }
          }
        }
        &:nth-of-type(3) {
          padding-top: 110px;
        }
        h3 {
          display: none;
        }
        h3.mo_try_it_tit {
          position: static;
          display: block;
          font-size: $fontMid;
          font-weight: bold;
          letter-spacing: normal;
          margin-bottom: 19px;
        }
      }
      ul.main_try_it {
        li {
          width: 156px;
          margin-top: 24px;
          &:first-child {
            margin-left: 0;
            margin-top: 0;
          }
          &:nth-child(2) {
            margin-top: 0;
          }
          &:nth-child(2n) {
            margin-right: 8px;
          }
          &:nth-child(2n-1) {
            margin-right: 8px;
          }
          .item {
            .text {
              margin-top: 8px;
              .sub {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
    section.category_zone {
      margin-top: 32px;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 15px;
      border: none;
      .sec_tit {
        strong {
          font-size: 20px;
          letter-spacing: normal;
        }
      }
      .round_cat {
        margin-top: 16px;
        display: none;
        li {
          width: 68px;
          margin-right: 12px;
          &:nth-child(4n) {
            margin-right: 0;
          }
          &:nth-child(n + 5):nth-child(-n + 8) {
            margin-top: 16px;
          }
          &:nth-child(8) ~ li {
            margin-top: 0;
          }
          a {
            font-size: 14px;
            letter-spacing: -1.8px;
            margin-top: 8px;
            img {
              margin-bottom: 0;
            }
          }
        }
      }
      .round_cat_slider {
        margin-top: 16px;
        .round_cat_mo {
          display: block;
        }
        .slick-prev {
          display: none !important;
        }
        .slick-next {
          display: none !important;
        }
      }
    }
    section.time_deal {
      position: relative;
      .time_deal_bg {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        background: url(../img/mobile/img-banner-timedeal@3x.png) center no-repeat;
      }
      .sec_tit {
        position: inherit;
        line-height: 80px;
        margin-left: 20px;
        strong {
          font-size: $fontMid;
          letter-spacing: normal;
          &:after {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../img/mobile/icon-chevron-right_2.png) center no-repeat;
            margin-left: 4px;
            transform: translateY(5px);
          }
        }
      }
      .left_min {
        position: absolute;
        right: 0px;
        top: 19px;
        .left_text {
          font-size: 12px;
          letter-spacing: normal;
        }
        ul {
          li {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            font-size: 16px;
            &:after {
              right: -9px;
              top: 4px;
            }
          }
        }
      }
      .learn_more {
        display: none;
      }
      .time_deal_items {
        .responsive {
          display: none !important;
        }
        .reponsive_mo {
          overflow: hidden;
          margin-top: 24px;
          padding-left: 15px;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          .item {
            float: left;
            width: 156px;
            margin-right: 8px;
            &:nth-of-type(2) ~ .item {
              margin-top: 24px;
            }
            // &:nth-of-type(4){
            //   margin-top: 24px;
            // }
            .img_wrapper {
              .yellow_text {
                font-size: 10px;
                top: 19px;
                left: 5px;
              }
              .yellow_bg {
                &:before {
                  width: 16px;
                  height: 16px;
                  background-size: contain;
                  left: 11px;
                }
                &:after {
                  width: 36px;
                  height: 36px;
                }
              }
            }
            .text {
              margin-top: 8px;
              .price {
                font-size: $fontNormal;
                span {
                  font-size: $fontRegular;
                }
                &:after {
                  font-size: $fontRegular;
                }
              }
              .sub {
                margin-top: 4px;
                font-size: $fontRegular;
              }
            }
          }
        }
      }
    }
    .bottom_banner {
      background-size: cover;
    }
    .mo_try_it {
      display: block;
    }
    section.popular_items {
      padding-left: 15px;
      .sec_tit {
        strong {
          font-size: $fontMid;
          letter-spacing: normal;
        }
      }
      .tap_list {
        margin-top: 14px;
        li {
          margin-right: 24px;
          a {
            font-size: $fontRegular;
          }
        }
      }
      .popular {
        width: 768px;
        .slick-next {
          display: none !important;
        }
        .slick-prev {
          display: none !important;
        }
        .slick-list {
          height: 255px;
          .slick-slide {
            margin-right: 8px;
            .slide-placeholder {
              .item_popular {
                max-width: 140px;
                max-height: 244px;
                .text {
                  .price {
                    margin-top: 12px;
                  }
                  .sub {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                }
              }
            }
          }
        }
      } //popular
    } //section.popular_items
    section.recommend_brand {
      margin-top: 32px;
      padding-left: 15px;
      .sec_tit {
        strong {
          font-size: $fontMid;
        }
      }
      .recommend {
        display: none;
      }
      .recommend_mo_slider {
        margin-top: 16px;
        ul {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            float: left;
            margin-right: 12px;
            a {
              display: inline-block;
              width: 68px;
              position: relative;
              text-align: center;
              padding-top: 72px;
              &:after {
                content: "";
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                background: url(../img/mobile/img-thumbnail_25.png) center top no-repeat;
                width: 68px;
                height: 68px;
              }
            }
          }
        }
      }
      .information {
        display: none;
      }
    }
    .mo_try_it_wrap {
      margin-top: 32px;
      padding-left: 15px;
      .sec_tit {
        strong {
          font-size: $fontMid;
          font-weight: bold;
        }
      }
      .mo_try_it {
        overflow: hidden;
        margin-top: 16px;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          position: relative;
          float: left;
          width: 320px;
          height: 72px;
          padding: 26px 16px 26px 88px;
          background: #fff;
          border: 1px solid #e8e8e8;
          border-radius: 8px;
          font-size: $fontRegular;
          letter-spacing: normal;
          margin-top: 8px;
          &:first-child {
            margin-top: 0;
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 72px;
            height: 72px;
            background: url(../img/main/img-mo-try-1.png) center no-repeat;
            background-size: contain;
            border-radius: 4px 0 0 4px;
          }
          a {
            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
            }
          }
        }
      } //mo_try_it
    }
    .bottom_banner {
      display: none;
    }
    .bottom_banner_mo {
      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      width: 100%;
      height: 48px;
      background: url(../img/mobile/img-banner-coupon-now.png) center no-repeat;
      background-size: contain;
      background-color: $primaryColor;
      margin-top: 32px;
      cursor: pointer;
    }
  } //main
  footer {
    display: none;
  }
  .footer_mo {
    display: block;
    margin-top: 32px;
    text-align: center;
    .talk_mo {
      height: 48px;
      background: #f4f4f4;
      padding: 8px;
      .talk_consult_mo {
        position: relative;
        display: inline-block;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 7px 12px;
        width: 156px;
        height: 32px;
        margin-right: 8px;
        color: #605d5b;
        font-size: 12px;
        &:first-child {
          color: $primaryColor;
          &:before {
            position: absolute;
            width: 20px;
            height: 20px;
            background: url(../img/mobile/icon-talktalk.png) center no-repeat;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    } //talk_mo
    .foot_main_mo {
      background: #fff;
      padding-bottom: 32px;
      ul {
        overflow: hidden;
        display: inline-block;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
        }
      }
      .footer_gnb_mo {
        padding: 11px 0;
        border-bottom: 1px solid #f4f4f4;
        li {
          margin-right: 24px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #8e8c8a;
            font-size: 12px;
            letter-spacing: normal;
          }
        }
      } //foot_gnb_mo
      .business_mo {
        display: inline-block;
        margin-top: 16px;
        border: none;
        cursor: ponter;
        font-size: 12px;
        color: $logInColor;
        li {
          display: none;
        }
      }
      .footer_icon_mo {
        margin-top: 16px;
        li {
          margin-right: 12px;
          a {
            display: inline-block;
            font-size: 0;
            width: 32px;
            height: 32px;
            background: url(../img/mobile/icon-footer-facebook.png) center no-repeat;
          }
        }
      }
      .list_mo {
        margin-top: 16px;
        li {
          &:first-child:after {
            content: "|";
            margin: 0 8px;
            color: $logInColor;
          }
          a {
            color: $logInColor;
            font-size: 10px;
          }
        }
      }
      .copyrights_mo {
        display: block;
        margin-top: 4px;
        font-size: 10px;
        color: #b8b6b4;
      }
    } //foot_main_mo
  }
} //media query
