//font_size
$fontSmall: 12px;
$fontRegular: 14px;
$fontNormal: 16px;
$fontMid: 20px;

//color
$logInColor: #8e8c8a;
$mainColor: #1c1814;
$primaryColor: #00b076;

/*header*/
.header_bg {
  position: absolute;
  width: 100%;
  height: 193px;
  background: #fff;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.08);
}

header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 193px;
}

header .log_in {
  overflow: hidden;
  position: absolute;
  top: 16px;
  right: 0;
  margin-right: 64px;
}

header .log_in:after {
  content: "";
  display: block;
  clear: both;
}

header .log_in > li {
  float: left;
  margin-left: 12px;
}

header .log_in > li > a {
  color: $logInColor;
}

header .log_in > li:last-child:after {
  content: "";
  display: none;
}

header .log_in > li:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background: $logInColor;
  margin-left: 12px;
}

header .main_gnb {
  overflow: hidden;
  position: absolute;
  top: 65px;
  width: 100%;
  height: 52px;
  padding: 0 64px;
}

header .main_gnb:after {
  content: "";
  display: block;
  clear: both;
}

header > .main_gnb > .left {
  float: left;
  overflow: hidden;
  line-height: 52px;
}

header > .main_gnb > .right {
  float: right;
  overflow: hidden;
}

header > .main_gnb > .left:after,
header > .main_gnb > .right:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb > .left > h1,
header .main_gnb > .left > .main_nav,
header .main_gnb > .right > .search,
header .main_gnb > .right > .icons {
  float: left;
}

header .main_gnb h1 {
  position: relative;
  margin-right: 48px;
  width: 139px;
  height: 39px;
  font-size: 0;
  transform: translateY(8px);
}

header .main_gnb h1 img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

header .main_gnb .main_nav > ul {
  overflow: hidden;
}

header .main_gnb .main_nav > ul:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb .main_nav > ul > li {
  float: left;
  margin-right: 48px;
}

header .main_gnb .main_nav > ul > li > a {
  font-size: $fontMid;
  font-weight: bold;
  color: $mainColor;
}

// header .main_gnb .main_nav > ul > li > a:hover {
//   color: $primaryColor;
// }

header .main_gnb .main_nav > ul > li > a.on {
  color: $primaryColor;
}

header fieldset {
  display: inline-block;
  float: left;
  border: none;
  border-bottom: 2px solid $mainColor;
  width: 320px;
  color: $logInColor;
  padding: 12px 0 10px 8px;
}

header fieldset input {
  border: none;
}

header fieldset button {
  // background: url(../img/nav/icon-search-bold.png) center no-repeat;
  width: 28px;
  height: 28px;
  font-size: 0;
  float: right;
  cursor: pointer;
  border: none;
  font-size: 0;
}

header fieldset button img {
  width: 100%;
}

header .main_gnb .icons {
  overflow: hidden;
  margin-left: 48px;
  transform: translateY(10px);
}

header .main_gnb .icons:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb .icons > li {
  margin-right: 32px;
  float: left;
}
header .main_gnb .icons > li:last-child {
  margin-right: 0;
}

header .main_gnb .icons > li > a {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  font-size: 0;
}

header .main_gnb .icons > li:first-child > a {
  background: url(../img/nav/icon-utillity.png) center no-repeat;
}

header .main_gnb .icons > li:nth-child(2) > a {
  background: url(../img/nav/icon-mypage-default.png) center no-repeat;
}

header .main_gnb .icons > li:nth-child(3) > a {
  // background: url(../img/main/icon-cart-active.png) center no-repeat;
}

header .main_gnb .icons > li:nth-child(3) > a > img {
  width: 100%;
}

header .main_gnb .icons > li:nth-child(3) > a > span {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #ff5442;
}

header .main_gnb .icons > li:nth-child(3) > a > span:after {
  content: "3";
  position: absolute;
  right: 6px;
  bottom: 1px;
  font-size: 8px;
  color: #fff;
}

/*sub_nav*/

header .sub_nav {
  position: absolute;
  top: 137px;
  padding-left: 62px;
  > ul {
    position: relative;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    > li {
      position: relative;
      float: left;
      margin-right: 16px;
      padding: 16px 8px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        // display: inline-block;
        width: 100%;
        height: 3px;
        background: $primaryColor;
        display: none;
      }
      &.on:after {
        display: inline-block;
      }
      &.on > a {
        color: $primaryColor;
        font-weight: bold;
      }
      &:hover {
        dl {
          display: block;
        }
      }
      &:nth-of-type(2):after {
        content: "";
        display: none;
      }
      &:nth-of-type(3):after {
        content: "";
        display: none;
      }
    }
  }
}

header .sub_nav > ul > li > a {
  display: inline-block;
  height: 100%;
  font-size: $fontNormal;
}

header .sub_nav > ul > li > a.category:after,
header .sub_nav > ul > li > a.space:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: url(../img/nav/icon-chevron-down.png) center no-repeat;
  transform: translateY(5px);
}

header .sub_nav > ul > li > a.category:hover:after,
header .sub_nav > ul > li > a.space:hover:after {
  content: "";
  background: url(../img/nav/icon-chevron-up.png) center no-repeat;
  transform: translateY(5px);
}

/*a.space*/

header .sub_nav > ul > li > ul {
  overflow: hidden;
  position: absolute;
  width: 392px;
  height: 436px;
  padding: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  top: 57px;
  left: 0px;
  border-radius: (0 0 10px 10px);
  display: none;
  z-index: 999;
}

header .sub_nav > ul > li > ul > p {
  font-size: $fontNormal;
  letter-spacing: -0.5px;
  font-weight: bold;
}

header .sub_nav > ul > li > ul > li {
  float: left;
  margin-right: 24px;
  margin-top: 24px;
  text-align: center;
}

header .sub_nav > ul > li > ul > li > a {
  position: relative;
  display: inline-block;
  padding-top: 72px;
  width: 64px;
  color: #605d60;
  font-size: $fontRegular;
}

header .sub_nav > ul > li > ul > li > a:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  background: url(../img/nav/img-thumbnail.png) center no-repeat;
  margin-bottom: 8px;
}

header .sub_nav > ul > li > ul > li > a:hover {
  color: $primaryColor;
  font-weight: bold;
}

header .sub_nav > ul > li > ul > li:nth-child(4n + 1) {
  margin-right: 0;
}

// header .sub_nav > ul > li > a.space > ul > li:nth-child(5) ~ li{
//   margin-top: 24px;
// }

header .sub_nav > ul > li:last-child {
  margin: 0;
}

header .sub_nav > ul > li .dl_wrap {
  position: absolute;
  top: 35px;
}

header .sub_nav > ul > li dl {
  position: absolute;
  width: 224px;
  padding: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  // border: solid 1px #e8e8e8;
  background: #fff;
  transition: 0.3s;
  top: 57px;
  left: -25px;
  border-radius: (0 0 10px 10px);
  display: none;
  z-index: 999;
}

header .sub_nav > ul > li dl.on {
  width: 448px;
}

header .sub_nav > ul > li dl dt {
  color: $mainColor;
  font-size: $fontNormal;
  font-weight: bold;
  margin-top: 16px;
}

header .sub_nav > ul > li:nth-child(2) dl dt:first-child {
  margin-top: 0;
}

header .sub_nav > ul > li dl dd,
header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a {
  font-size: $fontRegular;
  color: #605d5b;
}

header .sub_nav > ul > li dl dd {
  padding-top: 16px;
}

header .sub_nav > ul > li dl dd:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../img/nav/icon-category-appliances.png) center no-repeat;
  transform: translateY(5px);
}

header .sub_nav > ul > li dl dd:nth-child(2):before {
  background: url(../img/nav/icon-category-diyfloor.png);
}
header .sub_nav > ul > li dl dd:nth-child(4):before {
  background: url(../img/nav/icon-category-electric.png);
}
header .sub_nav > ul > li dl dd:nth-child(5):before {
  background: url(../img/nav/icon-category-fabric.png);
}
header .sub_nav > ul > li dl dd:nth-child(6):before {
  background: url(../img/nav/icon-category-faucets.png);
}
header .sub_nav > ul > li dl dd:nth-child(7):before {
  background: url(../img/nav/icon-category-hardware.png);
}
header .sub_nav > ul > li dl dd:nth-child(8):before {
  background: url(../img/nav/icon-category-light.png);
}
header .sub_nav > ul > li dl dd:nth-child(9):before {
  background: url(../img/nav/icon-category-living.png);
}
header .sub_nav > ul > li dl dd:nth-child(10):before {
  background: url(../img/nav/icon-category-materials.png);
}
header .sub_nav > ul > li dl dd:nth-child(11):before {
  background: url(../img/nav/icon-category-office.png);
}
header .sub_nav > ul > li dl dd:nth-child(12):before {
  background: url(../img/nav/icon-category-outdoor.png);
}
header .sub_nav > ul > li dl dd:nth-child(13):before {
  background: url(../img/nav/icon-category-paint.png);
}
header .sub_nav > ul > li dl dd:nth-child(14):before {
  background: url(../img/nav/icon-category-sheet.png);
}
header .sub_nav > ul > li dl dd:nth-child(15):before {
  background: url(../img/nav/icon-category-tile.png);
}
header .sub_nav > ul > li dl dd:nth-child(16):before {
  background: url(../img/nav/icon-category-tools.png);
}

header .sub_nav > ul > li dl dd:hover {
  color: $primaryColor;
  cursor: pointer;
}

header .sub_nav > ul > li dl dd > ul {
  border-left: 1px solid #f4f4f4;
  position: absolute;
  top: 0;
  left: 224px;
  height: 648px;
  width: 224px;
  padding-left: 32px;
  padding-top: 72px;
  // width: 224px;
  transition-delay: 0.05s;
  visibility: hidden;
}

header .sub_nav > ul > li dl dd > ul.on {
  visibility: visible;
}

header .sub_nav > ul > li dl dd > ul > li {
  margin-top: 21px;
}

header .sub_nav > ul > li:nth-child(2) dl dd > ul > li:first-child {
  margin-top: 0;
}

header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a:hover {
  color: $primaryColor;
}

//footer
footer {
  margin-top: 96px;
  background-color: #fff;
  .talk_talk_wrap {
    width: 100%;
    background: #f8f8f8;
    border-top: 1px solid #e8e8e8;
    .talk_talk {
      max-width: 1344px;
      margin: 0 auto;
      overflow: hidden;
      height: 64px;
      padding: 23px 0 21px 0;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
      .consulting {
        overflow: hidden;
        float: left;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        dt {
          float: left;
          font-size: $fontRegular;
          letter-spacing: -0.25px;
          font-weight: bold;
        }
        dd {
          float: left;
          font-size: $fontRegular;
          letter-spacing: -0.25px;
          color: #605d5b;
          margin-left: 16px;
        }
      }
      .consult_click {
        float: left;
        a {
          display: inline-block;
          font-size: $fontRegular;
          letter-spacing: -0.25px;
          color: #3dae44;
          transform: translateY(-4px);
          &:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../img/main/icon-talktalk.png) center no-repeat;
            margin-left: 16px;
            margin-right: 8px;
            transform: translateY(4px);
          }
        }
      }
      .inquary {
        overflow: hidden;
        float: right;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          margin-right: 32px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: $fontRegular;
            letter-spacing: -0.25px;
          }
        }
      }
    } //.talk_talk
  } //talk_talk_wrap
  .footer {
    overflow: hidden;
    padding: 32px 0 64px;
    max-width: 1344px;
    margin: 0 auto;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .footer_left {
      float: left;
      h2 {
        width: 110px;
        height: 30px;
        background: url(../img/main/img-logo-eng-full.png) center no-repeat;
        font-size: 0;
      }
      .slogan {
        margin-top: 16px;
        p {
          &:first-child {
            font-size: $fontMid;
            letter-spacing: -0.5px;
          }
          &:last-child {
            font-size: 24px;
            letter-spacing: -1px;
          }
        }
      }
    } //.footer_left
    .footer_mid {
      float: left;
      margin-left: 71px;
      .footer_gnb {
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          margin-right: 32px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: $fontNormal;
            letter-spacing: -0.5px;
            font-weight: bold;
          }
        }
      } //.footer_gnb
      .return_add {
        margin-top: 24px;
        span {
          font-size: $fontRegular;
          color: #605d5b;
          letter-spacing: -0.25px;
          &:last-child {
            margin-left: 12px;
          }
        }
      } //.return_add
      address {
        margin-top: 16px;
        ul {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            &:nth-child(2) {
              a {
                color: $mainColor;
              }
            }
            span {
              font-size: $fontSmall;
              letter-spacing: -0.25px;
              color: #8e8c8a;
              margin-left: 12px;
              &:first-child {
                margin-left: 0;
              }
            }
            a {
              font-size: $fontSmall;
              letter-spacing: -0.25px;
              color: #8e8c8a;
              margin-left: 12px;
              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      } //address
      .documents {
        overflow: hidden;
        margin-top: 16px;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          &:first-child:after {
            content: "|";
            margin: 0 12px;
            color: #e8e8e8;
          }
          &:nth-child(2) {
            a {
              color: $mainColor;
            }
          }
          a {
            font-size: $fontSmall;
            letter-spacing: -0.25px;
            color: #8e8c8a;
          }
        }
      } //documents
      .copyright {
        display: inline-block;
        margin-top: 16px;
        font-size: $fontSmall;
        color: #b8b6b4;
        letter-spacing: -0.25px;
      }
    } //footer_mid
    .footer_right {
      float: right;
      .qr_code {
        position: relative;
        padding-left: 72px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          background: url(../img/main/img_qr.png) left top no-repeat;
          width: 72px;
          height: 72px;
        }
        dl {
          margin-left: 12px;
          dt {
            font-size: $fontNormal;
            letter-spacing: -0.5px;
            font-weight: bold;
          }
          dd {
            margin-top: 8px;
            font-size: $fontRegular;
            letter-spacing: -0.25px;
            color: #605d5b;
          }
        }
      } //.qr_code
      .sns_icons {
        overflow: hidden;
        margin-top: 32px;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          margin-right: 16px;
          &:first-child {
            a {
              background: url(../img/main/icon-logo-facebook.png) center no-repeat;
            }
          }
          &:nth-child(2) {
            a {
              background: url(../img/main/icon-logo-instagram.png) center no-repeat;
            }
          }
          &:nth-child(3) {
            a {
              background: url(../img/main/icon-logo-naver-blog-text.png) center no-repeat;
            }
          }
          &:last-child {
            margin-right: 0;
            a {
              background: url(../img/main/icon-logo-youtube.png) center no-repeat;
            }
          }
          a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 1px solid #f1f1f1;
            border-radius: 100%;
          }
        }
      }
    } //footer_right
  } //.footer
} //footer
