//font_size
$fontSmall: 12px;
$fontRegular: 14px;
$fontNormal: 16px;
$fontMid: 20px;

//color
$logInColor: #8e8c8a;
$mainColor: #1c1814;
$primaryColor: #00b076;

//product_detail.html main start

.state_page_wrap {
  max-width: 1440px;
  margin: 0 auto;
  .state_page {
    max-width: 1344px;
    margin: 0 62px;
    padding: 24px 0;
    ul {
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        float: left;
        &:before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url(../img/subpage/icon-chevron-right.png) center no-repeat;
          margin: 0 4px;
          transform: translateY(4px);
        }
        &:first-child:before {
          content: "";
          display: none;
        }
        a {
          color: $logInColor;
          font-size: $fontRegular;
        }
      }
    }
  }
}

main.product_detail {
  max-width: 1440px;
  margin: 0 auto;
  .subpage_contents_wrap {
    overflow: hidden;
    max-width: 1344px;
    margin: 0 62px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .top_con {
      overflow: hidden;
      .top_left {
        max-width: 752px;
        float: left;
        .gallery_wrap {
          overflow: hidden;
          width: 100%;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          .mySwiper2 {
            max-width: 640px;
            max-height: 640px;
            margin: 0;
            float: right;
            .swiper-slide {
              max-width: 640px;
              max-height: 640px;
              margin: 0;
              img {
                width: 100%;
              }
            }
          }
          .mySwiper {
            max-width: 96px;
            margin: 0;
            padding: 0;
            float: left;
            margin-right: 16px;
            .swiper-wrapper {
              flex-direction: column;
              .swiper-slide {
                width: 96px !important;
                height: 96px;
                margin-right: 0;
                margin-bottom: 8px;
                cursor: pointer;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
        .story {
          margin-top: 64px;
          .story_slider {
            margin-top: 16px;
            .slick-next {
              top: 32%;
            }
            .slick-prev {
              top: 32%;
            }
            li {
              width: 236px !important;
              a {
                display: inline-block;
                width: 100%;
                height: 100%;
                p {
                  font-size: $fontNormal;
                  letter-spacing: -0.5px;
                  &:before {
                    content: "";
                    display: inline-block;
                    width: 236px;
                    height: 177px;
                    background: url(../img/subpage/thumbnail-storyimg.png) center no-repeat;
                    margin-bottom: 16px;
                  }
                }
                span {
                  display: inline-block;
                  font-size: $fontRegular;
                  color: #605d5b;
                  margin-top: 10px;
                  &:before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url(../img/subpage/img-thumbnail.png) center no-repeat;
                    margin-right: 8px;
                    transform: translateY(6px);
                  }
                }
              }
            }
          }
        }
        .self_guide {
          margin-top: 64px;
          .self_guide_con {
            position: relative;
            margin-top: 16px;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            padding: 24px;
            img {
              width: 208px;
              height: 117px;
              border-radius: 4px;
              margin-right: 24px;
            }
            a {
              position: absolute;
              font-size: $fontNormal;
              top: 42%;
            }
          }
        }
      } //top_left
      .top_right {
        float: right;
        position: relative;
        width: 496px;
        .delivery {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            float: left;
            margin-right: 12px;
            &:first-child {
              a {
                color: #ff5442;
              }
            }
            &:last-child:after {
              content: "1천개 이상 판매";
              float: right;
              color: $logInColor;
              font-size: $fontRegular;
              position: absolute;
              right: 0;
            }
            a {
              font-size: $fontRegular;
              font-weight: bold;
            }
          }
        } //delivery
        .main_tit {
          font-size: 32px;
          margin-top: 24px;
          .share {
            position: absolute;
            top: 44px;
            right: 0;
          }
        }
        .stars {
          overflow: hidden;
          display: inline-block;
          &:after {
            content: "4.0";
            font-size: $fontNormal;
            font-weight: bold;
            position: relative;
            top: -3px;
          }
          li {
            display: inline-block;
            background: url(../img/subpage/icon-star1.png) center no-repeat;
            width: 20px;
            height: 20px;
            &:last-child {
              background: url(../img/subpage/icon-star.png) center no-repeat;
            }
          }
        } //stars
        .review {
          // float: right;
          margin-left: 12px;
          position: relative;
          top: -8px;
          font-size: $fontRegular;
          color: $logInColor;
          text-decoration: underline;
        } //review
        .main_price {
          font-size: 24px;
          font-weight: bold;
          margin-top: 24px;
          font-family: "Lato-bold";
          > span {
            font-size: 18px;
            font-weight: bold;
            &:after {
              content: "36%";
              color: $primaryColor;
              font-size: 24px;
              margin-left: 8px;
              font-family: "Lato-regular";
            }
          }
          .price_original {
            display: inline-block;
            font-size: 24px;
            margin-left: 24px;
            color: #b8b6b4;
            font-family: "Lato-light";
            text-decoration: line-through;
            span {
              font-size: 18px;
              font-weight: lighter;
            }
          }
        } //main_price
        .select_benefit {
          width: 100%;
          height: 48px;
          border: 1px solid #d2d1d0;
          padding: 14px 20px;
          border-radius: 4px;
          margin-top: 32px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          span {
            font-size: 14px;
            &:last-child {
              float: right;
              transform: translateY(-3px);
            }
            &:last-child:after {
              content: "";
              display: inline-block;
              width: 18px;
              height: 18px;
              background: url(../img/subpage/icon-arrow-down-small.png) center no-repeat;
              margin-left: 4px;
              transform: translateY(5px);
            }
          }
        } //select benefit
        .main_details {
          margin-top: 32px;
          .main_detail {
            margin-top: 24px;
            &:first-child {
              margin-top: 0;
              padding-bottom: 24px;
              border-bottom: 1px solid #e8e8e8;
            }
            &:last-child {
              .row {
                &:last-child {
                  dd {
                    &:last-child:before {
                      content: "";
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: url(../img/subpage/icon-store.png) center no-repeat;
                      transform: translateY(4px);
                      margin-right: 4px;
                    }
                  }
                }
              }
            }
            .row {
              overflow: hidden;
              margin-top: 16px;
              &:first-child {
                margin-top: 0;
              }
              &:after {
                content: "";
                display: block;
                clear: both;
              }
              dt {
                float: left;
                width: 80px;
                font-size: $fontRegular;
                color: $logInColor;
              }
              dd {
                float: left;
                margin-left: 16px;
                font-size: $fontRegular;
                span {
                  color: $primaryColor;
                }
                span.over_5 {
                  color: $logInColor;
                }
                &:after {
                  content: "";
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  margin-left: 7px;
                  background: url(../img/subpage/icon-chevron-right.png) center no-repeat;
                  transform: translateY(4px);
                }
              }
            }
          }
        } //.main_details
        .select_option_wrap {
          margin-top: 32px;
          .select_option {
            width: 100%;
            height: 48px;
            border: 1px solid #d2d1d0;
            border-radius: 4px;
            padding: 14px 20px;
            margin-top: 12px;
            span {
              font-size: $fontRegular;
              &:after {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../img/subpage/icon-chevron-down1.png) center no-repeat;
                float: right;
              }
            }
          } //.select_option
        } //.select_option_wrap
        .btns {
          margin-top: 32px;
          button {
            border-radius: 4px;
            padding: 16px 24px;
            height: 64px;
            margin: 0 0 0 1px;
            width: 64px;
            border: 1px solid #d2d1d0;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 35px;
            img {
              width: 100%;
            }
            &:nth-of-type(1) {
              font-size: 0;
              margin-left: 0;
              padding: 16px;
            }
            &:nth-of-type(2) {
              width: 208px;
            }
            &:nth-of-type(3) {
              width: 208px;
              background: #ff5442;
              border: none;
              color: #fff;
            }
          }
        }
      } //top_right
    } //.top_con
    .subpage_list {
      margin-top: 96px;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        width: 216px;
        float: left;
        text-align: center;
        padding: 18px 20px;
        &.on {
          border-bottom: 3px solid $primaryColor;
          a {
            color: $primaryColor;
            font-weight: bold;
          }
        }
        a {
          display: inline-block;
          width: 176px;
          font-size: 18px;
        }
      }
    }
    .subpage_list_wrap_line {
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #d2d1d0;
    }
    .bottom_left {
      width: 864px;
      margin-top: 64px;
      .bottom_left_img {
        width: 100%;
        height: 551px;
      }
      .bottom_left_main {
        margin-top: 78px;
        dt {
          font-size: 32px;
          font-weight: bold;
          letter-spacing: -2px;
        }
        dd {
          margin-top: 24px;
          font-size: $fontNormal;
          letter-spacing: -0.5px;
          &:last-child {
            margin-top: 16px;
            font-size: $fontRegular;
            color: #605d5b;
          }
        }
      }
      .detail {
        margin-top: 64px;
        dl {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          dt {
            float: left;
            font-size: 24px;
            letter-spacing: -1px;
          }
          dd {
            float: left;
            margin-left: 32px;
            font-size: $fontNormal;
            letter-spacing: -0.5px;
            transform: translateY(6px);
          }
        }
        img {
          width: 864px;
          height: 887px;
          margin-top: 17px;
        }
      } //detail
      .about_product {
        margin-top: 48px;
        thead {
          border-bottom: 1px solid $mainColor;
          tr {
            font-size: 20px;
            letter-spacing: -1px;
            padding-bottom: 16px;
          }
        }
        tbody {
          padding-top: 8px;
          padding-bottom: 24px;
          tr {
            th {
              width: 200px;
              padding-right: 24px;
              font-size: $fontRegular;
              text-align: start;
            }
            td {
              font-size: $fontRegular;
              color: #605d5b;
            }
          }
        }
      }
    } //.bottom_left
  } //.subpage_contents_wrap
}

.top_left_tit {
  font-size: 24px;
  font-weight: bold;
  span {
    display: inline-block;
    transform: translateY(-2px);
    margin-left: 8px;
    font-size: $fontNormal;
    color: $logInColor;
    font-weight: normal;
  }
}
