//font_size
$fontSmall: 12px;
$fontRegular: 14px;
$fontNormal: 16px;
$fontMid: 20px;

//color
$logInColor: #8e8c8a;
$mainColor: #1c1814;
$primaryColor: #00b076;

//product_detail.html main start

.state_page_wrap {
  max-width: 1440px;
  margin: 0 auto;
  .state_page {
    max-width: 1344px;
    margin: 0 62px;
    padding: 24px 0;
    ul {
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        float: left;
        &:before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url(../img/subpage/icon-chevron-right.png) center no-repeat;
          margin: 0 4px;
          transform: translateY(4px);
        }
        &:first-child:before {
          content: "";
          display: none;
        }
        a {
          color: $logInColor;
          font-size: $fontRegular;
        }
      }
    }
  }
}

main.product_detail {
  max-width: 1440px;
  margin: 0 auto;
  .subpage_contents_wrap {
    overflow: hidden;
    max-width: 1344px;
    margin: 0 62px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .top_con {
      overflow: hidden;
      .top_left {
        max-width: 752px;
        float: left;
        .gallery_wrap {
          overflow: hidden;
          width: 100%;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          .mySwiper2 {
            max-width: 640px;
            max-height: 640px;
            margin: 0;
            float: right;
            .swiper-slide {
              max-width: 640px;
              max-height: 640px;
              margin: 0;
              img {
                width: 100%;
              }
            }
          }
          .mySwiper {
            max-width: 96px;
            margin: 0;
            padding: 0;
            float: left;
            margin-right: 16px;
            .swiper-wrapper {
              flex-direction: column;
              .swiper-slide {
                width: 96px !important;
                height: 96px;
                margin-right: 0;
                margin-bottom: 8px;
                cursor: pointer;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
        .story {
          margin-top: 64px;
          .story_slider {
            margin-top: 16px;
            .slick-next {
              top: 32%;
            }
            .slick-prev {
              top: 32%;
            }
            li {
              width: 236px !important;
              a {
                display: inline-block;
                width: 100%;
                height: 100%;
                p {
                  font-size: $fontNormal;
                  letter-spacing: -0.5px;
                  &:before {
                    content: "";
                    display: inline-block;
                    width: 236px;
                    height: 177px;
                    background: url(../img/subpage/thumbnail-storyimg.png) center no-repeat;
                    margin-bottom: 16px;
                  }
                }
                span {
                  display: inline-block;
                  font-size: $fontRegular;
                  color: #605d5b;
                  margin-top: 10px;
                  &:before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url(../img/subpage/img-thumbnail.png) center no-repeat;
                    margin-right: 8px;
                    transform: translateY(6px);
                  }
                }
              }
            }
          }
        }
        .self_guide {
          margin-top: 64px;
          .self_guide_con {
            position: relative;
            margin-top: 16px;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            padding: 24px;
            img {
              width: 208px;
              height: 117px;
              border-radius: 4px;
              margin-right: 24px;
            }
            a {
              position: absolute;
              font-size: $fontNormal;
              top: 42%;
            }
          }
        }
      } //top_left
      .top_right {
        float: right;
        position: relative;
        width: 496px;
        .delivery {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            float: left;
            margin-right: 12px;
            &:first-child {
              a {
                color: #ff5442;
              }
            }
            &:last-child:after {
              content: "1천개 이상 판매";
              float: right;
              color: $logInColor;
              font-size: $fontRegular;
              position: absolute;
              right: 0;
            }
            a {
              font-size: $fontRegular;
              font-weight: bold;
            }
          }
        } //delivery
        .main_tit {
          font-size: 32px;
          margin-top: 24px;
          .share {
            position: absolute;
            top: 44px;
            right: 0;
          }
        }
        .stars {
          overflow: hidden;
          display: inline-block;
          &:after {
            content: "4.0";
            font-size: $fontNormal;
            font-weight: bold;
            position: relative;
            top: -3px;
          }
          li {
            display: inline-block;
            background: url(../img/subpage/icon-star1.png) center no-repeat;
            width: 20px;
            height: 20px;
            &:last-child {
              background: url(../img/subpage/icon-star.png) center no-repeat;
            }
          }
        } //stars
        .review {
          // float: right;
          margin-left: 12px;
          position: relative;
          top: -8px;
          font-size: $fontRegular;
          color: $logInColor;
          text-decoration: underline;
        } //review
        .main_price {
          font-size: 24px;
          font-weight: bold;
          margin-top: 24px;
          font-family: "Lato-bold";
          > span {
            font-size: 18px;
            font-weight: bold;
            &:after {
              content: "36%";
              color: $primaryColor;
              font-size: 24px;
              margin-left: 8px;
              font-family: "Lato-regular";
            }
          }
          .price_original {
            display: inline-block;
            font-size: 24px;
            margin-left: 24px;
            color: #b8b6b4;
            font-family: "Lato-light";
            text-decoration: line-through;
            span {
              font-size: 18px;
              font-weight: lighter;
            }
          }
        } //main_price
        .select_benefit {
          width: 100%;
          height: 48px;
          border: 1px solid #d2d1d0;
          padding: 14px 20px;
          border-radius: 4px;
          margin-top: 32px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          span {
            font-size: 14px;
            &:last-child {
              float: right;
              transform: translateY(-3px);
            }
            &:last-child:after {
              content: "";
              display: inline-block;
              width: 18px;
              height: 18px;
              background: url(../img/subpage/icon-arrow-down-small.png) center no-repeat;
              margin-left: 4px;
              transform: translateY(5px);
            }
          }
        } //select benefit
        .main_details {
          margin-top: 32px;
          .main_detail {
            margin-top: 24px;
            &:first-child {
              margin-top: 0;
              padding-bottom: 24px;
              border-bottom: 1px solid #e8e8e8;
            }
            &:last-child {
              .row {
                &:last-child {
                  dd {
                    &:last-child:before {
                      content: "";
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: url(../img/subpage/icon-store.png) center no-repeat;
                      transform: translateY(4px);
                      margin-right: 4px;
                    }
                  }
                }
              }
            }
            .row {
              overflow: hidden;
              margin-top: 16px;
              &:first-child {
                margin-top: 0;
              }
              &:after {
                content: "";
                display: block;
                clear: both;
              }
              dt {
                float: left;
                width: 80px;
                font-size: $fontRegular;
                color: $logInColor;
              }
              dd {
                float: left;
                margin-left: 16px;
                font-size: $fontRegular;
                span {
                  color: $primaryColor;
                }
                span.over_5 {
                  color: $logInColor;
                }
                &:after {
                  content: "";
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  margin-left: 7px;
                  background: url(../img/subpage/icon-chevron-right.png) center no-repeat;
                  transform: translateY(4px);
                }
              }
            }
          }
        } //.main_details
        .select_option_wrap {
          margin-top: 32px;
          .select_option {
            width: 100%;
            height: 48px;
            border: 1px solid #d2d1d0;
            border-radius: 4px;
            padding: 14px 20px;
            margin-top: 12px;
            span {
              font-size: $fontRegular;
              &:after {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../img/subpage/icon-chevron-down1.png) center no-repeat;
                float: right;
              }
            }
          } //.select_option
        } //.select_option_wrap
        .btns {
          margin-top: 32px;
          button {
            border-radius: 4px;
            padding: 16px 24px;
            height: 64px;
            margin: 0 0 0 1px;
            width: 64px;
            border: 1px solid #d2d1d0;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 35px;
            img {
              width: 100%;
            }
            &:nth-of-type(1) {
              font-size: 0;
              margin-left: 0;
              padding: 16px;
            }
            &:nth-of-type(2) {
              width: 208px;
            }
            &:nth-of-type(3) {
              width: 208px;
              background: #ff5442;
              border: none;
              color: #fff;
            }
          }
        }
      } //top_right
    } //.top_con
    .subpage_list {
      margin-top: 96px;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        width: 216px;
        float: left;
        text-align: center;
        padding: 18px 20px;
        &.on {
          border-bottom: 3px solid $primaryColor;
          a {
            color: $primaryColor;
            font-weight: bold;
          }
        }
        a {
          display: inline-block;
          width: 176px;
          font-size: 18px;
        }
      }
    }
    .subpage_list_wrap_line {
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #d2d1d0;
    }
    .bottom_contents {
      overflow: hidden;
      position: relative;
    }
    .bottom_right {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 64px;
      width: 384px;
      float: right;
      .top_right {
        float: right;
        position: relative;
        width: 100%;
        .select_option_wrap {
          .select_option {
            width: 100%;
            height: 48px;
            border: 1px solid #d2d1d0;
            border-radius: 4px;
            padding: 14px 20px;
            margin-top: 12px;
            &:first-child {
              margin-top: 0;
            }
            span {
              font-size: $fontRegular;
              &:after {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../img/subpage/icon-chevron-down1.png) center no-repeat;
                float: right;
              }
            }
          } //.select_option
        } //.select_option_wrap
        .btns {
          margin-top: 32px;
          button {
            border-radius: 4px;
            padding: 16px 24px;
            height: 64px;
            margin: 0 0 0 1px;
            width: 64px;
            border: 1px solid #d2d1d0;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 35px;
            img {
              width: 100%;
            }
            &:nth-of-type(1) {
              font-size: 0;
              margin-left: 0;
              padding: 16px;
            }
            &:nth-of-type(2) {
              width: 312px;
            }
            &:nth-of-type(3) {
              width: 100%;
              margin-top: 8px;
              background: #ff5442;
              border: none;
              color: #fff;
            }
          }
        }
      } //top_right
    }
    .bottom_left {
      float: left;
      width: 864px;
      margin-top: 64px;
      .bottom_left_img {
        width: 100%;
        height: 551px;
      }
      .bottom_left_main {
        margin-top: 78px;
        dt {
          font-size: 32px;
          font-weight: bold;
          letter-spacing: -2px;
        }
        dd {
          margin-top: 24px;
          font-size: $fontNormal;
          letter-spacing: -0.5px;
          &:last-child {
            margin-top: 16px;
            font-size: $fontRegular;
            color: #605d5b;
          }
        }
      }
      .detail {
        margin-top: 64px;
        dl {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          dt {
            float: left;
            font-size: 24px;
            letter-spacing: -1px;
          }
          dd {
            float: left;
            margin-left: 32px;
            font-size: $fontNormal;
            letter-spacing: -0.5px;
            transform: translateY(6px);
          }
        }
        img {
          width: 864px;
          height: 887px;
          margin-top: 17px;
        }
      } //detail
      .about_product {
        width: 100%;
        border-collapse: collapse;
        margin-top: 48px;
        tr {
          th {
            text-align: start;
            width: 216px;
          }
        }
        thead {
          tr {
            th {
              padding-bottom: 16px;
              font-size: $fontMid;
              letter-spacing: -1px;
            }
          }
        }
        tbody {
          tr {
            &:first-child {
              border-top: 1px solid $mainColor;
              th {
                padding-top: 24px;
              }
              td {
                padding-top: 24px;
              }
            }
            &:last-child {
              border-bottom: 1px solid #e8e8e8;
              th {
                padding-bottom: 24px;
              }
              td {
                padding-bottom: 24px;
              }
            }
            th {
              text-align: start;
              padding-bottom: 16px;
              font-size: $fontRegular;
              letter-spacing: -1.25px;
            }
            td {
              padding-bottom: 16px;
              padding-left: 24px;
              font-size: $fontRegular;
              color: #605d5b;
            }
          }
        }
      } //about_product
      section {
        .section_tit {
          width: 100%;
          height: 48px;
          .bottom_left_tit {
            float: left;
            line-height: 48px;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -1px;
            span {
              margin-left: 8px;
              font-size: $fontNormal;
              color: $logInColor;
            }
          }
          .write {
            float: right;
            width: 160px;
            height: 100%;
            border: 1px solid $primaryColor;
            border-radius: 4px;
            text-align: center;
            padding: 12px 20px;
            font-size: $fontNormal;
            color: $primaryColor;
          }
        }
      }
      section.section_review {
        .notice {
          margin-top: 12px;
          font-size: $fontRegular;
          color: $logInColor;
          letter-spacing: -1px;
          span {
            font-size: $fontRegular;
            color: $mainColor;
          }
        }
        .score {
          overflow: hidden;
          width: 100%;
          padding: 36px 0;
          border-radius: 4px;
          background: #f8f8f8;
          margin: 32px 0;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          .score_left {
            float: left;
            text-align: center;
            padding: 0 136px;
            p {
              font-family: "Lato-bold";
              font-size: 38px;
              font-weight: bold;
              span {
                font-family: "Lato-light";
                font-size: 38px;
                color: #b8b6b4;
                font-weight: normal;
              }
            }
            ul {
              overflow: hidden;
              &:after {
                content: "";
                display: block;
                clear: both;
              }
              li {
                float: left;
              }
            }
          }
          .score_right {
            float: left;
            > ul {
              > li {
                &:nth-child(2) {
                  .numbers_of_review {
                    width: 180px;
                    background: $primaryColor;
                    &:after {
                      content: "";
                    }
                  }
                }
                &:nth-child(3) {
                  .numbers_of_review {
                    width: 90px;
                  }
                }
                &:nth-child(4) {
                  .numbers_of_review {
                    width: 40px;
                  }
                }
                &:nth-child(5) {
                  .numbers_of_review {
                    width: 120px;
                  }
                }
                ul {
                  overflow: hidden;
                  padding-left: 72px;
                  border-left: 1px solid #e8e8e8;
                  &:after {
                    content: "";
                    display: block;
                    clear: both;
                  }
                  li {
                    float: left;
                    color: $logInColor;
                    font-size: 12px;
                    letter-spacing: -0.25px;
                  }
                  .numbers_of_review {
                    display: inline-block;
                    font-size: 0;
                    width: 60px;
                    height: 6px;
                    border-radius: 4px;
                    background-color: #d2d1d0;
                    margin: 8px 7px;
                  }
                }
              }
            }
          }
        } //score
        .review_photo {
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            float: left;
            margin-right: 12px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      } //section_review
      section.section_product {
        .accordian {
          margin-top: 48px;
          h4 {
            font-size: $fontMid;
            letter-spacing: -1px;
          }
          ul {
            margin-top: 16px;
            border-top: 1px solid $mainColor;
            li {
              padding: 24px 0;
              border-bottom: 1px solid #e8e8e8;
              .ac_tit {
                font-size: $fontRegular;
                letter-spacing: -1px;
                &:after {
                  content: "";
                  float: right;
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  background: url(../img/subpage/icon-chevron-down4.png) center no-repeat;
                }
              }
              p {
                display: none;
                position: relative;
                padding: 24px 24px 24px 40px;
                margin-top: 24px;
                border-radius: 4px;
                background: #f8f8f8;
                font-size: $fontRegular;
                letter-spacing: -1px;
                color: #605d5b;
                &:before {
                  content: "";
                  position: absolute;
                  left: 25px;
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  background: url(../img/subpage/icon-reply.png) center no-repeat;
                }
              }
            }
          }
        } //accordian
        .tap2 {
          margin-top: 48px;
          .tap_menu {
            margin-top: 16px;
            .toggle_btn {
              overflow: hidden;
              float: right;
              &:after {
                content: "";
                display: block;
                clear: both;
              }
              li {
                float: left;
                margin-right: 32px;
                &:last-child {
                  margin-right: 0;
                }
                a {
                  font-size: $fontRegular;
                  color: #605d5b;
                  img {
                    margin-right: 7px;
                    transform: translateY(4px);
                  }
                }
              }
            }
          } //tap_menu
          .pop_order {
            &:nth-of-type(2) {
              display: none;
            }
            &:nth-of-type(3) {
              display: none;
            }
            li {
              &:nth-child(3) {
                .ac_tit:before {
                  content: "";
                  display: none;
                }
              }
              .review_top {
                margin-bottom: 16px;
                li {
                  &:nth-child(4) {
                    float: right;
                    margin-left: 16px;
                    a {
                      font-size: $fontRegular;
                      color: #b8b6b4;
                    }
                  }
                  &:nth-child(5) {
                    float: right;
                    font-size: $fontRegular;
                    color: #b8b6b4;
                    a {
                      font-size: $fontRegular;
                      color: #b8b6b4;
                    }
                  }
                }
                .answer {
                  margin-right: 16px;
                  font-weight: bold;
                  color: $logInColor;
                }
                .answer.on {
                  color: $primaryColor;
                  font-weight: bold;
                }
              }
              .ac_tit {
                font-size: $fontRegular;
                letter-spacing: -1px;
                &:before {
                  content: "";
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background: url(../img/subpage/icon-lock.png) center no-repeat;
                  padding-bottom: 5px;
                  margin-bottom: -4px;
                }
                &:after {
                  content: "";
                  float: right;
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  background: url(../img/subpage/icon-chevron-down4.png) center no-repeat;
                  transform: translateY(-21px);
                }
              }
              p {
                position: relative;
                padding: 24px 24px 24px 40px;
                margin-top: 24px;
                border-radius: 4px;
                background: #f8f8f8;
                font-size: $fontRegular;
                letter-spacing: -1px;
                color: #605d5b;
                &:before {
                  content: "";
                  position: absolute;
                  left: 25px;
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  background: url(../img/subpage/icon-reply.png) center no-repeat;
                }
              }
            }
          }
        } //tap2
        .question_mtm {
          width: 100%;
          margin-top: 32px;
          padding: 34px 24px;
          font-size: $fontRegular;
          background: #f1f9f6;
          border-radius: 4px;
          a {
            display: inline-block;
            float: right;
            width: 97px;
            padding: 10px 12px;
            font-size: $fontRegular;
            color: #fff;
            background: $primaryColor;
            border-radius: 3px;
            transform: translateY(-9px);
          }
        }
      } //section_product
      section.refund {
        .about_product {
          caption {
            caption-side: bottom;
            line-height: 2.5;
            font-size: 12px;
            color: $logInColor;
            margin-top: -16px;
            text-align: left;
          }
          tbody {
            font-size: $fontRegular;
            color: #605d5b;
            tr {
              border-bottom: 1px solid #e8e8e8;
              &:nth-child(3) {
                td {
                  > ul {
                    margin-top: 0;
                    > li:first-child {
                      margin-top: 0;
                    }
                  }
                }
              }
              &:nth-child(4) {
                td {
                  > ul {
                    margin-top: 0;
                    > li:first-child {
                      margin-top: 0;
                    }
                  }
                }
              }
              th {
                width: 216px;
                padding: 24px 0 24px 24px;
                letter-spacing: -1px;
                background: #f8f8f8;
              }
              td {
                padding: 24px 0 24px 24px;
                letter-spacing: -1px;
                color: #605d5b;
                ul {
                  font-size: $fontRegular;
                  color: #605d5b;
                  font-weight: bold;
                  margin-top: 16px;
                  li {
                    font-size: $fontRegular;
                    color: #605d5b;
                    margin-top: 8px;
                    margin-left: 20px;
                    position: relative;
                    &:before {
                      content: "";
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: url(../img/subpage/icon-bullet-small.png) center no-repeat;
                      position: absolute;
                      left: -21px;
                    }
                    > a {
                      color: $primaryColor;
                    }
                    ol {
                      margin-top: 8px;
                      li {
                        margin-left: 0;
                        &:before {
                          content: "";
                          display: none;
                        }
                        a {
                          color: $mainColor;
                          text-decoration: underline;
                        }
                        span {
                          color: $mainColor;
                        }
                      }
                    }
                    ul {
                      margin-top: 8px;
                      li {
                        margin-left: 0;
                        &:before {
                          content: "";
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          } //tbody
        } //table
      } //seciton.refund
      section.promo {
        .promotion {
          overflow: hidden;
          margin-top: 24px;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          > li {
            float: left;
            margin-right: 16px;
            width: 424px;
            height: 212px;
            background: url(../img/subpage/img-mo-promo-2.png) center no-repeat;
            padding: 46px 32px;
            &:last-child {
              margin-right: 0;
              background: url(../img/subpage/img-mo-promo-4.png) center no-repeat;
            }
            ul {
              li {
                &:first-child {
                  font-size: 24px;
                  letter-spacing: -1px;
                  font-weight: bold;
                }
                &:nth-child(2) {
                  font-size: $fontNormal;
                  letter-spacing: -1px;
                  line-height: 1.5;
                }
                &:nth-child(3) {
                  font-size: $fontRegular;
                  margin-top: 16px;
                  color: #605d5b;
                }
              }
            }
          }
        }
      } //section.promo
    } //.bottom_left
    section.time_deal.product {
      margin-top: 96px;
      &:last-child {
        margin-bottom: 32px;
      }
      .sec_tit {
        font-size: 32px;
        letter-spacing: -2px;
        font-weight: normal;
        span {
          color: $primaryColor;
        }
      }
      .time_deal_items {
        .responsive {
          margin-top: 32px;
        }
      }
    }
  } //.subpage_contents_wrap
}

.top_left_tit {
  font-size: 24px;
  font-weight: bold;
  span {
    display: inline-block;
    transform: translateY(-2px);
    margin-left: 8px;
    font-size: $fontNormal;
    color: $logInColor;
    font-weight: normal;
  }
}
.tap {
  h4 {
    font-size: $fontMid;
    letter-spacing: -1px;
  }
  .tap_menu {
    width: 100%;
    height: 52px;
    padding: 16px 0;
    margin-top: 32px;
    border-bottom: 1px solid $mainColor;
    .tap_list {
      float: left;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        float: left;
        &.on {
          a {
            font-weight: bold;
            color: $mainColor;
          }
        }
        &:after {
          content: "|";
          color: #e8e8e8;
          margin: 0 16px;
        }
        &:last-child:after {
          content: "";
          display: none;
        }
        a {
          font-size: $fontRegular;
          color: $logInColor;
        }
      }
    } //tap_list
    .score_btn {
      float: right;
      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/subpage/icon-star1.png);
        margin-right: 4px;
      }
      &:after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/subpage/icon-chevron-up.png);
        transform: rotate(180deg) translateY(-3px);
        margin-left: 4px;
      }
    }
  } //.tap_manu
  .pop_order {
    > li {
      padding: 24px 0;
      border-bottom: 1px solid #e8e8e8;
      .review_top {
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        > li {
          float: left;
        }
        .star_score {
          display: inline-block;
          overflow: hidden;
          margin-right: 16px;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
          li {
            float: left;
          }
        }
        .nickname {
          margin-right: 16px;
          font-size: $fontRegular;
          color: $logInColor;
        }
        .date {
          font-size: $fontRegular;
          color: $logInColor;
        }
      } //review_top
      dl {
        margin-top: 16px;
        dt {
          font-size: $fontRegular;
          color: $logInColor;
        }
        dd {
          font-size: $fontRegular;
          margin-top: 8px;
          letter-spacing: -1px;
          button {
            display: block;
            margin-top: 16px;
            color: #b8b6b4;
            font-size: $fontRegular;
            span {
              display: inline-block;
              width: 16px;
              height: 16px;
              background: url(../img/subpage/icon-chevron-down.png) center no-repeat;
              background-size: contain;
              font-size: 0;
              margin-left: 3px;
              float: right;
              margin-top: 2px;
            }
          }
        }
      }
      .photo_review {
        margin-top: 24px;
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          margin-right: 8px;
          &:last-child {
            margin-right: 0;
          }
          &:nth-child(3) {
            display: inline-block;
            width: 134px;
            height: 134px;
            background: #b8b6b4;
            border-radius: 4px;
            text-align: center;
            a {
              position: relative;
              font-size: 14px;
              color: #fff;
              line-height: 164px;
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: -31px;
                left: 11px;
                width: 32px;
                height: 32px;
                background: url(../img/subpage/icon-play-white.png) center no-repeat;
                background-size: contain;
              }
            }
          }
        }
      }
      .question {
        height: 28px;
        line-height: 28px;
        margin-top: 24px;
        > span {
          font-size: $fontRegular;
          color: $logInColor;
          letter-spacing: -1px;
        }
        button {
          width: 64px;
          margin-left: 16px;
          padding: 0 14px;
          border-radius: 14px;
          border: 1px solid #d2d1d0;
          span {
            font-size: 12px;
            &:before {
              content: "";
              display: inline-block;
              width: 18px;
              height: 18px;
              background: url(../img/subpage/icon-thumbs-up.png) center no-repeat;
              background-size: contain;
              margin-right: 2px;
              transform: translateY(3px);
            }
          }
        }
      } //question
      .question.on {
        button {
          border: 1px solid $primaryColor;
          span {
            color: $primaryColor;
            &:before {
              background: url(../img/subpage/icon-thumbs-up1.png) center no-repeat;
            }
          }
        }
      } //question.on
    } //li
  } //pop_order
  .latest_order {
  }
  .page_numbering {
    overflow: hidden;
    width: 480px;
    margin: 24px auto 0;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    li {
      float: left;
      display: inline-block;
      width: 32px;
      height: 32px;
      background: #fff;
      color: #605d5b;
      text-align: center;
      padding: 5px;
      border-radius: 4px;
      margin-right: 8px;
      &:nth-last-child(2) {
        position: relative;
        background: #fff;
        a {
          position: absolute;
          display: inline-block;
          font-size: 0;
          width: 20px;
          height: 20px;
          background: url(../img/subpage/icon-chevron-right2.png) center no-repeat;
          top: 6px;
          left: 6px;
        }
      }
      &:last-child {
        position: relative;
        background: #fff;
        margin-right: 0;
        a {
          position: absolute;
          display: inline-block;
          font-size: 0;
          width: 20px;
          height: 20px;
          background: url(../img/subpage/icon-chevron-double-right.png) center no-repeat;
          top: 6px;
          left: 6px;
        }
      }
    }
    li.on {
      background: $primaryColor;
      a {
        color: #fff;
      }
    }
  }
}
