main {
  max-width: 1344px;
  margin: 0 auto;
  min-height: 100%;
}

main .mySwiper {
  margin-top: 32px;
  padding: 0 24px 56px;
}

main .mySwiper .swiper-slide {
  max-width: 640px;
  max-height: 400px;
}

main .mySwiper .swiper-slide img {
  border-radius: 8px;
}

main .elipse_zone {
  margin-top: 144px;
  width: 100%;
  height: 88px;
  padding: 24px 0;
  border-radius: 8px;
  background: #f8f8f8;
  text-align: center;
}

main .elipse_zone li {
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 8px;
  cursor: pointer;
}

main .elipse_zone li:last-child {
  margin-right: 0;
}

main .elipse_zone li a {
  font-size: 14px;
  color: #605d5b;
}

main section {
  margin-top: 64px;
}

main section .sec_tit strong {
  font-size: 40px;
  color: #1c1814;
  font-weight: bold;
  letter-spacing: -2px;
}

main section:nth-child(2) {
  margin-top: 32px;
}

main section.regular div {
  font-size: 0;
}

main section.category_zone {
  padding-bottom: 96px;
  border-bottom: 1px solid #e8e8e8;
}

main section.category_zone .round_cat {
  margin-top: 32px;
  overflow: hidden;
  text-align: center;
}

main section.category_zone .round_cat:after {
  content: "";
  display: block;
  clear: both;
}

main section.category_zone .round_cat li {
  display: inline-block;
  width: 120px;
  margin-right: 48px;
  float: left;
}

main section.category_zone .round_cat li:last-child {
  margin-right: 0;
}

main section.category_zone .round_cat li:nth-child(8) ~ li {
  margin-top: 32px;
}

main section.category_zone .round_cat li a {
  width: 100%;
  color: #1c1814;
  font-size: 16px;
  margin-top: 16px;
  letter-spacing: -0.5px;
}

main section.category_zone .round_cat li a img {
  width: 100%;
  margin-bottom: 16px;
}

main section.time_deal .time_deal_items {
  width: 100%;
}

main section.time_deal .sec_tit {
  display: inline-block;
}

main section.time_deal .left_min {
  display: inline-block;
  margin-left: 32px;
}

main section.time_deal .left_min span.left_text {
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-right: 16px;
  float: left;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

main section.time_deal .left_min ul {
  overflow: hidden;
  display: inline-block;
  float: left;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main section.time_deal .left_min ul li {
  position: relative;
  float: left;
  padding: 4px;
  width: 40px;
  height: 40px;
  margin-right: 18px;
  background-color: #000;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

main section.time_deal .left_min ul li:after {
  content: ":";
  position: absolute;
  font-size: 16px;
  letter-spacing: -0.5px;
  float: left;
  color: #1c1814;
  right: -13px;
  top: 8px;
}

main section.time_deal .left_min ul li:last-child:after {
  content: "";
  display: none;
}

main section.time_deal .learn_more {
  display: inline-block;
  float: right;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main section.time_deal .learn_more:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/main/icon-chevron-right_6.png) center no-repeat;
  margin-left: 7px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main section.time_deal .learn_more a {
  font-size: 14px;
  color: #8e8c8a;
  letter-spacing: -0.25px;
}

main section.popular_items .tap_list {
  overflow: hidden;
  margin-top: 32px;
  border-bottom: 1px solid #d2d1d0;
}

main section.popular_items .tap_list:after {
  content: "";
  display: block;
  clear: both;
}

main section.popular_items .tap_list li {
  position: relative;
  float: left;
  margin-right: 40px;
  padding: 16px 8px;
}

main section.popular_items .tap_list li:last-child {
  margin-right: 0;
}

main section.popular_items .tap_list li:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #00b076;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section.popular_items .tap_list li.on:after {
  opacity: 1;
}

main section.popular_items .tap_list li.on a {
  font-weight: bold;
  color: #00b076;
}

main section.popular_items .tap_list li a {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #1c1814;
}

main section.popular_items .row .tap {
  display: none;
}

main section.popular_items .row .tap.on {
  display: block;
}

main section.popular_items .row .tap .item_popular {
  width: 236px;
  height: 352px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

main section.popular_items .row .tap .item_popular .img_wrapper {
  margin: 0;
}

main section.popular_items .row .tap .item_popular .img_wrapper img {
  width: 100%;
}

main section.popular_items .row .tap .item_popular .text {
  margin-top: 0;
  padding: 16px;
}

main section.popular_items .row .tap .item_popular .text .sub {
  margin-top: 0;
  font-size: 14px;
}

main section.popular_items .row .tap .item_popular .text .price {
  margin-top: 16px;
  font-size: 18px;
}

main section.popular_items .row .tap .item_popular .text .price span {
  font-size: 14px;
}

main section.popular_items .row .tap .item_popular .text .price:after {
  font-size: 14px;
}

main section.try_it ul.top_try_it {
  overflow: hidden;
  margin-top: 32px;
  padding-bottom: 96px;
}

main section.try_it ul.top_try_it:after {
  content: "";
  display: block;
  clear: both;
}

main section.try_it ul.top_try_it li {
  position: relative;
  float: left;
  width: 416px;
  height: 120px;
  margin-right: 32px;
  padding: 48px 32px 48px 152px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: -1.2px;
}

main section.try_it ul.top_try_it li:last-child {
  margin-right: 0;
}

main section.try_it ul.top_try_it li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  background: url(../img/main/img-mo-try-1.png) center no-repeat;
  background-size: contain;
  border-radius: 8px 0 0 8px;
}

main section.try_it ul.top_try_it li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main section.try_it .main_try_it_wrap {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: 1px solid #e8e8e8;
}

main section.try_it .main_try_it_wrap h3 {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 236px;
  margin-right: 33px;
  font-size: 32px;
  letter-spacing: -2px;
}

main section.try_it .main_try_it_wrap h3 span {
  font-weight: bold;
}

main section.try_it ul.main_try_it {
  overflow: hidden;
}

main section.try_it ul.main_try_it:after {
  content: "";
  display: block;
  clear: both;
}

main section.try_it ul.main_try_it li {
  float: left;
  margin-right: 33px;
  width: 236px;
}

main section.try_it ul.main_try_it li:first-child {
  margin-left: 269px;
}

main section.try_it ul.main_try_it li:nth-child(4) {
  margin-right: 0;
}

main section.try_it ul.main_try_it li:nth-child(9) {
  margin-right: 0;
}

main section.try_it ul.main_try_it li:nth-child(4) ~ li {
  margin-top: 32px;
}

main section.try_it ul.main_try_it li .item {
  width: 100%;
}

main section.try_it ul.main_try_it li .item_try_it .text {
  margin-top: 16px;
}

main section.try_it ul.main_try_it li .item_try_it .text .price {
  margin-top: 0;
  font-size: 18px;
}

main section.try_it ul.main_try_it li .item_try_it .text .price:after {
  font-size: 16px;
}

main section.try_it ul.main_try_it li .item_try_it .text .sub {
  font-size: 14px;
  margin-top: 4px;
  letter-spacing: -0.25px;
}

main .bottom_banner {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: url(../img/main/img-pc-main-fix.png) center no-repeat;
  background-size: contain;
  background-color: #00b076;
  margin-top: 32px;
  cursor: pointer;
}

main section.recommend_brand {
  margin-top: 208px;
}

main section.recommend_brand .rec_con_wrap {
  overflow: hidden;
  max-width: 1312px;
  margin: 0 auto;
  height: 410px;
}

main section.recommend_brand .rec_con_wrap:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .rec_con_wrap .left_recommend {
  position: relative;
  float: left;
  width: 640px;
  height: 100%;
  margin-right: 32px;
  padding: 48px;
  background: url(../img/event/img-mo-cate.png) center no-repeat;
  background-size: cover;
  border-radius: 8px;
}

main section.recommend_brand .rec_con_wrap .left_recommend:before {
  content: "";
  position: absolute;
  width: 640px;
  height: 410px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap {
  position: absolute;
  bottom: 48px;
  left: 48px;
  right: 48px;
}

main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap dl dt {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
}

main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap dl dd {
  font-size: 14px;
  color: #fff;
  letter-spacing: -0.25px;
}

main section.recommend_brand .rec_con_wrap .right_recommend {
  float: left;
  width: 640px;
  height: 100%;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul {
  overflow: hidden;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li {
  float: left;
  width: 192px;
  height: 192px;
  margin-right: 32px;
  background: url(../img/main/img-thumbnail.png) center no-repeat;
  border-radius: 4px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:nth-child(3n) {
  margin-right: 0;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:nth-child(3) ~ li {
  margin-top: 26px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child {
  position: relative;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child:after {
  content: "+15";
  position: absolute;
  font-size: 32px;
  color: #fff;
  letter-spacing: -0.5px;
  left: 65px;
  top: 76px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li a {
  font-size: 0;
}

main section.recommend_brand .information {
  overflow: hidden;
  margin-top: 96px;
}

main section.recommend_brand .information:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .information li.information_li {
  float: left;
  width: 640px;
  margin-right: 32px;
  padding: 32px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

main section.recommend_brand .information li.information_li:last-child {
  margin-right: 0;
}

main section.recommend_brand .information li.information_li dl dt {
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 16px;
}

main section.recommend_brand .information li.information_li dl dd {
  font-size: 14px;
  color: #605d5b;
  letter-spacing: -0.25px;
  margin-top: 8px;
}

main section.recommend_brand .information li.information_li dl dd:first-child {
  margin-top: 0;
}

main section.recommend_brand .information li.information_li dl dd ul {
  overflow: hidden;
}

main section.recommend_brand .information li.information_li dl dd ul:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .information li.information_li dl dd ul li {
  float: left;
  margin-top: 8px;
  margin-left: 12px;
}

main section.recommend_brand .information li.information_li dl dd ul li:first-child {
  margin-left: 0;
}

main section.recommend_brand .information li.information_li dl dd ul li:nth-child(4n) {
  margin-left: 0;
}

main section.recommend_brand .information li.information_li dl dd ul li:after {
  content: "|";
  color: #605d5b;
  margin-left: 12px;
}

main section.recommend_brand .information li.information_li dl dd ul li:nth-child(3n):after {
  content: "";
  display: none;
}

main section.recommend_brand .information li.information_li dl dd ul li:last-child:after {
  content: "";
  display: none;
}

main section.recommend_brand .information li.information_li dl dd ul li a {
  color: #605d5b;
  font-size: 14px;
}

.item {
  width: 100%;
  cursor: pointer;
}

.item .img_wrapper {
  position: relative;
}

.item .img_wrapper span.yellow_text {
  position: absolute;
  top: 25px;
  left: 8px;
  color: #1c1814;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.25px;
  z-index: 5;
}

.item .img_wrapper span.yellow_bg:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url(../img/main/icon-timedeal.png) center no-repeat;
  z-index: 6;
}

.item .img_wrapper span.yellow_bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #ffe73e;
  width: 48px;
  height: 48px;
  border-radius: 4px 0 4px 0;
}

.item .img_wrapper .book_mark {
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 0;
}

.item .img_wrapper img {
  width: 100%;
}

.item .text {
  margin-top: 16px;
}

.item .text .price {
  font-size: 24px;
  color: #1c1814;
  font-family: Lato-bold;
}

.item .text .price span {
  font-size: 18px;
  letter-spacing: -0.5px;
  font-family: notoSansCjKkr;
  font-weight: bold;
}

.item .text .price:after {
  content: "20%";
  font-family: Lato-regular;
  color: #00b076;
  font-size: 20px;
  margin-left: 12px;
}

.item .sub {
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #605d5b;
}

.item .star {
  margin-top: 24px;
}

.item .star span {
  font-size: 14px;
  color: #8e8c8a;
  letter-spacing: -0.25px;
}

.item .star span:first-child:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/main/icon-star.png) center no-repeat;
  margin-right: 4px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.item .star span:nth-child(2) {
  margin-left: 12px;
}

.item .stand_out {
  margin-top: 8px;
}

.item .stand_out span {
  font-size: 14px;
  letter-spacing: -0.25px;
  font-weight: bold;
}

.item .stand_out span:first-child {
  color: #ff5442;
}

.item .stand_out span:nth-child(2) {
  margin-left: 12px;
  color: #605d5b;
}

.regular .slick-list.draggable {
  width: 1320px;
  margin: 0 auto;
}

.regular .slick-list.draggable .slick-track {
  left: 8px;
}

.regular .slick-list.draggable .slick-track .slick-slide {
  width: 640px;
  height: 400px;
}

.regular .slick-next {
  right: 0;
}

.regular .slick-prev {
  left: -9px;
}

.regular .slide-placeholder {
  width: 640px;
  height: 400px;
}

.regular .slide-placeholder img {
  width: 640px;
  height: 400px;
  border-radius: 8px;
}

.regular li[role="presentation"] {
  display: none;
}

.regular .pagingInfo {
  display: inline-block;
  width: 84px;
}

.time_deal_items .responsive .slick-list {
  margin-right: 0;
}

.time_deal_items .responsive .slick-list .slick-slide {
  margin-right: 32px;
}

.time_deal_items .responsive .slick-next {
  right: 0;
}

.popular .slick-prev {
  left: -19px;
  top: 106px;
}

.popular .slick-list.draggable {
  height: 370px;
}

.popular .slick-list.draggable .slick-track {
  left: 6px;
}

.popular .slick-next {
  right: 0;
  top: 106px;
}

.recommend .slick-prev {
  left: -10px;
}

.recommend .slick-next {
  right: 0;
}

.pagingInfo {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 84px;
  height: 32px;
  padding: 5px 16px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background: #fff;
  font-size: 14px;
  text-align: center;
}

.pagingInfo span {
  font-size: 14px;
  color: #b8b6b4;
}

.pause {
  position: absolute;
  left: 47.5%;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background: url(../img/main/icon-pause.png) center no-repeat;
  cursor: pointer;
}

/*media query*/
@media only screen and (min-width: 769px) {
  .sub_nav_slider {
    display: none;
  }
  main section.try_it .main_try_it_wrap h3.mo_try_it_tit {
    display: none;
  }
  .mo_try_it_wrap {
    display: none;
  }
  .regular_mo {
    display: none;
  }
  .pagingInfo_mo {
    display: none;
  }
  .time_deal_bg {
    display: none;
  }
  .reponsive_mo {
    display: none;
  }
  .bottom_banner_mo {
    display: none;
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .header_bg {
    height: 95px;
  }
  header {
    min-width: 360px;
    height: 95px;
  }
  header .main_gnb {
    top: 0;
    padding: 12px 16px;
  }
  header .main_gnb .left {
    position: 0;
    top: 0;
  }
  header .main_gnb .right {
    position: absolute;
    top: 0;
    right: 16px;
  }
  header .main_gnb .right fieldset {
    border: none;
  }
  header .main_gnb .right fieldset input {
    width: 0;
  }
  header .main_gnb .right .icons {
    margin-left: 24px;
  }
  header .main_gnb h1 {
    max-width: 107px;
    margin-right: 0;
  }
  header .main_gnb h1 a img {
    width: 88px;
    height: 24px;
    top: -7px;
  }
  header .main_gnb .left {
    display: inline-block;
  }
  header .main_gnb .left .main_nav {
    display: none;
  }
  header .main_gnb .right {
    float: right;
    display: inline-block;
  }
  header .main_gnb .right .icons li:first-child {
    display: none;
  }
  header .main_gnb .right .icons li:nth-child(2) {
    display: none;
  }
  header .log_in {
    display: none;
  }
  header .sub_nav {
    display: none;
  }
  header .sub_nav_slider {
    display: block;
    position: absolute;
    top: 39px;
    padding-left: 16px;
  }
  header .sub_nav_slider .sub_nav_mo {
    display: block;
  }
  header .sub_nav_slider .sub_nav_mo > ul {
    position: relative;
    overflow: hidden;
  }
  header .sub_nav_slider .sub_nav_mo > ul:after {
    content: "";
    display: block;
    clear: both;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li {
    position: relative;
    float: left;
    margin-right: 16px;
    padding: 16px 8px;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #00b076;
    display: none;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li.on:after {
    display: inline-block;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li.on > a {
    color: #00b076;
    font-weight: bold;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li:nth-of-type(2):after {
    content: "";
    display: none;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li:nth-of-type(3):after {
    content: "";
    display: none;
  }
  header .sub_nav_slider .sub_nav_mo > ul > li > a {
    display: inline-block;
    height: 100%;
    font-size: 16px;
  }
  main .regular_mo_wrap .regular_mo {
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
    font-size: 0;
  }
  main .regular_mo_wrap .regular_mo .slick-dots {
    display: none !important;
  }
  main .regular_mo_wrap .regular_mo .slick-prev {
    display: none !important;
  }
  main .regular_mo_wrap .regular_mo .slick-next {
    display: none !important;
  }
  main .regular_mo_wrap .regular_mo .slick-dots {
    display: none;
  }
  main .regular_mo_wrap .pagingInfo_mo {
    position: absolute;
    padding: 6px 20px;
    right: 0;
    top: 463px;
    width: 96px;
    height: 32px;
    border-radius: 4px 0 0 0;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    letter-spacing: 4px;
  }
  main .regular_mo_wrap .pagingInfo_mo span {
    color: rgba(255, 255, 255, 0.6);
  }
  main .regular {
    display: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
  main .regular .slick-prev {
    display: none;
  }
  main .regular .slick-next {
    display: none;
  }
  main .regular .slick-list.draggable .slick-track .slick-slide > div .slide-placeholder {
    width: 100%;
  }
  main .regular .slick-list.draggable .slick-track .slick-slide > div .slide-placeholder img {
    width: 100%;
    border-radius: 0;
  }
  main .pagingInfo {
    display: none;
  }
  main .pause {
    display: none;
  }
  main .elipse_zone {
    margin-top: 32px;
    padding: 0;
    height: auto;
    background: none;
  }
  main .elipse_zone li {
    border: 1px solid #d8f1e8;
    border-radius: 16px;
    padding: 6px 16px;
  }
  main .elipse_zone li a {
    color: #00b076;
  }
  main section.try_it {
    margin-top: 32px;
  }
  main section.try_it .sec_tit {
    display: none;
  }
  main section.try_it .top_try_it {
    display: none;
  }
  main section.try_it .main_try_it_wrap {
    border: none;
    padding-bottom: 32px;
    padding-top: 0;
  }
  main section.try_it .main_try_it_wrap:nth-of-type(2n-1) ul li:last-child {
    display: none;
  }
  main section.try_it .main_try_it_wrap:nth-of-type(3) {
    padding-top: 110px;
  }
  main section.try_it .main_try_it_wrap h3 {
    display: none;
  }
  main section.try_it .main_try_it_wrap h3.mo_try_it_tit {
    position: static;
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    margin-bottom: 19px;
  }
  main section.try_it ul.main_try_it li {
    width: 156px;
    margin-top: 24px;
  }
  main section.try_it ul.main_try_it li:first-child {
    margin-left: 0;
    margin-top: 0;
  }
  main section.try_it ul.main_try_it li:nth-child(2) {
    margin-top: 0;
  }
  main section.try_it ul.main_try_it li:nth-child(2n) {
    margin-right: 8px;
  }
  main section.try_it ul.main_try_it li:nth-child(2n-1) {
    margin-right: 8px;
  }
  main section.try_it ul.main_try_it li .item .text {
    margin-top: 8px;
  }
  main section.try_it ul.main_try_it li .item .text .sub {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  main section.time_deal {
    position: relative;
  }
  main section.time_deal .time_deal_bg {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background: url(../img/mobile/img-banner-timedeal@3x.png) center no-repeat;
  }
  main section.time_deal .sec_tit {
    position: inherit;
    line-height: 80px;
    margin-left: 20px;
  }
  main section.time_deal .sec_tit strong {
    font-size: 20px;
    letter-spacing: normal;
  }
  main section.time_deal .sec_tit strong:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/mobile/icon-chevron-right_2.png) center no-repeat;
    margin-left: 4px;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  main section.time_deal .left_min {
    position: absolute;
    right: 0px;
    top: 19px;
  }
  main section.time_deal .left_min .left_text {
    font-size: 12px;
    letter-spacing: normal;
  }
  main section.time_deal .left_min ul li {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    font-size: 16px;
  }
  main section.time_deal .left_min ul li:after {
    right: -9px;
    top: 4px;
  }
  main section.time_deal .learn_more {
    display: none;
  }
  main section.time_deal .time_deal_items .responsive {
    display: none !important;
  }
  main section.time_deal .time_deal_items .reponsive_mo {
    overflow: hidden;
    margin-top: 24px;
  }
  main section.time_deal .time_deal_items .reponsive_mo:after {
    content: "";
    display: block;
    clear: both;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item {
    float: left;
    width: 156px;
    margin-right: 8px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item:nth-of-type(2) ~ .item {
    margin-top: 24px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .img_wrapper .yellow_text {
    font-size: 10px;
    top: 19px;
    left: 5px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .img_wrapper .yellow_bg:before {
    width: 16px;
    height: 16px;
    background-size: contain;
    left: 11px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .img_wrapper .yellow_bg:after {
    width: 36px;
    height: 36px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text {
    margin-top: 8px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .price {
    font-size: 16px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .price span {
    font-size: 14px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .price:after {
    font-size: 14px;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .sub {
    margin-top: 4px;
    font-size: 14px;
  }
  main .bottom_banner {
    background-size: cover;
  }
  main .mo_try_it {
    display: block;
  }
  main section.popular_items .sec_tit strong {
    font-size: 20px;
    letter-spacing: normal;
  }
  main section.popular_items .tap_list {
    margin-top: 14px;
  }
  main section.popular_items .tap_list li {
    margin-right: 24px;
  }
  main section.popular_items .tap_list li a {
    font-size: 14px;
  }
  main section.popular_items .popular {
    width: 768px;
  }
  main section.popular_items .popular .slick-next {
    display: none !important;
  }
  main section.popular_items .popular .slick-prev {
    display: none !important;
  }
  main section.popular_items .popular .slick-list {
    height: 255px;
  }
  main section.popular_items .popular .slick-list .slick-slide {
    margin-right: 8px;
  }
  main section.popular_items .popular .slick-list .slick-slide .slide-placeholder .item_popular {
    max-width: 140px;
    max-height: 244px;
  }
  main section.popular_items .popular .slick-list .slick-slide .slide-placeholder .item_popular .text .price {
    margin-top: 12px;
  }
  main section.popular_items .popular .slick-list .slick-slide .slide-placeholder .item_popular .text .sub {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  main section.recommend_brand {
    margin-top: 32px;
  }
  main section.recommend_brand .sec_tit strong {
    font-size: 20px;
  }
  main section.recommend_brand .recommend {
    display: none;
  }
  main section.recommend_brand .information {
    display: none;
  }
  main .mo_try_it_wrap .sec_tit strong {
    font-size: 20px;
    font-weight: bold;
  }
  main .mo_try_it_wrap .mo_try_it {
    overflow: hidden;
    margin-top: 16px;
    padding-bottom: 32px;
  }
  main .mo_try_it_wrap .mo_try_it:after {
    content: "";
    display: block;
    clear: both;
  }
  main .mo_try_it_wrap .mo_try_it li {
    position: relative;
    float: left;
    width: 320px;
    height: 72px;
    padding: 26px 16px 26px 88px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: normal;
    margin-top: 8px;
  }
  main .mo_try_it_wrap .mo_try_it li:first-child {
    margin-top: 0;
  }
  main .mo_try_it_wrap .mo_try_it li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 72px;
    height: 72px;
    background: url(../img/main/img-mo-try-1.png) center no-repeat;
    background-size: contain;
    border-radius: 4px 0 0 4px;
  }
  main .mo_try_it_wrap .mo_try_it li a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  main .bottom_banner {
    display: none;
  }
  main .bottom_banner_mo {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
    height: 48px;
    background: url(../img/mobile/img-banner-coupon-now.png) center no-repeat;
    background-size: contain;
    background-color: #00b076;
    margin-top: 32px;
    cursor: pointer;
  }
}
