@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Black.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-DemiLight.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Light.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Medium.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Regular.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Thin.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansMonoCJKkr-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansMonoCJKkr-Regular.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansMonoCJKkr-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-bold";
  src: url(../font/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-light";
  src: url(../font/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-regular";
  src: url(../font/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-ThinItalic.ttf) format("truetype");
}
