/*header*/
.header_bg {
  position: absolute;
  width: 100%;
  height: 193px;
  background: #fff;
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.08);
}

header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 193px;
}

header .log_in {
  overflow: hidden;
  position: absolute;
  top: 16px;
  right: 0;
  margin-right: 64px;
}

header .log_in:after {
  content: "";
  display: block;
  clear: both;
}

header .log_in > li {
  float: left;
  margin-left: 12px;
}

header .log_in > li > a {
  color: #8e8c8a;
  font-size: 12px;
}

header .log_in > li:last-child:after {
  content: "";
  display: none;
}

header .log_in > li:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background: #8e8c8a;
  margin-left: 12px;
}

header .main_gnb {
  overflow: hidden;
  position: absolute;
  top: 65px;
  width: 100%;
  height: 52px;
  padding: 0 64px;
}

header .main_gnb:after {
  content: "";
  display: block;
  clear: both;
}

header > .main_gnb > .left {
  float: left;
  overflow: hidden;
  line-height: 52px;
}

header > .main_gnb > .right {
  float: right;
  overflow: hidden;
}

header > .main_gnb > .left:after,
header > .main_gnb > .right:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb > .left > h1,
header .main_gnb > .left > .main_nav,
header .main_gnb > .right > .search,
header .main_gnb > .right > .icons {
  float: left;
}

header .main_gnb h1 {
  position: relative;
  margin-right: 48px;
  width: 139px;
  height: 39px;
  font-size: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

header .main_gnb h1 img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

header .main_gnb .main_nav > ul {
  overflow: hidden;
}

header .main_gnb .main_nav > ul:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb .main_nav > ul > li {
  float: left;
  margin-right: 48px;
}

header .main_gnb .main_nav > ul > li > a {
  font-size: 20px;
  font-weight: bold;
  color: #1c1814;
}

header .main_gnb .main_nav > ul > li > a.on {
  color: #00b076;
}

header fieldset {
  display: inline-block;
  float: left;
  border: none;
  border-bottom: 2px solid #1c1814;
  width: 320px;
  color: #8e8c8a;
  padding: 12px 0 10px 8px;
}

header fieldset legend {
  font-size: 0;
}

header fieldset input {
  border: none;
}

header fieldset button {
  width: 28px;
  height: 28px;
  font-size: 0;
  float: right;
  cursor: pointer;
  border: none;
  font-size: 0;
}

header fieldset button img {
  width: 100%;
}

header .main_gnb .icons {
  overflow: hidden;
  margin-left: 48px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header .main_gnb .icons:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb .icons > li {
  margin-right: 32px;
  float: left;
}

header .main_gnb .icons > li:last-child {
  margin-right: 0;
}

header .main_gnb .icons > li > a {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  font-size: 0;
}

header .main_gnb .icons > li:first-child > a {
  background: url(../img/nav/icon-utillity.png) center no-repeat;
}

header .main_gnb .icons > li:nth-child(2) > a {
  background: url(../img/nav/icon-mypage-default.png) center no-repeat;
}

header .main_gnb .icons > li:nth-child(3) > a > img {
  width: 100%;
}

header .main_gnb .icons > li:nth-child(3) > a > span {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #ff5442;
}

header .main_gnb .icons > li:nth-child(3) > a > span > span {
  position: absolute;
  right: 6px;
  bottom: 1px;
  font-size: 8px;
  color: #fff;
}

/*sub_nav*/
header .sub_nav {
  position: absolute;
  top: 137px;
  padding-left: 62px;
}

header .sub_nav > ul {
  position: relative;
}

header .sub_nav > ul:after {
  content: "";
  display: block;
  clear: both;
}

header .sub_nav > ul > li {
  position: relative;
  float: left;
  margin-right: 16px;
  padding: 16px 8px;
}

header .sub_nav > ul > li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #00b076;
  display: none;
}

header .sub_nav > ul > li.on:after {
  display: inline-block;
}

header .sub_nav > ul > li.on > a {
  color: #00b076;
  font-weight: bold;
}

header .sub_nav > ul > li:hover dl {
  display: block;
}

header .sub_nav > ul > li:nth-of-type(2):after {
  content: "";
  display: none;
}

header .sub_nav > ul > li:nth-of-type(3):after {
  content: "";
  display: none;
}

header .sub_nav > ul > li > a {
  display: inline-block;
  height: 100%;
  font-size: 16px;
}

header .sub_nav > ul > li > a.category:after,
header .sub_nav > ul > li > a.space:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: url(../img/nav/icon-chevron-down.png) center no-repeat;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .sub_nav > ul > li > a.category:hover:after,
header .sub_nav > ul > li > a.space:hover:after {
  content: "";
  background: url(../img/nav/icon-chevron-up.png) center no-repeat;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/*a.space*/
header .sub_nav > ul > li > .space_box {
  overflow: hidden;
  position: absolute;
  width: 392px;
  height: 436px;
  padding: 32px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  top: 57px;
  left: 0px;
  border-radius: 0 0 10px 10px;
  display: none;
  z-index: 999;
}

header .sub_nav > ul > li > .space_box > p {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: bold;
}

header .sub_nav > ul > li > .space_box > ul > li {
  float: left;
  margin-right: 24px;
  margin-top: 24px;
  text-align: center;
}

header .sub_nav > ul > li > .space_box > ul > li > a {
  position: relative;
  display: inline-block;
  padding-top: 72px;
  width: 64px;
  color: #605d60;
  font-size: 14px;
}

header .sub_nav > ul > li > .space_box > ul > li > a:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  background: url(../img/nav/img-thumbnail.png) center no-repeat;
  margin-bottom: 8px;
}

header .sub_nav > ul > li > .space_box > ul > li > a:hover {
  color: #00b076;
  font-weight: bold;
}

header .sub_nav > ul > li > .space_box > ul > li:nth-child(4n) {
  margin-right: 0;
}

header .sub_nav > ul > li:last-child {
  margin: 0;
}

header .sub_nav > ul > li .dl_wrap {
  position: absolute;
  top: 35px;
}

header .sub_nav > ul > li dl {
  position: absolute;
  width: 224px;
  padding: 32px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 57px;
  left: -25px;
  border-radius: 0 0 10px 10px;
  display: none;
  z-index: 999;
}

header .sub_nav > ul > li dl.on {
  width: 448px;
}

header .sub_nav > ul > li dl dt {
  color: #1c1814;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

header .sub_nav > ul > li:nth-child(2) dl dt:first-child {
  margin-top: 0;
}

header .sub_nav > ul > li dl dd,
header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a {
  font-size: 14px;
  color: #605d5b;
}

header .sub_nav > ul > li dl dd {
  padding-top: 16px;
}

header .sub_nav > ul > li dl dd:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../img/nav/icon-category-appliances.png) center no-repeat;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .sub_nav > ul > li dl dd:nth-child(2):before {
  background: url(../img/nav/icon-category-diyfloor.png);
}

header .sub_nav > ul > li dl dd:nth-child(4):before {
  background: url(../img/nav/icon-category-electric.png);
}

header .sub_nav > ul > li dl dd:nth-child(5):before {
  background: url(../img/nav/icon-category-fabric.png);
}

header .sub_nav > ul > li dl dd:nth-child(6):before {
  background: url(../img/nav/icon-category-faucets.png);
}

header .sub_nav > ul > li dl dd:nth-child(7):before {
  background: url(../img/nav/icon-category-hardware.png);
}

header .sub_nav > ul > li dl dd:nth-child(8):before {
  background: url(../img/nav/icon-category-light.png);
}

header .sub_nav > ul > li dl dd:nth-child(9):before {
  background: url(../img/nav/icon-category-living.png);
}

header .sub_nav > ul > li dl dd:nth-child(10):before {
  background: url(../img/nav/icon-category-materials.png);
}

header .sub_nav > ul > li dl dd:nth-child(11):before {
  background: url(../img/nav/icon-category-office.png);
}

header .sub_nav > ul > li dl dd:nth-child(12):before {
  background: url(../img/nav/icon-category-outdoor.png);
}

header .sub_nav > ul > li dl dd:nth-child(13):before {
  background: url(../img/nav/icon-category-paint.png);
}

header .sub_nav > ul > li dl dd:nth-child(14):before {
  background: url(../img/nav/icon-category-sheet.png);
}

header .sub_nav > ul > li dl dd:nth-child(15):before {
  background: url(../img/nav/icon-category-tile.png);
}

header .sub_nav > ul > li dl dd:nth-child(16):before {
  background: url(../img/nav/icon-category-tools.png);
}

header .sub_nav > ul > li dl dd:hover {
  color: #00b076;
  cursor: pointer;
}

header .sub_nav > ul > li dl dd > ul {
  border-left: 1px solid #f4f4f4;
  position: absolute;
  top: 0;
  left: 224px;
  height: 648px;
  width: 224px;
  padding-left: 32px;
  padding-top: 72px;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  visibility: hidden;
}

header .sub_nav > ul > li dl dd > ul.on {
  visibility: visible;
}

header .sub_nav > ul > li dl dd > ul > li {
  margin-top: 21px;
}

header .sub_nav > ul > li:nth-child(2) dl dd > ul > li:first-child {
  margin-top: 0;
}

header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a:hover {
  color: #00b076;
}

footer {
  margin-top: 96px;
  background-color: #fff;
}

footer .talk_talk_wrap {
  width: 100%;
  background: #f8f8f8;
  border-top: 1px solid #e8e8e8;
}

footer .talk_talk_wrap .talk_talk {
  max-width: 1344px;
  margin: 0 auto;
  overflow: hidden;
  height: 64px;
  padding: 23px 0 21px 0;
}

footer .talk_talk_wrap .talk_talk:after {
  content: "";
  display: block;
  clear: both;
}

footer .talk_talk_wrap .talk_talk .consulting {
  overflow: hidden;
  float: left;
}

footer .talk_talk_wrap .talk_talk .consulting:after {
  content: "";
  display: block;
  clear: both;
}

footer .talk_talk_wrap .talk_talk .consulting dt {
  float: left;
  font-size: 14px;
  letter-spacing: -0.25px;
  font-weight: bold;
}

footer .talk_talk_wrap .talk_talk .consulting dd {
  float: left;
  font-size: 14px;
  letter-spacing: -0.25px;
  color: #605d5b;
  margin-left: 16px;
}

footer .talk_talk_wrap .talk_talk .consult_click {
  float: left;
}

footer .talk_talk_wrap .talk_talk .consult_click a {
  display: inline-block;
  font-size: 14px;
  letter-spacing: -0.25px;
  color: #3dae44;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

footer .talk_talk_wrap .talk_talk .consult_click a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/main/icon-talktalk.png) center no-repeat;
  margin-left: 16px;
  margin-right: 8px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

footer .talk_talk_wrap .talk_talk .inquary {
  overflow: hidden;
  float: right;
}

footer .talk_talk_wrap .talk_talk .inquary:after {
  content: "";
  display: block;
  clear: both;
}

footer .talk_talk_wrap .talk_talk .inquary li {
  float: left;
  margin-right: 32px;
}

footer .talk_talk_wrap .talk_talk .inquary li:last-child {
  margin-right: 0;
}

footer .talk_talk_wrap .talk_talk .inquary li a {
  font-size: 14px;
  letter-spacing: -0.25px;
}

footer .footer {
  overflow: hidden;
  padding: 32px 0 64px;
  max-width: 1344px;
  margin: 0 auto;
}

footer .footer:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer .footer_left {
  float: left;
}

footer .footer .footer_left h2 {
  width: 110px;
  height: 30px;
  background: url(../img/main/img-logo-eng-full.png) center no-repeat;
  font-size: 0;
}

footer .footer .footer_left .slogan {
  margin-top: 16px;
}

footer .footer .footer_left .slogan p:first-child {
  font-size: 20px;
  letter-spacing: -0.5px;
}

footer .footer .footer_left .slogan p:last-child {
  font-size: 24px;
  letter-spacing: -1px;
}

footer .footer .footer_mid {
  float: left;
  margin-left: 71px;
}

footer .footer .footer_mid .footer_gnb {
  overflow: hidden;
}

footer .footer .footer_mid .footer_gnb:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer .footer_mid .footer_gnb li {
  float: left;
  margin-right: 32px;
}

footer .footer .footer_mid .footer_gnb li:last-child {
  margin-right: 0;
}

footer .footer .footer_mid .footer_gnb li a {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: bold;
}

footer .footer .footer_mid .return_add {
  margin-top: 24px;
}

footer .footer .footer_mid .return_add span {
  font-size: 14px;
  color: #605d5b;
  letter-spacing: -0.25px;
}

footer .footer .footer_mid .return_add span:last-child {
  margin-left: 12px;
}

footer .footer .footer_mid address {
  margin-top: 16px;
}

footer .footer .footer_mid address ul {
  overflow: hidden;
}

footer .footer .footer_mid address ul:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer .footer_mid address ul li:nth-child(2) a {
  color: #1c1814;
}

footer .footer .footer_mid address ul li span {
  font-size: 12px;
  letter-spacing: -0.25px;
  color: #8e8c8a;
  margin-left: 12px;
}

footer .footer .footer_mid address ul li span:first-child {
  margin-left: 0;
}

footer .footer .footer_mid address ul li a {
  font-size: 12px;
  letter-spacing: -0.25px;
  color: #8e8c8a;
  margin-left: 12px;
}

footer .footer .footer_mid address ul li a:first-child {
  margin-left: 0;
}

footer .footer .footer_mid .documents {
  overflow: hidden;
  margin-top: 16px;
}

footer .footer .footer_mid .documents:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer .footer_mid .documents li {
  float: left;
}

footer .footer .footer_mid .documents li:first-child:after {
  content: "|";
  margin: 0 12px;
  color: #e8e8e8;
}

footer .footer .footer_mid .documents li:nth-child(2) a {
  color: #1c1814;
}

footer .footer .footer_mid .documents li a {
  font-size: 12px;
  letter-spacing: -0.25px;
  color: #8e8c8a;
}

footer .footer .footer_mid .copyright {
  display: inline-block;
  margin-top: 16px;
  font-size: 12px;
  color: #b8b6b4;
  letter-spacing: -0.25px;
}

footer .footer .footer_right {
  float: right;
}

footer .footer .footer_right .qr_code {
  overflow: hidden;
}

footer .footer .footer_right .qr_code:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer .footer_right .qr_code a {
  float: left;
  font-size: 0;
}

footer .footer .footer_right .qr_code dl {
  margin-left: 12px;
}

footer .footer .footer_right .qr_code dl dt {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: bold;
}

footer .footer .footer_right .qr_code dl dd {
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: -0.25px;
  color: #605d5b;
}

footer .footer .footer_right .sns_icons {
  overflow: hidden;
  margin-top: 32px;
}

footer .footer .footer_right .sns_icons:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer .footer_right .sns_icons li {
  float: left;
  margin-right: 16px;
}

footer .footer .footer_right .sns_icons li:first-child a {
  background: url(../img/main/icon-logo-facebook.png) center no-repeat;
}

footer .footer .footer_right .sns_icons li:nth-child(2) a {
  background: url(../img/main/icon-logo-instagram.png) center no-repeat;
}

footer .footer .footer_right .sns_icons li:nth-child(3) a {
  background: url(../img/main/icon-logo-naver-blog-text.png) center no-repeat;
}

footer .footer .footer_right .sns_icons li:last-child {
  margin-right: 0;
}

footer .footer .footer_right .sns_icons li:last-child a {
  background: url(../img/main/icon-logo-youtube.png) center no-repeat;
}

footer .footer .footer_right .sns_icons li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 100%;
  font-size: 0;
}
