@charset "UTF-8";
/* style.css 미디어쿼리 vw 계산기 변환 후 복붙*/

/*index.html의 @media screen and (min-width: 769px) and (max-width: 1340px) 잠시 주석*/

@media screen and (min-width: 769px) and (max-width: 1340px) {
  .header_bg {
    width: 100%;
    height: 14.0876vw;
    background: #fff;
    -webkit-box-shadow: 0 0.292vw 0.292vw -0.292vw rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.292vw 0.292vw -0.292vw rgba(0, 0, 0, 0.08);
  }

  header {
    max-width: 105.1095vw;
    margin: 0 auto;
    height: 14.0876vw;
  }

  header .log_in {
    top: 1.1679vw;
    right: 0;
    margin-right: 4.6715vw;
  }

  header .log_in:after {
    clear: both;
  }

  header .log_in > li {
    margin-left: 0.8759vw;
  }

  header .log_in > li > a {
  }

  header .log_in > li:last-child:after {
  }

  header .log_in > li:after {
    width: 0.073vw;
    height: 0.5839vw;
    background: #8e8c8a;
    margin-left: 0.8759vw;
  }

  header .main_gnb {
    top: 4.7445vw;
    width: 100%;
    height: 3.7956vw;
    padding: 0 4.6715vw;
  }

  header .main_gnb:after {
    clear: both;
  }

  header > .main_gnb > .left {
    line-height: 3.7956vw;
  }

  header > .main_gnb > .right {
  }

  header > .main_gnb > .left:after,
  header > .main_gnb > .right:after {
    clear: both;
  }

  header .main_gnb > .left > h1,
  header .main_gnb > .left > .main_nav,
  header .main_gnb > .right > .search,
  header .main_gnb > .right > .icons {
  }

  header .main_gnb h1 {
    margin-right: 3.5036vw;
    width: 10.146vw;
    height: 2.8467vw;
    font-size: 0;
    -webkit-transform: translateY(0.5839vw);
    transform: translateY(0.5839vw);
  }

  header .main_gnb h1 img {
    width: 100%;

    left: 0;
    top: 0;
  }

  header .main_gnb .main_nav > ul {
  }

  header .main_gnb .main_nav > ul:after {
    clear: both;
  }

  header .main_gnb .main_nav > ul > li {
    margin-right: 3.5036vw;
  }

  header .main_gnb .main_nav > ul > li > a {
    font-size: 1.4599vw;
  }

  header .main_gnb .main_nav > ul > li > a.on {
  }

  header fieldset {
    position: relative;
    border: none;
    border-bottom: 0.146vw solid #1c1814;
    width: 23.3577vw;
    padding: 0.8759vw 0 0.7299vw 0.5839vw;
  }

  header fieldset input {
    border: none;
  }

  header fieldset input::placeholder {
    font-size: 1.194vw;
  }

  header fieldset button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.0438vw;
    height: 2.0438vw;
    font-size: 0;
    transform: translateY(10px);
    cursor: pointer;
    border: none;
    font-size: 0;
  }

  header fieldset button img {
    width: 100%;
  }

  header .main_gnb .icons {
    margin-left: 3.5036vw;
    -webkit-transform: translateY(0.7299vw);
    transform: translateY(0.7299vw);
  }

  header .main_gnb .icons:after {
    clear: both;
  }

  header .main_gnb .icons > li {
    margin-right: 2.3358vw;
  }

  header .main_gnb .icons > li:last-child {
    margin-right: 0;
  }

  header .main_gnb .icons > li > a {
    width: 2.3358vw;
    height: 2.3358vw;
    font-size: 0;
  }

  header .main_gnb .icons > li:first-child > a {
    background: url(../img/nav/icon-utillity.png) center no-repeat;
    background-size: contain;
  }

  header .main_gnb .icons > li:nth-child(2) > a {
    background: url(../img/nav/icon-mypage-default.png) center no-repeat;
    background-size: contain;
  }

  header .main_gnb .icons > li:nth-child(3) > a > img {
    width: 100%;
  }

  header .main_gnb .icons > li:nth-child(3) > a > span {
    right: 0;
    bottom: 0;
    width: 1.2409vw;
    height: 1.2409vw;
    border-radius: 100%;
    background: #ff5442;
  }

  header .main_gnb .icons > li:nth-child(3) > a > span:after {
    right: 0.438vw;
    bottom: 0.073vw;
    font-size: 0.5839vw;
  }

  header .sub_nav {
    top: 10vw;
    padding-left: 4.5255vw;
  }

  header .sub_nav > ul {
  }

  header .sub_nav > ul:after {
    clear: both;
  }

  header .sub_nav > ul > li {
    margin-right: 1.1679vw;
    padding: 1.1679vw 0.5839vw;
  }

  header .sub_nav > ul > li:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.219vw;
    background: #00b076;
  }

  header .sub_nav > ul > li.on:after {
  }

  header .sub_nav > ul > li.on > a {
  }

  header .sub_nav > ul > li:hover dl {
  }

  header .sub_nav > ul > li:nth-of-type(2):after {
  }

  header .sub_nav > ul > li:nth-of-type(3):after {
  }

  header .sub_nav > ul > li > a {
    height: 100%;
    font-size: 1.1679vw;
  }

  header .sub_nav > ul > li > a.category:after,
  header .sub_nav > ul > li > a.space:after {
    width: 1.4599vw;
    height: 1.4599vw;
    margin-left: 0.292vw;
    background: url(../img/nav/icon-chevron-down.png) center no-repeat;
    -webkit-transform: translateY(0.365vw);
    transform: translateY(0.365vw);
  }

  header .sub_nav > ul > li > a.category:hover:after,
  header .sub_nav > ul > li > a.space:hover:after {
    background: url(../img/nav/icon-chevron-up.png) center no-repeat;
    -webkit-transform: translateY(0.365vw);
    transform: translateY(0.365vw);
  }

  header .sub_nav > ul > li > .space_box {
    width: 28.6131vw;
    height: 31.8248vw;
    padding: 2.3358vw;
    -webkit-box-shadow: 0 0.292vw 0.5839vw 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.292vw 0.5839vw 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    top: 4.1606vw;
    left: 0vw;
    border-radius: 0 0 0.7299vw 0.7299vw;
  }

  header .sub_nav > ul > li > .space_box > p {
    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;
  }

  header .sub_nav > ul > li > .space_box > ul > li {
    margin-right: 1.7518vw;
    margin-top: 1.7518vw;
  }

  header .sub_nav > ul > li > .space_box > ul > li > a {
    padding-top: 5.2555vw;
    width: 4.6715vw;

    font-size: 1.0219vw;
  }

  header .sub_nav > ul > li > .space_box > ul > li > a:after {
    width: 4.6715vw;
    height: 4.6715vw;
    left: 0;
    top: 0;
    background: url(../img/nav/img-thumbnail.png) center no-repeat;
    margin-bottom: 0.5839vw;
  }

  header .sub_nav > ul > li > .space_box > ul > li > a:hover {
  }

  header .sub_nav > ul > li > .space_box > ul > li:nth-child(4n) {
    margin-right: 0;
  }

  header .sub_nav > ul > li:last-child {
    margin: 0;
  }

  header .sub_nav > ul > li .dl_wrap {
    top: 2.5547vw;
  }

  header .sub_nav > ul > li dl {
    width: 16.3504vw;
    padding: 2.3358vw;
    -webkit-box-shadow: 0 0.292vw 0.5839vw 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.292vw 0.5839vw 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 4.1606vw;
    left: -1.8248vw;
    border-radius: 0 0 0.7299vw 0.7299vw;
  }

  header .sub_nav > ul > li dl.on {
    width: 32.7007vw;
  }

  header .sub_nav > ul > li dl dt {
    font-size: 1.1679vw;

    margin-top: 1.1679vw;
  }

  header .sub_nav > ul > li:nth-child(2) dl dt:first-child {
    margin-top: 0;
  }

  header .sub_nav > ul > li dl dd,
  header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a {
    font-size: 1.0219vw;
  }

  header .sub_nav > ul > li dl dd {
    padding-top: 1.1679vw;
  }

  header .sub_nav > ul > li dl dd:before {
    width: 1.4599vw;
    height: 1.4599vw;
    margin-right: 0.292vw;
    background: url(../img/nav/icon-category-appliances.png) center no-repeat;
    -webkit-transform: translateY(0.365vw);
    transform: translateY(0.365vw);
  }

  header .sub_nav > ul > li dl dd:nth-child(2):before {
    background: url(../img/nav/icon-category-diyfloor.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(4):before {
    background: url(../img/nav/icon-category-electric.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(5):before {
    background: url(../img/nav/icon-category-fabric.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(6):before {
    background: url(../img/nav/icon-category-faucets.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(7):before {
    background: url(../img/nav/icon-category-hardware.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(8):before {
    background: url(../img/nav/icon-category-light.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(9):before {
    background: url(../img/nav/icon-category-living.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(10):before {
    background: url(../img/nav/icon-category-materials.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(11):before {
    background: url(../img/nav/icon-category-office.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(12):before {
    background: url(../img/nav/icon-category-outdoor.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(13):before {
    background: url(../img/nav/icon-category-paint.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(14):before {
    background: url(../img/nav/icon-category-sheet.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(15):before {
    background: url(../img/nav/icon-category-tile.png);
  }

  header .sub_nav > ul > li dl dd:nth-child(16):before {
    background: url(../img/nav/icon-category-tools.png);
  }

  header .sub_nav > ul > li dl dd:hover {
    cursor: pointer;
  }

  header .sub_nav > ul > li dl dd > ul {
    border-left: 0.073vw solid #f4f4f4;

    top: 0;
    left: 16.3504vw;
    height: 47.2993vw;
    width: 16.3504vw;
    padding-left: 2.3358vw;
    padding-top: 5.2555vw;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    visibility: hidden;
  }

  header .sub_nav > ul > li dl dd > ul.on {
    visibility: visible;
  }

  header .sub_nav > ul > li dl dd > ul > li {
    margin-top: 1.5328vw;
  }

  header .sub_nav > ul > li:nth-child(2) dl dd > ul > li:first-child {
    margin-top: 0;
  }

  header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a:hover {
  }

  footer {
    margin-top: 7.0073vw;
  }

  footer .talk_talk_wrap {
    width: 100%;
    background: #f8f8f8;
    border-top: 0.073vw solid #e8e8e8;
  }

  footer .talk_talk_wrap .talk_talk {
    max-width: 98.1022vw;
    margin: 0 auto;

    height: 4.6715vw;
    padding: 1.6788vw 0 1.5328vw 0;
  }

  footer .talk_talk_wrap .talk_talk:after {
    clear: both;
  }

  footer .talk_talk_wrap .talk_talk .consulting {
  }

  footer .talk_talk_wrap .talk_talk .consulting:after {
    clear: both;
  }

  footer .talk_talk_wrap .talk_talk .consulting dt {
    font-size: 1.0219vw;
    letter-spacing: -0.0182vw;
  }

  footer .talk_talk_wrap .talk_talk .consulting dd {
    font-size: 1.0219vw;
    letter-spacing: -0.0182vw;

    margin-left: 1.1679vw;
  }

  footer .talk_talk_wrap .talk_talk .consult_click {
  }

  footer .talk_talk_wrap .talk_talk .consult_click a {
    font-size: 1.0219vw;
    letter-spacing: -0.0182vw;

    -webkit-transform: translateY(-0.292vw);
    transform: translateY(-0.292vw);
  }

  footer .talk_talk_wrap .talk_talk .consult_click a:before {
    width: 1.4599vw;
    height: 1.4599vw;
    background: url(../img/main/icon-talktalk.png) center no-repeat;
    margin-left: 1.1679vw;
    margin-right: 0.5839vw;
    -webkit-transform: translateY(0.292vw);
    transform: translateY(0.292vw);
  }

  footer .talk_talk_wrap .talk_talk .inquary {
  }

  footer .talk_talk_wrap .talk_talk .inquary:after {
    clear: both;
  }

  footer .talk_talk_wrap .talk_talk .inquary li {
    margin-right: 2.3358vw;
  }

  footer .talk_talk_wrap .talk_talk .inquary li:last-child {
    margin-right: 0;
  }

  footer .talk_talk_wrap .talk_talk .inquary li a {
    font-size: 1.0219vw;
    letter-spacing: -0.0182vw;
  }

  footer .footer {
    padding: 2.3358vw 0 4.6715vw;
    max-width: 98.1022vw;
    margin: 0 auto;
  }

  footer .footer:after {
    clear: both;
  }

  footer .footer .footer_left {
  }

  footer .footer .footer_left h2 {
    width: 8.0292vw;
    height: 2.1898vw;
    background: url(../img/main/img-logo-eng-full.png) center no-repeat;
    font-size: 0;
    background-size: contain;
  }

  footer .footer .footer_left .slogan {
    margin-top: 1.1679vw;
  }

  footer .footer .footer_left .slogan p:first-child {
    font-size: 1.4599vw;
    letter-spacing: -0.0365vw;
  }

  footer .footer .footer_left .slogan p:last-child {
    font-size: 1.7518vw;
    letter-spacing: -0.073vw;
  }

  footer .footer .footer_mid {
    margin-left: 5.1825vw;
  }

  footer .footer .footer_mid .footer_gnb {
  }

  footer .footer .footer_mid .footer_gnb:after {
    clear: both;
  }

  footer .footer .footer_mid .footer_gnb li {
    margin-right: 2.3358vw;
  }

  footer .footer .footer_mid .footer_gnb li:last-child {
    margin-right: 0;
  }

  footer .footer .footer_mid .footer_gnb li a {
    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;
  }

  footer .footer .footer_mid .return_add {
    margin-top: 1.7518vw;
  }

  footer .footer .footer_mid .return_add span {
    font-size: 1.0219vw;

    letter-spacing: -0.0182vw;
  }

  footer .footer .footer_mid .return_add span:last-child {
    margin-left: 0.8759vw;
  }

  footer .footer .footer_mid address {
    margin-top: 1.1679vw;
  }

  footer .footer .footer_mid address ul {
  }

  footer .footer .footer_mid address ul:after {
    clear: both;
  }

  footer .footer .footer_mid address ul li:nth-child(2) a {
  }

  footer .footer .footer_mid address ul li span {
    font-size: 0.8759vw;
    letter-spacing: -0.0182vw;

    margin-left: 0.8759vw;
  }

  footer .footer .footer_mid address ul li span:first-child {
    margin-left: 0;
  }

  footer .footer .footer_mid address ul li a {
    font-size: 0.8759vw;
    letter-spacing: -0.0182vw;

    margin-left: 0.8759vw;
  }

  footer .footer .footer_mid address ul li a:first-child {
    margin-left: 0;
  }

  footer .footer .footer_mid .documents {
    margin-top: 1.1679vw;
  }

  footer .footer .footer_mid .documents:after {
    clear: both;
  }

  footer .footer .footer_mid .documents li {
  }

  footer .footer .footer_mid .documents li:first-child:after {
    content: "|";
    margin: 0 0.8759vw;
  }

  footer .footer .footer_mid .documents li:nth-child(2) a {
  }

  footer .footer .footer_mid .documents li a {
    font-size: 0.8759vw;
    letter-spacing: -0.0182vw;
  }

  footer .footer .footer_mid .copyright {
    margin-top: 1.1679vw;
    font-size: 0.8759vw;

    letter-spacing: -0.0182vw;
  }

  footer .footer .footer_right {
  }

  footer .footer .footer_right .qr_code {
  }

  footer .footer .footer_right .qr_code:after {
    clear: both;
  }

  footer .footer .footer_right .qr_code a {
    font-size: 0;
  }

  footer .footer .footer_right .qr_code dl {
    margin-left: 0.8759vw;
  }

  footer .footer .footer_right .qr_code dl dt {
    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;
  }

  footer .footer .footer_right .qr_code dl dd {
    margin-top: 0.5839vw;
    font-size: 1.0219vw;
    letter-spacing: -0.0182vw;
  }

  footer .footer .footer_right .sns_icons {
    margin-top: 2.3358vw;
  }

  footer .footer .footer_right .sns_icons:after {
    clear: both;
  }

  footer .footer .footer_right .sns_icons li {
    margin-right: 1.1679vw;
  }

  footer .footer .footer_right .sns_icons li:first-child a {
    background: url(../img/main/icon-logo-facebook.png) center no-repeat;
  }

  footer .footer .footer_right .sns_icons li:nth-child(2) a {
    background: url(../img/main/icon-logo-instagram.png) center no-repeat;
  }

  footer .footer .footer_right .sns_icons li:nth-child(3) a {
    background: url(../img/main/icon-logo-naver-blog-text.png) center no-repeat;
  }

  footer .footer .footer_right .sns_icons li:last-child {
    margin-right: 0;
  }

  footer .footer .footer_right .sns_icons li:last-child a {
    background: url(../img/main/icon-logo-youtube.png) center no-repeat;
  }

  footer .footer .footer_right .sns_icons li a {
    width: 2.9197vw;
    height: 2.9197vw;
    border: 0.073vw solid #f1f1f1;
    border-radius: 100%;
    font-size: 0;
  }

  main {
    max-width: 98.1022vw;
    margin: 0 auto;
    min-height: 100%;
  }

  main .mySwiper {
    margin-top: 2.3358vw;
    padding: 0 1.7518vw 4.0876vw;
  }

  main .mySwiper .swiper-slide {
    max-width: 46.7153vw;
    max-height: 29.1971vw;
  }

  main .mySwiper .swiper-slide img {
    border-radius: 0.5839vw;
  }

  main .elipse_zone {
    margin-top: 10.5109vw;
    width: 100%;
    padding: 1.7518vw 0;
    border-radius: 0.5839vw;
    background: #f8f8f8;
  }

  main .elipse_zone li {
    background: #fff;
    border: 0.073vw solid #e8e8e8;
    border-radius: 1.4599vw;
    padding: 0.7299vw 1.4599vw;
    margin-right: 0.5839vw;
    cursor: pointer;
  }

  main .elipse_zone li:last-child {
    margin-right: 0;
  }

  main .elipse_zone li a {
    font-size: 1.0219vw;
  }

  main section {
    margin-top: 4.6715vw;
  }

  main section .sec_tit strong {
    font-size: 2.9197vw;

    letter-spacing: -0.146vw;
  }

  main section:nth-child(2) {
    margin-top: 3s0.1460vw;
  }

  main section.regular div {
    font-size: 0;
  }

  main section.category_zone {
    padding-bottom: 7.0073vw;
    border-bottom: 0.073vw solid #e8e8e8;
  }

  main section.category_zone .round_cat {
    margin-top: 2.3358vw;
  }

  main section.category_zone .round_cat:after {
    clear: both;
  }

  main section.category_zone .round_cat li {
    width: 8.7591vw;
    margin-right: 3.5036vw;
  }

  main section.category_zone .round_cat li:last-child {
    margin-right: 0;
  }

  main section.category_zone .round_cat li:nth-child(8) ~ li {
    margin-top: 2.3358vw;
  }

  main section.category_zone .round_cat li a {
    width: 100%;

    font-size: 1.1679vw;
    margin-top: 1.1679vw;
    letter-spacing: -0.0365vw;
  }

  main section.category_zone .round_cat li a img {
    width: 100%;
    margin-bottom: 1.1679vw;
  }

  main section.time_deal .time_deal_items {
    width: 100%;
  }

  main section.time_deal .sec_tit {
  }

  main section.time_deal .left_min {
    margin-left: 2.3358vw;
  }

  main section.time_deal .left_min span.left_text {
    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;
    margin-right: 1.1679vw;

    -webkit-transform: translateY(0.7299vw);
    transform: translateY(0.7299vw);
  }

  main section.time_deal .left_min ul {
    -webkit-transform: translateY(0.292vw);
    transform: translateY(0.292vw);
  }

  main section.time_deal .left_min ul li {
    padding: 0.292vw;
    width: 2.9197vw;
    height: 2.9197vw;
    margin-right: 1.3139vw;

    border-radius: 0.292vw;

    font-size: 1.4599vw;
  }

  main section.time_deal .left_min ul li:after {
    content: ":";

    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;

    right: -0.9489vw;
    top: 0.5839vw;
  }

  main section.time_deal .left_min ul li:last-child:after {
  }

  main section.time_deal .learn_more {
    -webkit-transform: translateY(1.4599vw);
    transform: translateY(1.4599vw);
  }

  main section.time_deal .learn_more:after {
    width: 1.3139vw;
    height: 1.3139vw;
    background: url(../img/main/icon-chevron-right_6.png) center no-repeat;
    margin-left: 0.5109vw;
    -webkit-transform: translateY(0.292vw);
    transform: translateY(0.292vw);
  }

  main section.time_deal .learn_more a {
    font-size: 1.0219vw;

    letter-spacing: -0.0182vw;
  }

  main section.popular_items .tap_list {
    margin-top: 2.3358vw;
    border-bottom: 0.073vw solid #d2d1d0;
  }

  main section.popular_items .tap_list:after {
    clear: both;
  }

  main section.popular_items .tap_list li {
    margin-right: 2.9197vw;
    padding: 1.1679vw 0.5839vw;
  }

  main section.popular_items .tap_list li:last-child {
    margin-right: 0;
  }

  main section.popular_items .tap_list li:after {
    width: 100%;
    height: 0.146vw;
    background: #00b076;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  main section.popular_items .tap_list li.on:after {
    opacity: 1;
  }

  main section.popular_items .tap_list li.on a {
  }

  main section.popular_items .tap_list li a {
    height: 100%;
    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;
  }

  main section.popular_items .row .tap {
  }

  main section.popular_items .row .tap.on {
  }

  main section.popular_items .row .tap .item_popular {
    width: 17.2263vw;
    height: 25.6934vw;
    border-radius: 0.292vw;
    -webkit-box-shadow: 0 0.292vw 0.5839vw 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.292vw 0.5839vw 0 rgba(0, 0, 0, 0.08);
  }

  main section.popular_items .row .tap .item_popular .img_wrapper {
    margin: 0;
  }

  main section.popular_items .row .tap .item_popular .img_wrapper img {
    width: 100%;
  }

  main section.popular_items .row .tap .item_popular .text {
    margin-top: 0;
    padding: 1.1679vw;
  }

  main section.popular_items .row .tap .item_popular .text .sub {
    margin-top: 0;
    font-size: 1.0219vw;
  }

  main section.popular_items .row .tap .item_popular .text .price {
    margin-top: 1.1679vw;
    font-size: 1.3139vw;
  }

  main section.popular_items .row .tap .item_popular .text .price span {
    font-size: 1.0219vw;
  }

  main section.popular_items .row .tap .item_popular .text .price:after {
    font-size: 1.0219vw;
  }

  main section.try_it ul.top_try_it {
    margin-top: 2.3358vw;
    padding-bottom: 7.0073vw;
  }

  main section.try_it ul.top_try_it:after {
    clear: both;
  }

  main section.try_it ul.top_try_it li {
    width: 30.365vw;
    height: 8.7591vw;
    margin-right: 2.3358vw;
    padding: 3.5036vw 2.3358vw 3.5036vw 11.0949vw;
    background: #fff;
    border: 0.073vw solid #e8e8e8;
    border-radius: 0.5839vw;
    font-size: 1.1679vw;
    letter-spacing: -0.0876vw;
  }

  main section.try_it ul.top_try_it li:last-child {
    margin-right: 0;
  }

  main section.try_it ul.top_try_it li:before {
    left: 0;
    top: 0;
    width: 8.7591vw;
    height: 8.7591vw;
    background: url(../img/main/img-mo-try-1.png) center no-repeat;

    border-radius: 0.5839vw 0 0 0.5839vw;
  }

  main section.try_it ul.top_try_it li a:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  main section.try_it .main_try_it_wrap {
    padding-top: 4.6715vw;
    padding-bottom: 4.6715vw;
    border-top: 0.073vw solid #e8e8e8;
  }

  main section.try_it .main_try_it_wrap h3 {
    left: 0;

    width: 17.2263vw;
    margin-right: 2.4088vw;
    font-size: 2.3358vw;
    letter-spacing: -0.146vw;
  }

  main section.try_it .main_try_it_wrap h3 span {
  }

  main section.try_it ul.main_try_it {
  }

  main section.try_it ul.main_try_it:after {
    clear: both;
  }

  main section.try_it ul.main_try_it li {
    margin-right: 2.4088vw;
    width: 17.2263vw;
  }

  main section.try_it ul.main_try_it li:first-child {
    margin-left: 19.635vw;
  }

  main section.try_it ul.main_try_it li:nth-child(4) {
    margin-right: 0;
  }

  main section.try_it ul.main_try_it li:nth-child(9) {
    margin-right: 0;
  }

  main section.try_it ul.main_try_it li:nth-child(4) ~ li {
    margin-top: 2.3358vw;
  }

  main section.try_it ul.main_try_it li .item {
    width: 100%;
  }

  main section.try_it ul.main_try_it li .item_try_it .text {
    margin-top: 1.1679vw;
  }

  main section.try_it ul.main_try_it li .item_try_it .text .price {
    margin-top: 0;
    font-size: 1.3139vw;
  }

  main section.try_it ul.main_try_it li .item_try_it .text .price:after {
    font-size: 1.1679vw;
  }

  main section.try_it ul.main_try_it li .item_try_it .text .sub {
    font-size: 1.0219vw;
    margin-top: 0.292vw;
    letter-spacing: -0.0182vw;
  }

  main .bottom_banner {
    left: 0;
    right: 0;
    width: 100%;
    height: 5.8394vw;
    background: url(../img/main/img-pc-main-fix.png) center no-repeat;
    background-color: #00b076;
    margin-top: 2.3358vw;
    cursor: pointer;
    background-size: contain;
  }

  main section.recommend_brand {
    margin-top: 15.1825vw;
  }

  main section.recommend_brand .rec_con_wrap {
    max-width: 95.7664vw;
    margin: 0 auto;
    height: 29.927vw;
  }

  main section.recommend_brand .rec_con_wrap:after {
    clear: both;
  }

  main section.recommend_brand .rec_con_wrap .left_recommend {
    width: 46.7153vw;
    height: 100%;
    margin-right: 2.3358vw;
    padding: 3.5036vw;
    background: url(../img/event/img-mo-cate.png) center no-repeat;

    border-radius: 0.5839vw;
  }

  main section.recommend_brand .rec_con_wrap .left_recommend:before {
    width: 46.7153vw;
    height: 29.927vw;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5839vw;
  }

  main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap {
    bottom: 3.5036vw;
    left: 3.5036vw;
    right: 3.5036vw;
  }

  main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap dl dt {
    font-size: 2.3358vw;
    letter-spacing: -0.146vw;

    margin-bottom: 1.1679vw;
  }

  main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap dl dd {
    font-size: 1.0219vw;

    letter-spacing: -0.0182vw;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend {
    width: 46.7153vw;
    height: 100%;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul {
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul:after {
    clear: both;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li {
    width: 14.0146vw;
    height: 14.0146vw;
    margin-right: 2.3358vw;
    background: url(../img/main/img-thumbnail.png) center no-repeat;
    border-radius: 0.292vw;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li:nth-child(3n) {
    margin-right: 0;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li:nth-child(3) ~ li {
    margin-top: 1.8978vw;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child {
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child:before {
    width: 100%;
    height: 100%;
    border-radius: 0.292vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.292vw;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child:after {
    content: "+15";

    font-size: 2.3358vw;

    letter-spacing: -0.0365vw;
    left: 4.7445vw;
    top: 5.5474vw;
  }

  main section.recommend_brand .rec_con_wrap .right_recommend ul li a {
    font-size: 0;
  }

  main section.recommend_brand .information {
    margin-top: 7.0073vw;
  }

  main section.recommend_brand .information:after {
    clear: both;
  }

  main section.recommend_brand .information li.information_li {
    width: 46.7153vw;
    margin-right: 2.3358vw;
    padding: 2.3358vw 0 2.3358vw 2.3358vw;
    border: 0.073vw solid #e8e8e8;
    border-radius: 0.5839vw;
  }

  main section.recommend_brand .information li.information_li:last-child {
    margin-right: 0;
  }

  main section.recommend_brand .information li.information_li dl dt {
    font-size: 1.4599vw;
    letter-spacing: -0.073vw;

    margin-bottom: 1.1679vw;
  }

  main section.recommend_brand .information li.information_li dl dd {
    font-size: 1.0219vw;

    letter-spacing: -0.0182vw;
    margin-top: 0.5839vw;
  }

  main section.recommend_brand .information li.information_li dl dd:first-child {
    margin-top: 0;
  }

  main section.recommend_brand .information li.information_li dl dd ul {
  }

  main section.recommend_brand .information li.information_li dl dd ul:after {
    clear: both;
  }

  main section.recommend_brand .information li.information_li dl dd ul li {
    margin-top: 0.5839vw;
    margin-left: 0.8759vw;
  }

  main section.recommend_brand .information li.information_li dl dd ul li:first-child {
    margin-left: 0;
  }

  main section.recommend_brand .information li.information_li dl dd ul li:nth-child(4n) {
    margin-left: 0;
  }

  main section.recommend_brand .information li.information_li dl dd ul li:after {
    content: "|";

    margin-left: 0.8759vw;
  }

  main section.recommend_brand .information li.information_li dl dd ul li:nth-child(3n):after {
  }

  main section.recommend_brand .information li.information_li dl dd ul li:last-child:after {
  }

  main section.recommend_brand .information li.information_li dl dd ul li a {
    font-size: 1.0219vw;
    letter-spacing: -0.1582vw;
  }

  .item {
    width: 100%;
    cursor: pointer;
  }

  .item .img_wrapper {
  }

  .item .img_wrapper span.yellow_text {
    top: 1.8248vw;
    left: 0.5839vw;

    font-size: 0.8759vw;

    letter-spacing: -0.0182vw;
  }

  .item .img_wrapper span.yellow_bg:before {
    top: 0.365vw;
    left: 1.0219vw;
    width: 1.4599vw;
    height: 1.4599vw;
    background: url(../img/main/icon-timedeal.png) center no-repeat;
    background-size: contain;
  }

  .item .img_wrapper span.yellow_bg:after {
    top: 0;
    left: 0;

    background: #ffe73e;
    width: 3.5036vw;
    height: 3.5036vw;
    border-radius: 0.292vw 0 0.292vw 0;
  }

  .item .img_wrapper .book_mark {
    bottom: 0.8759vw;
    right: 0.8759vw;
    cursor: pointer;
    font-size: 0;
  }

  .item .img_wrapper img {
    width: 100%;
  }

  .item .text {
    margin-top: 1.1679vw;
  }

  .item .text .price {
    font-size: 1.7518vw;
  }

  .item .text .price span {
    font-size: 1.3139vw;
    letter-spacing: -0.0365vw;
  }

  .item .text .price:after {
    content: "20%";

    font-size: 1.4599vw;
    margin-left: 0.8759vw;
  }

  .item .sub {
    margin-top: 0.5839vw;
    font-size: 1.1679vw;
    letter-spacing: -0.0365vw;
  }

  .item .star {
    margin-top: 1.7518vw;
  }

  .item .star span {
    font-size: 1.0219vw;

    letter-spacing: -0.0182vw;
  }

  .item .star span:first-child:before {
    width: 1.3139vw;
    height: 1.3139vw;
    background: url(../img/main/icon-star.png) center no-repeat;
    margin-right: 0.292vw;
    -webkit-transform: translateY(0.219vw);
    transform: translateY(0.219vw);
  }

  .item .star span:nth-child(2) {
    margin-left: 0.8759vw;
  }

  .item .stand_out {
    margin-top: 0.5839vw;
  }

  .item .stand_out span {
    font-size: 1.0219vw;
    letter-spacing: -0.0182vw;
  }

  .item .stand_out span:first-child {
  }

  .item .stand_out span:nth-child(2) {
    margin-left: 0.8759vw;
  }

  .regular .slick-list.draggable {
    width: 96.3504vw;
    margin: 0 auto;
  }

  .regular .slick-list.draggable .slick-track {
    left: 0.5839vw;
  }

  .regular .slick-list.draggable .slick-track .slick-slide {
    width: 46.7153vw;
    height: 29.1971vw;
  }

  .regular .slick-next {
    right: 0;
  }

  .regular .slick-prev {
    left: -0.6569vw;
  }

  .regular .slide-placeholder {
    width: 46.7153vw;
    height: 29.1971vw;
  }

  .regular .slide-placeholder img {
    width: 46.7153vw;
    height: 29.1971vw;
    border-radius: 0.5839vw;
  }

  .regular li[role="presentation"] {
  }

  .regular .pagingInfo {
    width: 6.1314vw;
  }

  .time_deal_items .responsive .slick-list {
    margin-right: 0;
  }

  .time_deal_items .responsive .slick-list .slick-slide {
    margin-right: 2.3358vw;
  }

  .time_deal_items .responsive .slick-next {
    right: 0;
  }

  .popular .slick-prev {
    left: -1.3869vw;
    top: 7.7372vw;
  }

  .popular .slick-list.draggable {
    height: 27.0073vw;
  }

  .popular .slick-list.draggable .slick-track {
    left: 0.438vw;
  }

  .popular .slick-next {
    right: 0;
    top: 7.7372vw;
  }

  .recommend .slick-prev {
    left: -0.7299vw;
  }

  .recommend .slick-next {
    right: 0;
  }

  .pagingInfo {
    left: 50%;

    width: 6.1314vw;
    height: 2.3358vw;
    padding: 0.365vw 1.1679vw;
    border: 0.073vw solid #e8e8e8;
    border-radius: 1.1679vw;
    background: #fff;
    font-size: 1.0219vw;
  }

  .pagingInfo span {
    font-size: 1.0219vw;
  }

  .pause {
    left: 47.5%;

    width: 2.3358vw;
    height: 2.3358vw;
    border: 0.073vw solid #e8e8e8;
    border-radius: 1.1679vw;
    background: url(../img/main/icon-pause.png) center no-repeat;
    cursor: pointer;
  }
}

@media only screen and (min-width: 769px) and (max-width: 938px) {
  footer .footer .footer_mid {
    margin-left: 3.1825vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 886px) {
  main .elipse_zone li {
    padding: 0.6299vw 1.1vw;
  }
  main section.category_zone .round_cat li {
    width: 8.7vw;
  }
  main section.popular_items .row .tap .item_popular .text .price {
    margin-top: 0.1679vw;
  }
  .try_it .top_try_it li a {
    letter-spacing: -1.55px;
  }
  main section.recommend_brand .information li.information_li dl dd ul li a {
    letter-spacing: -0.2082vw;
  }
  footer .footer .footer_mid {
    width: 50%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 775px) {
  main .elipse_zone li {
    padding: 0.6299vw 1vw;
  }
  main section.try_it ul.top_try_it li a {
    letter-spacing: -1.6px;
  }
}

/* style.css 미디어쿼리 vw 계산기 변환 후 복붙*/
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .header_bg {
    height: 26.3889vw;
  }
  header {
    min-width: 100vw;
    height: 26.3889vw;
  }
  header .main_gnb {
    top: 0;
    padding: 3.3333vw 4.4444vw;
  }
  header .main_gnb .left {
    position: 0;
    top: 0;
  }
  header .main_gnb .right {
    position: absolute;
    top: 0;
    right: 4.4444vw;
  }
  header .main_gnb .right fieldset {
    border: none;
  }
  header .main_gnb .right fieldset input {
    width: 0;
  }
  header .main_gnb .right .icons {
    margin-left: 6.6667vw;
  }
  header .main_gnb h1 {
    max-width: 29.7222vw;
    margin-right: 0;
  }
  header .main_gnb h1 a img {
    width: 24.4444vw;
    height: 6.6667vw;
    top: -1.9444vw;
  }
  header .main_gnb .left {
    display: inline-block;
  }
  header .main_gnb .left .main_nav {
    display: none;
  }
  header .main_gnb .right {
    float: right;
    display: inline-block;
  }
  header .main_gnb .right .icons li:first-child {
    display: none;
  }
  header .main_gnb .right .icons li:nth-child(2) {
    display: none;
  }
  header .log_in {
    display: none;
  }
  header .sub_nav {
    display: none;
  }
  header .sub_nav_slider {
    display: block;
    position: absolute;
    top: 10.8333vw;
    padding-left: 4.4444vw;
  }
  header .sub_nav_slider .sub_nav_mo {
    display: block;
  }
  header .sub_nav_slider .sub_nav_mo ul {
    position: relative;
    overflow: hidden;
  }
  header .sub_nav_slider .sub_nav_mo ul:after {
    content: "";
    display: block;
    clear: both;
  }
  header .sub_nav_slider .sub_nav_mo ul .slick-prev {
    display: none !important;
  }
  header .sub_nav_slider .sub_nav_mo ul .slick-next {
    display: none !important;
  }
  header .sub_nav_slider .sub_nav_mo ul li {
    position: relative;
    float: left;
    margin-right: 4.4444vw;
    padding: 4.4444vw 2.2222vw;
    text-align: center;
  }
  header .sub_nav_slider .sub_nav_mo ul li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.8333vw;
    background: #00b076;
    display: none;
  }
  header .sub_nav_slider .sub_nav_mo ul li.on:after {
    display: inline-block;
  }
  header .sub_nav_slider .sub_nav_mo ul li.on a {
    color: #00b076;
    font-weight: bold;
  }
  header .sub_nav_slider .sub_nav_mo ul li a {
    display: inline-block;
    height: 100%;
    font-size: 4.4444vw;
  }
  main .regular_mo_wrap {
    position: relative;
  }
  main .regular_mo_wrap .regular_mo {
    display: block;
    border-bottom: 0.5556vw solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
    font-size: 0;
  }
  main .regular_mo_wrap .regular_mo .slick-dots {
    display: none !important;
  }
  main .regular_mo_wrap .regular_mo .slick-prev {
    display: none !important;
  }
  main .regular_mo_wrap .regular_mo .slick-next {
    display: none !important;
  }
  main .regular_mo_wrap .regular_mo .slide-placeholder img {
    width: 100%;
  }
  main .regular_mo_wrap .regular_mo .slick-dots {
    display: none;
  }
  main .regular_mo_wrap .pagingInfo_mo {
    position: absolute;
    padding: 1.6667vw 5.5556vw;
    right: 0;
    bottom: 0;
    width: 26.6667vw;
    height: 8.8889vw;
    border-radius: 1.1111vw 0 0 0;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    letter-spacing: 1.1111vw;
    font-size: 3.3333vw;
  }
  main .regular_mo_wrap .pagingInfo_mo span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 3.3333vw;
  }
  main .regular {
    display: none;
    border-bottom: 0.5556vw solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
  main .regular .slick-prev {
    display: none;
  }
  main .regular .slick-next {
    display: none;
  }
  main .regular .slick-list.draggable .slick-track .slick-slide > div .slide-placeholder {
    width: 100%;
  }
  main .regular .slick-list.draggable .slick-track .slick-slide > div .slide-placeholder img {
    width: 100%;
    border-radius: 0;
  }
  main .pagingInfo {
    display: none;
  }
  main .pause {
    display: none;
  }
  main .elipse_zone {
    display: none;
  }
  main .elipse_zone_slider {
    margin-top: 8.8889vw;
    padding-left: 4.1667vw;
  }
  main .elipse_zone_slider .elipse_zone_mo {
    margin-top: 0vw;
    padding: 0;
    height: auto;
    background: none;
  }
  main .elipse_zone_slider .elipse_zone_mo .slick-prev {
    display: none !important;
  }
  main .elipse_zone_slider .elipse_zone_mo .slick-next {
    display: none !important;
  }
  main .elipse_zone_slider .elipse_zone_mo .slick-slide {
    margin-right: 2.2222vw;
  }
  main .elipse_zone_slider .elipse_zone_mo .slick-slide:last-child {
    margin-right: 0;
  }
  main .elipse_zone_slider .elipse_zone_mo .slick-slide li {
    border: 0.2778vw solid #d8f1e8;
    border-radius: 4.4444vw;
    padding: 1.6667vw 4.4444vw;
  }
  main .elipse_zone_slider .elipse_zone_mo .slick-slide li a {
    color: #00b076;
    font-size: 3.8889vw;
  }
  main section.try_it {
    margin-top: 8.8889vw;
  }
  main section.try_it .sec_tit {
    display: none;
  }
  main section.try_it .top_try_it {
    display: none;
  }
  main section.try_it .main_try_it_wrap {
    border: none;
    padding-bottom: 8.8889vw;
    padding-top: 0;
    padding-left: 4.1667vw;
  }
  main section.try_it .main_try_it_wrap:nth-of-type(2n-1) ul li:last-child {
    display: none;
  }
  main section.try_it .main_try_it_wrap:nth-of-type(3) {
    padding-top: 30.5556vw;
  }
  main section.try_it .main_try_it_wrap h3 {
    display: none;
    width: auto;
  }
  main section.try_it .main_try_it_wrap h3.mo_try_it_tit {
    position: static;
    display: block;
    font-size: 5.5556vw;
    font-weight: bold;
    letter-spacing: normal;
    margin-bottom: 5.2778vw;
  }
  main section.try_it ul.main_try_it li {
    width: 43.3333vw;
    margin-top: 6.6667vw;
  }
  main section.try_it ul.main_try_it li:first-child {
    margin-left: 0;
    margin-top: 0;
  }
  main section.try_it ul.main_try_it li:nth-child(2) {
    margin-top: 0;
  }
  main section.try_it ul.main_try_it li:nth-child(2n) {
    margin-right: 2.2222vw;
  }
  main section.try_it ul.main_try_it li:nth-child(2n-1) {
    margin-right: 2.2222vw;
  }
  main section.try_it ul.main_try_it li .item .text {
    margin-top: 2.2222vw;
  }
  main section.try_it ul.main_try_it li .item .text .sub {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  main section.category_zone {
    margin-top: 8.8889vw;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 4.1667vw;
    border: none;
  }
  main section.category_zone .sec_tit strong {
    font-size: 5.5556vw;
    letter-spacing: normal;
  }
  main section.category_zone .round_cat {
    margin-top: 4.4444vw;
    display: none;
  }
  main section.category_zone .round_cat li {
    width: 18.8889vw;
    margin-right: 3.3333vw;
  }
  main section.category_zone .round_cat li:nth-child(4n) {
    margin-right: 0;
  }
  main section.category_zone .round_cat li:nth-child(n + 5):nth-child(-n + 8) {
    margin-top: 4.4444vw;
  }
  main section.category_zone .round_cat li:nth-child(8) ~ li {
    margin-top: 0;
  }
  main section.category_zone .round_cat li a {
    font-size: 3.8889vw;
    letter-spacing: -0.5vw;
    margin-top: 2.2222vw;
  }
  main section.category_zone .round_cat li a img {
    margin-bottom: 0;
  }
  main section.category_zone .round_cat_slider {
    margin-top: 4.4444vw;
  }
  main section.category_zone .round_cat_slider .round_cat_mo {
    display: block;
  }
  main section.category_zone .round_cat_slider .slick-prev {
    display: none !important;
  }
  main section.category_zone .round_cat_slider .slick-next {
    display: none !important;
  }
  main section.time_deal {
    position: relative;
  }
  main section.time_deal .time_deal_bg {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 22.2222vw;
    background: url(../img/mobile/img-banner-timedeal@3x.png) center no-repeat;
  }
  main section.time_deal .sec_tit {
    position: inherit;
    line-height: 22.2222vw;
    margin-left: 5.5556vw;
  }
  main section.time_deal .sec_tit strong {
    font-size: 5.5556vw;
    letter-spacing: normal;
  }
  main section.time_deal .sec_tit strong:after {
    content: "";
    display: inline-block;
    width: 6.6667vw;
    height: 6.6667vw;
    background: url(../img/mobile/icon-chevron-right_2.png) center no-repeat;
    margin-left: 1.1111vw;
    -webkit-transform: translateY(1.3889vw);
    transform: translateY(1.3889vw);
  }
  main section.time_deal .left_min {
    position: absolute;
    right: 0vw;
    top: 5.2778vw;
  }
  main section.time_deal .left_min .left_text {
    font-size: 3.3333vw;
    letter-spacing: normal;
  }
  main section.time_deal .left_min ul li {
    width: 8.8889vw;
    height: 8.8889vw;
    margin-right: 2.7778vw;
    font-size: 4.4444vw;
  }
  main section.time_deal .left_min ul li:after {
    right: -2.5vw;
    top: 1.1111vw;
  }
  main section.time_deal .learn_more {
    display: none;
  }
  main section.time_deal .time_deal_items .responsive {
    display: none !important;
  }
  main section.time_deal .time_deal_items .reponsive_mo {
    overflow: hidden;
    margin-top: 6.6667vw;
    padding-left: 4.1667vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo:after {
    content: "";
    display: block;
    clear: both;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item {
    float: left;
    width: 43.3333vw;
    margin-right: 2.2222vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item:nth-of-type(2) ~ .item {
    margin-top: 6.6667vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .img_wrapper .yellow_text {
    font-size: 2.7778vw;
    top: 5.2778vw;
    left: 1.3889vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .img_wrapper .yellow_bg:before {
    width: 4.4444vw;
    height: 4.4444vw;
    background-size: contain;
    left: 3.0556vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .img_wrapper .yellow_bg:after {
    width: 10vw;
    height: 10vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text {
    margin-top: 2.2222vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .price {
    font-size: 4.4444vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .price span {
    font-size: 3.8889vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .price:after {
    font-size: 3.8889vw;
  }
  main section.time_deal .time_deal_items .reponsive_mo .item .text .sub {
    margin-top: 1.1111vw;
    font-size: 3.8889vw;
  }
  main .bottom_banner {
    background-size: cover;
  }
  main .mo_try_it {
    display: block;
  }
  main section.popular_items {
    padding-left: 4.1667vw;
  }
  main section.popular_items .sec_tit strong {
    font-size: 5.5556vw;
    letter-spacing: normal;
  }
  main section.popular_items .tap_list {
    margin-top: 3.8889vw;
  }
  main section.popular_items .tap_list li {
    margin-right: 6.6667vw;
  }
  main section.popular_items .tap_list li a {
    font-size: 3.8889vw;
  }
  main section.popular_items .popular {
    width: 213.3333vw;
  }
  main section.popular_items .popular .slick-next {
    display: none !important;
  }
  main section.popular_items .popular .slick-prev {
    display: none !important;
  }
  main section.popular_items .popular .slick-list {
    height: 70.8333vw;
  }
  main section.popular_items .popular .slick-list .slick-slide {
    margin-right: 2.2222vw;
  }
  main section.popular_items .popular .slick-list .slick-slide .slide-placeholder .item_popular {
    max-width: 38.8889vw;
    max-height: 67.7778vw;
  }
  main section.popular_items .popular .slick-list .slick-slide .slide-placeholder .item_popular .text .price {
    margin-top: 3.3333vw;
  }
  main section.popular_items .popular .slick-list .slick-slide .slide-placeholder .item_popular .text .sub {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  main section.recommend_brand {
    margin-top: 8.8889vw;
    padding-left: 4.1667vw;
  }
  main section.recommend_brand .sec_tit strong {
    font-size: 5.5556vw;
  }
  main section.recommend_brand .recommend {
    display: none;
  }
  main section.recommend_brand .recommend_mo_slider {
    margin-top: 4.4444vw;
  }
  main section.recommend_brand .recommend_mo_slider .slick-prev {
    display: none !important;
  }
  main section.recommend_brand .recommend_mo_slider .slick-next {
    display: none !important;
  }
  main section.recommend_brand .recommend_mo_slider ul {
    overflow: hidden;
  }
  main section.recommend_brand .recommend_mo_slider ul:after {
    content: "";
    display: block;
    clear: both;
  }
  main section.recommend_brand .recommend_mo_slider ul li {
    float: left;
    margin-right: 3.3333vw;
  }
  main section.recommend_brand .recommend_mo_slider ul li a {
    display: inline-block;
    width: 18.8889vw;
    position: relative;
    text-align: center;
    padding-top: 20vw;
    font-size: 3.3333vw;
  }
  main section.recommend_brand .recommend_mo_slider ul li a:after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background: url(../img/mobile/img-thumbnail_25.png) center top no-repeat;
    width: 18.8889vw;
    height: 18.8889vw;
    background-size: contain;
  }
  main section.recommend_brand .information {
    display: none;
  }
  main .mo_try_it_wrap {
    margin-top: 8.8889vw;
    padding-left: 4.1667vw;
  }
  main .mo_try_it_wrap .sec_tit strong {
    font-size: 5.5556vw;
    font-weight: bold;
  }
  main .mo_try_it_wrap .mo_try_it {
    overflow: hidden;
    margin-top: 4.4444vw;
  }
  main .mo_try_it_wrap .mo_try_it:after {
    content: "";
    display: block;
    clear: both;
  }
  main .mo_try_it_wrap .mo_try_it li {
    position: relative;
    float: left;
    width: 88.8889vw;
    height: 20vw;
    padding: 7.2222vw 4.4444vw 7.2222vw 24.4444vw;
    background: #fff;
    border: 0.2778vw solid #e8e8e8;
    border-radius: 2.2222vw;
    font-size: 3.8889vw;
    letter-spacing: normal;
    margin-top: 2.2222vw;
  }
  main .mo_try_it_wrap .mo_try_it li:first-child {
    margin-top: 0;
  }
  main .mo_try_it_wrap .mo_try_it li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20vw;
    height: 20vw;
    background: url(../img/main/img-mo-try-1.png) center no-repeat;
    background-size: contain;
    border-radius: 1.1111vw 0 0 1.1111vw;
  }
  main .mo_try_it_wrap .mo_try_it li a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  main .bottom_banner {
    display: none;
  }
  main .bottom_banner_mo {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
    height: 13.3333vw;
    background: url(../img/mobile/img-banner-coupon-now.png) center no-repeat;
    background-size: contain;
    background-color: #00b076;
    margin-top: 8.8889vw;
    cursor: pointer;
  }
  footer {
    display: none;
  }
  .footer_mo {
    display: block;
    margin-top: 8.8889vw;
    text-align: center;
  }
  .footer_mo .talk_mo {
    height: 13.3333vw;
    background: #f4f4f4;
    padding: 2.2222vw;
  }
  .footer_mo .talk_mo .talk_consult_mo {
    position: relative;
    display: inline-block;
    border: 0.2778vw solid #e8e8e8;
    background: #fff;
    padding: 1.9444vw 3.3333vw;
    width: 43.3333vw;
    height: 8.8889vw;
    margin-right: 2.2222vw;
    color: #605d5b;
    font-size: 3.3333vw;
  }
  .footer_mo .talk_mo .talk_consult_mo:first-child {
    color: #00b076;
  }
  .footer_mo .talk_mo .talk_consult_mo:first-child:before {
    position: absolute;
    width: 5.5556vw;
    height: 5.5556vw;
    background: url(../img/mobile/icon-talktalk.png) center no-repeat;
  }
  .footer_mo .talk_mo .talk_consult_mo:last-child {
    margin-right: 0;
  }
  .footer_mo .foot_main_mo {
    background: #fff;
    padding-bottom: 8.8889vw;
  }
  .footer_mo .foot_main_mo ul {
    overflow: hidden;
    display: inline-block;
  }
  .footer_mo .foot_main_mo ul:after {
    content: "";
    display: block;
    clear: both;
  }
  .footer_mo .foot_main_mo ul li {
    float: left;
  }
  .footer_mo .foot_main_mo .footer_gnb_mo {
    padding: 3.0556vw 0;
    border-bottom: 0.2778vw solid #f4f4f4;
  }
  .footer_mo .foot_main_mo .footer_gnb_mo li {
    margin-right: 6.6667vw;
  }
  .footer_mo .foot_main_mo .footer_gnb_mo li:last-child {
    margin-right: 0;
  }
  .footer_mo .foot_main_mo .footer_gnb_mo li a {
    color: #8e8c8a;
    font-size: 3.3333vw;
    letter-spacing: normal;
  }
  .footer_mo .foot_main_mo .business_mo {
    display: inline-block;
    margin-top: 4.4444vw;
    border: none;
    cursor: ponter;
    font-size: 3.3333vw;
    color: #8e8c8a;
  }
  .footer_mo .foot_main_mo .business_mo li {
    display: none;
  }
  .footer_mo .foot_main_mo .footer_icon_mo {
    margin-top: 4.4444vw;
  }
  .footer_mo .foot_main_mo .footer_icon_mo li {
    margin-right: 3.3333vw;
  }
  .footer_mo .foot_main_mo .footer_icon_mo li a {
    display: inline-block;
    font-size: 0;
    width: 8.8889vw;
    height: 8.8889vw;
    background: url(../img/mobile/icon-footer-facebook.png) center no-repeat;
    background-size: contain;
  }
  .footer_mo .foot_main_mo .list_mo {
    margin-top: 4.4444vw;
  }
  .footer_mo .foot_main_mo .list_mo li:first-child:after {
    content: "|";
    margin: 0 2.2222vw;
    color: #8e8c8a;
  }
  .footer_mo .foot_main_mo .list_mo li a {
    color: #8e8c8a;
    font-size: 2.7778vw;
  }
  .footer_mo .foot_main_mo .copyrights_mo {
    display: block;
    margin-top: 1.1111vw;
    font-size: 2.7778vw;
    color: #b8b6b4;
  }
}

@media only screen and (min-width: 557px) and (max-width: 768px) {
  header .main_gnb {
    height: auto;
  }
  header .main_gnb .left h1 {
    width: 20.8396vw;
    height: 5.8471vw;
  }
  header .main_gnb .left h1 a img {
    background: url(../img/img-logo-eng-full.png) center no-repeat;
    width: 20.8396vw;
    height: 5.8471vw;
  }
}
