header .main_gnb h1 {
  height: 45px;
}

main.login {
  width: 480px;
  margin: 0 auto;
}

main.login .login_contents_wrap {
  width: 416px;
  margin: 0 auto;
  padding-bottom: 96px;
}

main.login .login_contents_wrap .sign_up {
  font-size: 38px;
  letter-spacing: -2px;
  font-weight: bold;
}

main.login .login_contents_wrap .sign_up_tap {
  overflow: hidden;
  margin-top: 48px;
  width: 100%;
}

main.login .login_contents_wrap .sign_up_tap:after {
  content: "";
  display: block;
  clear: both;
}

main.login .login_contents_wrap .sign_up_tap li {
  float: left;
  width: 50%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background: #f4f4f4;
}

main.login .login_contents_wrap .sign_up_tap li:first-child {
  border-radius: 4px 0 0 4px;
}

main.login .login_contents_wrap .sign_up_tap li:last-child {
  border-radius: 0 4px 4px 0;
}

main.login .login_contents_wrap .sign_up_tap li a {
  color: #605d60;
}

main.login .login_contents_wrap .sign_up_tap li.on {
  background: #fff;
  border: 1px solid #00b076;
}

main.login .login_contents_wrap .sign_up_tap li.on a {
  color: #00b076;
  font-weight: bold;
}

main.login .login_contents_wrap .sign_up_tap li.on a:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/sign_up/selection-controls-checkbox-01-selected.png) center no-repeat;
  margin-right: 8px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

main.login .login_contents_wrap .condition {
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 4px;
  margin-top: 48px;
}

main.login .login_contents_wrap .condition dt {
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: bold;
}

main.login .login_contents_wrap .condition dt:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(../img/sign_up/icon-info.png);
  margin-right: 8px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main.login .login_contents_wrap .condition dd {
  font-size: 14px;
  color: #605d60;
  letter-spacing: -1px;
  margin-top: 16px;
}

main.login .login_contents_wrap .form_personal {
  width: 100%;
  padding-bottom: 48px;
  border-bottom: 1px solid #e8e8e8;
}

main.login .login_contents_wrap .form_personal li {
  margin-top: 32px;
}

main.login .login_contents_wrap .form_personal li label {
  display: block;
  font-size: 14px;
}

main.login .login_contents_wrap .form_personal li label span {
  color: #ff5442;
}

main.login .login_contents_wrap .form_personal li input {
  width: 100%;
  margin-top: 8px;
  padding: 14px 20px;
  border: 1px solid #d2d1d0;
  border-radius: 4px;
}

main.login .login_contents_wrap .form_personal li select {
  position: relative;
  width: 120px;
  height: 48px;
  padding: 13px 12px 14px 20px;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 15px;
  background: url(../img/sign_up/icon-chevron-down.png) right 12px center no-repeat;
}

main.login .login_contents_wrap .form_personal li input#number {
  width: 284px;
  margin-left: 5px;
}

main.login .login_contents_wrap .form_personal li button {
  width: 100%;
  margin-top: 12px;
  padding: 12px 20px;
  background: #d2d1d0;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

main.login .login_contents_wrap .form_corporate {
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid #e8e8e8;
}

main.login .login_contents_wrap .form_corporate .info {
  font-size: 20px;
  letter-spacing: -1px;
}

main.login .login_contents_wrap .form_corporate li {
  margin-top: 24px;
}

main.login .login_contents_wrap .form_corporate label {
  display: block;
  font-size: 14px;
}

main.login .login_contents_wrap .form_corporate label span {
  color: #ff5442;
}

main.login .login_contents_wrap .form_corporate input {
  width: 100%;
  margin-top: 8px;
  padding: 14px 20px;
  border: 1px solid #d2d1d0;
  border-radius: 4px;
}

main.login .login_contents_wrap .form_corporate p {
  position: relative;
  padding-left: 20px;
  margin-top: 24px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #8e8c8a;
}

main.login .login_contents_wrap .form_corporate p:last-child {
  margin-top: 8px;
}

main.login .login_contents_wrap .form_corporate p:before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/sign_up/icon-bullet-small.png) center no-repeat;
}

main.login .login_contents_wrap .form_corporate p a {
  font-size: 14px;
  color: #8e8c8a;
  text-decoration: underline;
}

main.login .login_contents_wrap .agreement {
  margin-top: 48px;
}

main.login .login_contents_wrap .agreement li input[type="checkbox"] + label {
  display: inline-block;
  padding-left: 32px;
  background: url(../img/sign_up/selection-controls-checkbox-02-unselected.png) left center no-repeat;
  cursor: pointer;
}

main.login .login_contents_wrap .agreement li input[type="checkbox"]:checked + label {
  display: inline-block;
  padding-left: 32px;
  background: url(../img/sign_up/selection-controls-checkbox-01-selected.png) left center no-repeat;
  cursor: pointer;
}

main.login .login_contents_wrap .agreement li input[type="checkbox"] {
  display: none;
}

main.login .login_contents_wrap .agreement li:nth-child(1) label {
  font-size: 16px;
  font-weight: bold;
  color: #1c1814;
}

main.login .login_contents_wrap .agreement li:nth-child(2) {
  font-size: 14px;
  color: #605d60;
  margin-top: 18px;
}

main.login .login_contents_wrap .agreement li:nth-child(3) {
  font-size: 14px;
  color: #605d60;
  margin-top: 12px;
}

main.login .login_contents_wrap .agreement li label {
  letter-spacing: -1px;
}

main.login .login_contents_wrap .agreement li label span {
  color: #ff5442;
}

main.login .login_contents_wrap > button {
  width: 100%;
  height: 64px;
  margin-top: 48px;
  padding: 18px 24px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background: #00b076;
}
