@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: "NotoSansCJKkr";
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}

body {
  background-color: #fff;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

a:visited {
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

table {
  border-spacing: 0;
}

select:focus {
  outline: none;
}

/* reset css */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

/* rem default 10px */
body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지. */
body {
  background: #fff;
  width: 100%;
}

html,
body {
  height: 100%;
  height: 100vh;
  min-height: 100vh;
}

/* HTML, body 높이값 100% 고정 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  color: #1c1814;
  font-weight: normal;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em,
address {
  font-style: normal;
}

hr {
  display: none;
  visibility: hidden;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  outline: transparent;
}

/* 포커스 라인 비활성처리*/
table {
  background-color: transparent;
  border-spacing: 0;
}

input,
textarea,
select {
  background-color: transparent;
}

input:checked[type="checkbox"] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-color: #ccc;
  text-indent: 10px;
  background: url(/kr/assets/img/ico_selarrow.png) 100% 50% no-repeat;
  background-size: auto calc(18px / 3);
}

input:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

/* IE9 이상 select 화살표 삭제 */
/* select {border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px; } */
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
}

input[type="text"]:-moz-read-only,
input[type="password"]:-moz-read-only,
input[type="text"]:disabled,
input[type="password"]:disabled {
  background: #f6f6f6;
}

input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="text"]:disabled,
input[type="password"]:disabled {
  background: #f6f6f6;
}

strong {
  font-family: en_regular, kr_regular;
  font-weight: normal;
}

b {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #333;
  text-decoration: none;
  /*outline:transparent;*/
}

a:active,
a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

legend,
caption {
  overflow: hidden;
  padding: 0;
  font-size: 1px;
  line-height: 0;
  border: 0;
  text-indent: -9999px;
}

/* .hide {color:transparent;vertical-align:middle;display:block;overflow:hidden;width:1px;height:1px;margin-bottom:-1px;text-align:center;white-space:nowrap;font-size:1px;} */
.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  border: 0;
}

.blind {
  position: absolute !important;
  display: block !important;
  height: 0 !important;
  width: 0 !important;
  font-size: 2px !important;
  line-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  z-index: -1;
}

/* .blind {color:transparent;vertical-align:middle;display:block;overflow:hidden;width:1px;height:1px;margin-bottom:-1px;text-align:center;white-space:nowrap;font-size:1px;}
.hide {display:inline-block; text-indent:100%; white-space:nowrap; overflow:hidden;} */
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8f8f8f;
  font-size: 15px;
  font-family: en_kr;
}

::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8f8f8f;
  font-size: 15px;
  font-family: en_kr;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8f8f8f;
  font-size: 15px;
  font-family: en_kr;
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Black.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-DemiLight.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Light.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Medium.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Regular.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansCJKkr-Thin.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansMonoCJKkr-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansMonoCJKkr-Regular.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansCJKkr";
  src: url(../font/NotoSansMonoCJKkr-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-bold";
  src: url(../font/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-regular";
  src: url(../font/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-ThinItalic.ttf) format("truetype");
}

/*header*/
.header_bg {
  position: absolute;
  width: 100%;
  height: 193px;
  background: #fff;
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.08);
}

header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 193px;
}

header .log_in {
  overflow: hidden;
  position: absolute;
  top: 16px;
  right: 0;
  margin-right: 64px;
}

header .log_in:after {
  content: "";
  display: block;
  clear: both;
}

header .log_in > li {
  float: left;
  margin-left: 12px;
}

header .log_in > li > a {
  color: #8e8c8a;
}

header .log_in > li:last-child:after {
  content: "";
  display: none;
}

header .log_in > li:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background: #8e8c8a;
  margin-left: 12px;
}

header .main_gnb {
  overflow: hidden;
  position: absolute;
  top: 65px;
  width: 100%;
  height: 52px;
  padding: 0 64px;
}

header .main_gnb:after {
  content: "";
  display: block;
  clear: both;
}

header > .main_gnb > .left {
  float: left;
  overflow: hidden;
  line-height: 52px;
}

header > .main_gnb > .right {
  float: right;
  overflow: hidden;
}

header > .main_gnb > .left:after,
header > .main_gnb > .right:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb > .left > h1,
header .main_gnb > .left > .main_nav,
header .main_gnb > .right > .search,
header .main_gnb > .right > .icons {
  float: left;
}

header .main_gnb h1 {
  background: url(../img/nav/img-logo-eng-full.png) center no-repeat;
  margin-right: 48px;
  width: 139px;
  height: 39px;
  font-size: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

header .main_gnb .main_nav > ul {
  overflow: hidden;
}

header .main_gnb .main_nav > ul:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb .main_nav > ul > li {
  float: left;
  margin-right: 48px;
}

header .main_gnb .main_nav > ul > li > a {
  font-size: 20px;
  font-weight: bold;
  color: #1c1814;
}

header .main_gnb .main_nav > ul > li > a.on {
  color: #00b076;
}

header .main_gnb .search {
  border: none;
  border-bottom: 2px solid #1c1814;
  width: 320px;
  color: #8e8c8a;
  padding: 12px 0 10px 8px;
}

header .main_gnb .search input[type="submit"] {
  background: url(../img/nav/icon-search-bold.png) center no-repeat;
  width: 28px;
  height: 28px;
  font-size: 0;
  float: right;
  cursor: pointer;
}

header .main_gnb .search input {
  border: none;
}

header .main_gnb .icons {
  overflow: hidden;
  margin-left: 48px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header .main_gnb .icons:after {
  content: "";
  display: block;
  clear: both;
}

header .main_gnb .icons > li {
  margin-right: 32px;
  float: left;
}

header .main_gnb .icons > li:last-child {
  margin-right: 0;
}

header .main_gnb .icons > li > a {
  float: left;
  background: url(../img/nav/icon-utillity.png) center no-repeat;
  width: 32px;
  height: 32px;
}

header .main_gnb .icons > li:nth-child(2) > a {
  background: url(../img/nav/icon-mypage-default.png) center no-repeat;
}

header .main_gnb .icons > li:nth-child(3) > a {
  background: url(../img/nav/icon-cart-default.png) center no-repeat;
}

/*sub_nav*/
header .sub_nav {
  position: absolute;
  top: 137px;
  padding-left: 62px;
}

header .sub_nav > ul {
  position: relative;
}

header .sub_nav > ul:after {
  content: "";
  display: block;
  clear: both;
}

header .sub_nav > ul > li {
  position: relative;
  float: left;
  margin-right: 16px;
  padding: 16px 8px;
}

header .sub_nav > ul > li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #00b076;
  display: none;
}

header .sub_nav > ul > li:hover:after {
  display: inline-block;
}

header .sub_nav > ul > li:hover dl {
  display: block;
}

header .sub_nav > ul > li:nth-of-type(2):after,
header .sub_nav > ul > li:nth-of-type(3):after {
  content: "";
  display: none;
}

header .sub_nav > ul > li > a {
  display: inline-block;
  height: 100%;
  font-size: 16px;
}

header .sub_nav > ul > li > a.category:after,
header .sub_nav > ul > li > a.space:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: url(../img/nav/icon-chevron-down.png) center no-repeat;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .sub_nav > ul > li > a.category:hover:after,
header .sub_nav > ul > li > a.space:hover:after {
  content: "";
  background: url(../img/nav/icon-chevron-up.png) center no-repeat;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .sub_nav > ul > li > a:hover {
  color: #00b076;
}

header .sub_nav > ul > li:last-child {
  margin: 0;
}

header .sub_nav > ul > li .dl_wrap {
  position: absolute;
  top: 35px;
}

header .sub_nav > ul > li dl {
  position: absolute;
  width: 224px;
  padding: 32px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 57px;
  left: -25px;
  border-radius: 0 0 10px 10px;
  display: none;
  z-index: 999;
}

header .sub_nav > ul > li dl.on {
  width: 448px;
}

header .sub_nav > ul > li dl dt {
  color: #1c1814;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

header .sub_nav > ul > li:nth-child(2) dl dt:first-child {
  margin-top: 0;
}

header .sub_nav > ul > li dl dd,
header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a {
  font-size: 14px;
  color: #605d5b;
}

header .sub_nav > ul > li dl dd {
  padding-top: 16px;
}

header .sub_nav > ul > li dl dd:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../img/nav/icon-category-appliances.png) center no-repeat;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .sub_nav > ul > li dl dd:nth-child(2):before {
  background: url(../img/nav/icon-category-diyfloor.png);
}

header .sub_nav > ul > li dl dd:nth-child(4):before {
  background: url(../img/nav/icon-category-electric.png);
}

header .sub_nav > ul > li dl dd:nth-child(5):before {
  background: url(../img/nav/icon-category-fabric.png);
}

header .sub_nav > ul > li dl dd:nth-child(6):before {
  background: url(../img/nav/icon-category-faucets.png);
}

header .sub_nav > ul > li dl dd:nth-child(7):before {
  background: url(../img/nav/icon-category-hardware.png);
}

header .sub_nav > ul > li dl dd:nth-child(8):before {
  background: url(../img/nav/icon-category-light.png);
}

header .sub_nav > ul > li dl dd:nth-child(9):before {
  background: url(../img/nav/icon-category-living.png);
}

header .sub_nav > ul > li dl dd:nth-child(10):before {
  background: url(../img/nav/icon-category-materials.png);
}

header .sub_nav > ul > li dl dd:nth-child(11):before {
  background: url(../img/nav/icon-category-office.png);
}

header .sub_nav > ul > li dl dd:nth-child(12):before {
  background: url(../img/nav/icon-category-outdoor.png);
}

header .sub_nav > ul > li dl dd:nth-child(13):before {
  background: url(../img/nav/icon-category-paint.png);
}

header .sub_nav > ul > li dl dd:nth-child(14):before {
  background: url(../img/nav/icon-category-sheet.png);
}

header .sub_nav > ul > li dl dd:nth-child(15):before {
  background: url(../img/nav/icon-category-tile.png);
}

header .sub_nav > ul > li dl dd:nth-child(16):before {
  background: url(../img/nav/icon-category-tools.png);
}

header .sub_nav > ul > li dl dd:hover {
  color: #00b076;
  cursor: pointer;
}

header .sub_nav > ul > li dl dd > ul {
  border-left: 1px solid #f4f4f4;
  position: absolute;
  top: 0;
  left: 224px;
  height: 648px;
  width: 224px;
  padding-left: 32px;
  padding-top: 72px;
  visibility: hidden;
}

header .sub_nav > ul > li dl dd > ul.on {
  visibility: visible;
}

header .sub_nav > ul > li dl dd > ul > li {
  margin-top: 21px;
}

header .sub_nav > ul > li:nth-child(2) dl dd > ul > li:first-child {
  margin-top: 0;
}

header .sub_nav > ul > li:nth-child(2) dl dd > ul > li a:hover {
  color: #00b076;
}

footer {
  margin-top: 96px;
}

main {
  max-width: 1344px;
  margin: 0 auto;
  min-height: 100%;
}

main .elipse_zone {
  margin-top: 64px;
  width: 100%;
  height: 88px;
  padding: 24px 0;
  border-radius: 8px;
  background: #f8f8f8;
  text-align: center;
}

main .elipse_zone li {
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 8px;
  cursor: pointer;
}

main .elipse_zone li:last-child {
  margin-right: 0;
}

main .elipse_zone li a {
  font-size: 14px;
  color: #605d5b;
}

main section {
  margin-top: 64px;
}

main section .sec_tit {
  font-size: 40px;
  color: #1c1814;
  font-weight: bold;
  letter-spacing: -2px;
}

main section:nth-child(2) {
  margin-top: 3s2px;
}

main section.category_zone {
  padding-bottom: 96px;
  border-bottom: 1px solid #e8e8e8;
}

main section.category_zone .round_cat {
  margin-top: 32px;
}

main section.category_zone .round_cat .row {
  overflow: hidden;
  text-align: center;
}

main section.category_zone .round_cat .row:after {
  content: "";
  display: block;
  clear: both;
}

main section.category_zone .round_cat .row:last-child {
  margin-top: 32px;
}

main section.category_zone .round_cat .row li {
  display: inline-block;
  width: calc(100% / 8 - 46px);
  margin-right: 48px;
  float: left;
}

main section.category_zone .round_cat .row li:last-child {
  margin-right: 0;
}

main section.category_zone .round_cat .row li a {
  width: 100%;
  color: #1c1814;
  font-size: 16px;
  margin-top: 16px;
  letter-spacing: -0.5px;
}

main section.category_zone .round_cat .row li a img {
  width: 100%;
  margin-bottom: 16px;
}

main section.time_deal .sec_tit {
  display: inline-block;
}

main section.time_deal .left_min {
  display: inline-block;
  margin-left: 32px;
}

main section.time_deal .left_min span.left_text {
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-right: 16px;
  float: left;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

main section.time_deal .left_min ul {
  overflow: hidden;
  display: inline-block;
  float: left;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main section.time_deal .left_min ul li {
  float: left;
  padding: 4px;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-color: #000;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

main section.time_deal .left_min ul span {
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-right: 8px;
  float: left;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

main section.time_deal .learn_more {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #8e8c8a;
  letter-spacing: -0.25px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main section.time_deal .learn_more:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/main/icon-chevron-right_6.png) center no-repeat;
  margin-left: 7px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main section.popular_items .tap_list {
  overflow: hidden;
  margin-top: 32px;
  border-bottom: 1px solid #d2d1d0;
}

main section.popular_items .tap_list:after {
  content: "";
  display: block;
  clear: both;
}

main section.popular_items .tap_list li {
  float: left;
  margin-right: 40px;
  padding: 16px 8px;
}

main section.popular_items .tap_list li:last-child {
  margin-right: 0;
}

main section.popular_items .tap_list li a {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #1c1814;
}

main section.popular_items .row .tap .item_popular {
  width: calc(100% / 5 - 33px);
  height: 352px;
  margin-top: 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

main section.popular_items .row .tap .item_popular .img_wrapper {
  margin: 0;
}

main section.popular_items .row .tap .item_popular .img_wrapper img {
  width: 100%;
}

main section.popular_items .row .tap .item_popular .text {
  margin-top: 0;
  padding: 16px;
}

main section.popular_items .row .tap .item_popular .text .sub {
  margin-top: 0;
  font-size: 14px;
}

main section.popular_items .row .tap .item_popular .text .price {
  margin-top: 16px;
  font-size: 18px;
}

main section.popular_items .row .tap .item_popular .text .price span {
  font-size: 14px;
}

main section.popular_items .row .tap .item_popular .text .price:after {
  font-size: 14px;
}

main section.try_it ul.top_try_it {
  overflow: hidden;
  margin-top: 32px;
  padding-bottom: 96px;
}

main section.try_it ul.top_try_it:after {
  content: "";
  display: block;
  clear: both;
}

main section.try_it ul.top_try_it li {
  position: relative;
  float: left;
  width: calc(100% / 3 - 32px);
  height: 120px;
  margin-right: 32px;
  padding: 48px 32px 48px 152px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: -1.2px;
}

main section.try_it ul.top_try_it li:last-child {
  margin-right: 0;
}

main section.try_it ul.top_try_it li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  background: url(../img/main/img-mo-try-1.png) center no-repeat;
  background-size: contain;
  border-radius: 8px 0 0 8px;
}

main section.try_it ul.main_try_it {
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: 1px solid #e8e8e8;
}

main section.try_it ul.main_try_it:after {
  content: "";
  display: block;
  clear: both;
}

main section.try_it ul.main_try_it li {
  float: left;
  margin-right: 33px;
  width: calc(100% / 5 - 33px);
}

main section.try_it ul.main_try_it li:first-child {
  font-size: 32px;
  letter-spacing: -2px;
}

main section.try_it ul.main_try_it li:first-child span {
  font-weight: bold;
}

main section.try_it ul.main_try_it li:nth-child(5n) {
  margin-right: 0;
}

main section.try_it ul.main_try_it li:nth-child(5) ~ li {
  margin-top: 32px;
}

main section.try_it ul.main_try_it li .item {
  width: 100%;
}

main section.try_it ul.main_try_it li .item_try_it .text {
  margin-top: 16px;
}

main section.try_it ul.main_try_it li .item_try_it .text .price {
  margin-top: 0;
  font-size: 18px;
}

main section.try_it ul.main_try_it li .item_try_it .text .price:after {
  font-size: 16px;
}

main section.try_it ul.main_try_it li .item_try_it .text .sub {
  font-size: 14px;
  margin-top: 4px;
  letter-spacing: -0.25px;
}

main .bottom_banner {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: url(../img/main/img-pc-main-fix.png) center no-repeat;
  background-size: contain;
  background-color: #00b076;
  margin-top: 32px;
  cursor: pointer;
}

main section.recommend_brand {
  margin-top: 208px;
}

main section.recommend_brand .rec_con_wrap {
  overflow: hidden;
  width: 100%;
  margin: 32px auto 0;
  height: 410px;
}

main section.recommend_brand .rec_con_wrap:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .rec_con_wrap .left_recommend {
  position: relative;
  float: left;
  width: 640px;
  height: 100%;
  margin-right: 32px;
  padding: 48px;
  background: url(../img/event/img-mo-cate.png) center no-repeat;
  background-size: cover;
  border-radius: 8px;
}

main section.recommend_brand .rec_con_wrap .left_recommend:before {
  content: "";
  position: absolute;
  width: 640px;
  height: 410px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap {
  position: absolute;
  bottom: 48px;
  left: 48px;
  right: 48px;
}

main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap dl dt {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
}

main section.recommend_brand .rec_con_wrap .left_recommend .text_wrap dl dd {
  font-size: 14px;
  color: #fff;
  letter-spacing: -0.25px;
}

main section.recommend_brand .rec_con_wrap .right_recommend {
  float: left;
  width: 640px;
  height: 100%;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul {
  overflow: hidden;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li {
  float: left;
  width: calc(100% / 3 - 32px);
  height: 192px;
  margin-right: 32px;
  background: url(../img/main/img-thumbnail.png) center no-repeat;
  border-radius: 4px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:nth-child(3) ~ li {
  margin-top: 32px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child {
  position: relative;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

main section.recommend_brand .rec_con_wrap .right_recommend ul li:last-child:after {
  content: "+15";
  position: absolute;
  font-size: 32px;
  color: #fff;
  letter-spacing: -0.5px;
  left: 65px;
  top: 76px;
}

main section.recommend_brand .information {
  overflow: hidden;
  margin-top: 96px;
}

main section.recommend_brand .information:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .information li.information_li {
  float: left;
  width: calc(100% / 2 - 32px);
  margin-right: 32px;
  padding: 32px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

main section.recommend_brand .information li.information_li dl dt {
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 16px;
}

main section.recommend_brand .information li.information_li dl dd {
  font-size: 14px;
  color: #605d5b;
  letter-spacing: -0.25px;
  margin-top: 8px;
}

main section.recommend_brand .information li.information_li dl dd:first-child {
  margin-top: 0;
}

main section.recommend_brand .information li.information_li dl dd ul {
  overflow: hidden;
}

main section.recommend_brand .information li.information_li dl dd ul:after {
  content: "";
  display: block;
  clear: both;
}

main section.recommend_brand .information li.information_li dl dd ul li {
  float: left;
  margin-top: 8px;
  margin-left: 12px;
  color: #605d5b;
  font-size: 14px;
}

main section.recommend_brand .information li.information_li dl dd ul li:first-child {
  margin-left: 0;
}

main section.recommend_brand .information li.information_li dl dd ul li:nth-child(4n) {
  margin-left: 0;
}

main section.recommend_brand .information li.information_li dl dd ul li:after {
  content: "|";
  color: #605d5b;
  margin-left: 12px;
}

main section.recommend_brand .information li.information_li dl dd ul li:nth-child(3n):after {
  content: "";
  display: none;
}

main section.recommend_brand .information li.information_li dl dd ul li:last-child:after {
  content: "";
  display: none;
}

.item {
  width: calc(100% / 4 - 32px);
  cursor: pointer;
}

.item .img_wrapper {
  position: relative;
}

.item .img_wrapper span.yellow_text {
  position: absolute;
  top: 25px;
  left: 8px;
  color: #1c1814;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.25px;
  z-index: 5;
}

.item .img_wrapper span.yellow_bg:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url(../img/main/icon-timedeal.png) center no-repeat;
  z-index: 6;
}

.item .img_wrapper span.yellow_bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #ffe73e;
  width: 48px;
  height: 48px;
  border-radius: 4px 0 4px 0;
}

.item .img_wrapper span.book_mark {
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
}

.item .img_wrapper img {
  width: 100%;
}

.item .text {
  margin-top: 16px;
}

.item .text .price {
  font-size: 24px;
  color: #1c1814;
  font-family: Lato-bold;
}

.item .text .price span {
  font-size: 18px;
  letter-spacing: -0.5px;
  font-family: notoSansCjKkr;
  font-weight: bold;
}

.item .text .price:after {
  content: "20%";
  font-family: Lato-regular;
  color: #00b076;
  font-size: 20px;
  margin-left: 12px;
}

.item .sub {
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #605d5b;
}

.item .star {
  margin-top: 24px;
}

.item .star span {
  font-size: 14px;
  color: #8e8c8a;
  letter-spacing: -0.25px;
}

.item .star span:first-child:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/main/icon-star.png) center no-repeat;
  margin-right: 4px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.item .star span:nth-child(2) {
  margin-left: 12px;
}

.item .stand_out {
  margin-top: 8px;
}

.item .stand_out span {
  font-size: 14px;
  letter-spacing: -0.25px;
  font-weight: bold;
}

.item .stand_out span:first-child {
  color: #ff5442;
}

.item .stand_out span:nth-child(2) {
  margin-left: 12px;
  color: #605d5b;
}
