.state_page_wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.state_page_wrap .state_page {
  max-width: 1344px;
  margin: 0 62px;
  padding: 24px 0;
}

.state_page_wrap .state_page ul {
  overflow: hidden;
}

.state_page_wrap .state_page ul:after {
  content: "";
  display: block;
  clear: both;
}

.state_page_wrap .state_page ul li {
  float: left;
}

.state_page_wrap .state_page ul li:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/subpage/icon-chevron-right.png) center no-repeat;
  margin: 0 4px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.state_page_wrap .state_page ul li:first-child:before {
  content: "";
  display: none;
}

.state_page_wrap .state_page ul li a {
  color: #8e8c8a;
  font-size: 14px;
}

main.product_detail {
  max-width: 1440px;
  margin: 0 auto;
}

main.product_detail .subpage_contents_wrap {
  overflow: hidden;
  max-width: 1344px;
  margin: 0 62px;
}

main.product_detail .subpage_contents_wrap:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .top_con {
  overflow: hidden;
}

main.product_detail .subpage_contents_wrap .top_con .top_left {
  max-width: 752px;
  float: left;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap {
  overflow: hidden;
  width: 100%;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper2 {
  max-width: 640px;
  max-height: 640px;
  margin: 0;
  float: right;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper2 .swiper-slide {
  max-width: 640px;
  max-height: 640px;
  margin: 0;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper2 .swiper-slide img {
  width: 100%;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper {
  max-width: 96px;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 16px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper .swiper-wrapper .swiper-slide {
  width: 96px !important;
  height: 96px;
  margin-right: 0;
  margin-bottom: 8px;
  cursor: pointer;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .gallery_wrap .mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story {
  margin-top: 64px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider {
  margin-top: 16px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider .slick-next {
  top: 32%;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider .slick-prev {
  top: 32%;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider li {
  width: 236px !important;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider li a p {
  font-size: 16px;
  letter-spacing: -0.5px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider li a p:before {
  content: "";
  display: inline-block;
  width: 236px;
  height: 177px;
  background: url(../img/subpage/thumbnail-storyimg.png) center no-repeat;
  margin-bottom: 16px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider li a span {
  display: inline-block;
  font-size: 14px;
  color: #605d5b;
  margin-top: 10px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .story .story_slider li a span:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/subpage/img-thumbnail.png) center no-repeat;
  margin-right: 8px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

main.product_detail .subpage_contents_wrap .top_con .top_left .self_guide {
  margin-top: 64px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .self_guide .self_guide_con {
  position: relative;
  margin-top: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 24px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .self_guide .self_guide_con img {
  width: 208px;
  height: 117px;
  border-radius: 4px;
  margin-right: 24px;
}

main.product_detail .subpage_contents_wrap .top_con .top_left .self_guide .self_guide_con a {
  position: absolute;
  font-size: 16px;
  top: 42%;
}

main.product_detail .subpage_contents_wrap .top_con .top_right {
  float: right;
  position: relative;
  width: 496px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .delivery {
  overflow: hidden;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .delivery:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .delivery li {
  float: left;
  margin-right: 12px;
  font-size: 14px;
  font-weight: bold;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .delivery li:first-child {
  color: #ff5442;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .delivery li:last-child {
  float: right;
  color: #8e8c8a;
  font-size: 14px;
  position: absolute;
  right: 0;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_tit {
  font-size: 32px;
  margin-top: 24px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .share {
  display: inline-block;
  position: absolute;
  top: 47px;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../img/subpage/icon-share.png") center no-repeat;
  font-size: 0;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .stars {
  overflow: hidden;
  display: inline-block;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .stars:after {
  content: "4.0";
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -3px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .stars li {
  display: inline-block;
  background: url(../img/subpage/icon-star1.png) center no-repeat;
  width: 20px;
  height: 20px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .stars li:last-child {
  background: url(../img/subpage/icon-star.png) center no-repeat;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .review {
  margin-left: 12px;
  position: relative;
  top: -8px;
  font-size: 14px;
  color: #8e8c8a;
  text-decoration: underline;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  font-family: "Lato-bold";
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_price > span {
  font-size: 18px;
  font-weight: bold;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_price > span:after {
  content: "36%";
  color: #00b076;
  font-size: 24px;
  margin-left: 8px;
  font-family: "Lato-regular";
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_price .price_original {
  display: inline-block;
  font-size: 24px;
  margin-left: 24px;
  color: #b8b6b4;
  font-family: "Lato-light";
  text-decoration: line-through;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_price .price_original span {
  font-size: 18px;
  font-weight: lighter;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_benefit {
  width: 100%;
  height: 48px;
  border: 1px solid #d2d1d0;
  padding: 14px 20px;
  border-radius: 4px;
  margin-top: 32px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_benefit span {
  font-size: 14px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_benefit span:last-child {
  float: right;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_benefit span:last-child:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/subpage/icon-arrow-down-small.png) center no-repeat;
  margin-left: 4px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details {
  margin-top: 32px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail {
  margin-top: 24px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail:first-child {
  margin-top: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail:last-child .row:last-child dd:last-child:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-store.png) center no-repeat;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  margin-right: 4px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row {
  overflow: hidden;
  margin-top: 16px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row:first-child {
  margin-top: 0;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row dt {
  float: left;
  width: 80px;
  font-size: 14px;
  color: #8e8c8a;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row dd {
  float: left;
  margin-left: 16px;
  font-size: 14px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row dd span {
  color: #00b076;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row dd span.over_5 {
  color: #8e8c8a;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .main_details .main_detail .row dd:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  background: url(../img/subpage/icon-chevron-right.png) center no-repeat;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_option_wrap {
  margin-top: 32px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_option_wrap .select_option {
  width: 100%;
  height: 48px;
  border: 1px solid #d2d1d0;
  border-radius: 4px;
  padding: 14px 20px;
  margin-top: 12px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_option_wrap .select_option span {
  font-size: 14px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .select_option_wrap .select_option span:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-chevron-down1.png) center no-repeat;
  float: right;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .btns {
  margin-top: 32px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .btns button {
  border-radius: 4px;
  padding: 16px 24px;
  height: 64px;
  margin: 0 0 0 1px;
  width: 64px;
  border: 1px solid #d2d1d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .btns button img {
  width: 100%;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .btns button:nth-of-type(1) {
  font-size: 0;
  margin-left: 0;
  padding: 16px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .btns button:nth-of-type(2) {
  width: 208px;
}

main.product_detail .subpage_contents_wrap .top_con .top_right .btns button:nth-of-type(3) {
  width: 208px;
  background: #ff5442;
  border: none;
  color: #fff;
}

main.product_detail .subpage_contents_wrap .subpage_list {
  margin-top: 96px;
  overflow: hidden;
}

main.product_detail .subpage_contents_wrap .subpage_list:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .subpage_list li {
  width: 216px;
  float: left;
  text-align: center;
  padding: 18px 20px;
}

main.product_detail .subpage_contents_wrap .subpage_list li.on {
  border-bottom: 3px solid #00b076;
}

main.product_detail .subpage_contents_wrap .subpage_list li.on a {
  color: #00b076;
  font-weight: bold;
}

main.product_detail .subpage_contents_wrap .subpage_list li a {
  display: inline-block;
  width: 176px;
  font-size: 18px;
}

main.product_detail .subpage_contents_wrap .subpage_list_wrap_line {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d2d1d0;
}

main.product_detail .subpage_contents_wrap .bottom_contents {
  overflow: hidden;
  position: relative;
}

main.product_detail .subpage_contents_wrap .bottom_right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 64px;
  width: 384px;
  float: right;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right {
  float: right;
  position: relative;
  width: 100%;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .select_option_wrap .select_option {
  width: 100%;
  height: 48px;
  border: 1px solid #d2d1d0;
  border-radius: 4px;
  padding: 14px 20px;
  margin-top: 12px;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .select_option_wrap .select_option:first-child {
  margin-top: 0;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .select_option_wrap .select_option span {
  font-size: 14px;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .select_option_wrap .select_option span:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-chevron-down1.png) center no-repeat;
  float: right;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .btns {
  margin-top: 32px;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .btns button {
  border-radius: 4px;
  padding: 16px 24px;
  height: 64px;
  margin: 0 0 0 1px;
  width: 64px;
  border: 1px solid #d2d1d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .btns button img {
  width: 100%;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .btns button:nth-of-type(1) {
  font-size: 0;
  margin-left: 0;
  padding: 16px;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .btns button:nth-of-type(2) {
  width: 312px;
}

main.product_detail .subpage_contents_wrap .bottom_right .top_right .btns button:nth-of-type(3) {
  width: 100%;
  margin-top: 8px;
  background: #ff5442;
  border: none;
  color: #fff;
}

main.product_detail .subpage_contents_wrap .bottom_left {
  float: left;
  width: 864px;
  margin-top: 64px;
}

main.product_detail .subpage_contents_wrap .bottom_left .bottom_left_img {
  width: 100%;
  height: 551px;
}

main.product_detail .subpage_contents_wrap .bottom_left .bottom_left_main {
  margin-top: 78px;
}

main.product_detail .subpage_contents_wrap .bottom_left .bottom_left_main dt {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -2px;
}

main.product_detail .subpage_contents_wrap .bottom_left .bottom_left_main dd {
  margin-top: 24px;
  font-size: 16px;
  letter-spacing: -0.5px;
}

main.product_detail .subpage_contents_wrap .bottom_left .bottom_left_main dd:last-child {
  margin-top: 16px;
  font-size: 14px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left .detail {
  margin-top: 64px;
}

main.product_detail .subpage_contents_wrap .bottom_left .detail dl {
  overflow: hidden;
}

main.product_detail .subpage_contents_wrap .bottom_left .detail dl:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left .detail dl dt {
  float: left;
  font-size: 24px;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left .detail dl dd {
  float: left;
  margin-left: 32px;
  font-size: 16px;
  letter-spacing: -0.5px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

main.product_detail .subpage_contents_wrap .bottom_left .detail img {
  width: 864px;
  height: 887px;
  margin-top: 17px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product {
  width: 100%;
  border-collapse: collapse;
  margin-top: 48px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tr th {
  text-align: start;
  width: 216px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product thead tr th {
  padding-bottom: 16px;
  font-size: 20px;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr:first-child {
  border-top: 1px solid #1c1814;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr:first-child th {
  padding-top: 24px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr:first-child td {
  padding-top: 24px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr:last-child {
  border-bottom: 1px solid #e8e8e8;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr:last-child th {
  padding-bottom: 24px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr:last-child td {
  padding-bottom: 24px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr th {
  text-align: start;
  padding-bottom: 16px;
  font-size: 14px;
  letter-spacing: -1.25px;
}

main.product_detail .subpage_contents_wrap .bottom_left .about_product tbody tr td {
  padding-bottom: 16px;
  padding-left: 24px;
  font-size: 14px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left section .section_tit {
  width: 100%;
  height: 48px;
}

main.product_detail .subpage_contents_wrap .bottom_left section .section_tit .bottom_left_tit {
  float: left;
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left section .section_tit .bottom_left_tit span {
  margin-left: 8px;
  font-size: 16px;
  color: #8e8c8a;
}

main.product_detail .subpage_contents_wrap .bottom_left section .section_tit .write {
  float: right;
  width: 160px;
  height: 100%;
  border: 1px solid #00b076;
  border-radius: 4px;
  text-align: center;
  padding: 12px 20px;
  font-size: 16px;
  color: #00b076;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .notice {
  margin-top: 12px;
  font-size: 14px;
  color: #8e8c8a;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .notice span {
  font-size: 14px;
  color: #1c1814;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score {
  overflow: hidden;
  width: 100%;
  padding: 36px 0;
  border-radius: 4px;
  background: #f8f8f8;
  margin: 32px 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_left {
  float: left;
  text-align: center;
  padding: 0 136px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_left p {
  font-family: "Lato-bold";
  font-size: 38px;
  font-weight: bold;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_left p span {
  font-family: "Lato-light";
  font-size: 38px;
  color: #b8b6b4;
  font-weight: normal;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_left ul {
  overflow: hidden;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_left ul:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_left ul li {
  float: left;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right {
  float: left;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li:nth-child(2) .numbers_of_review {
  width: 180px;
  background: #00b076;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li:nth-child(2) .numbers_of_review:after {
  content: "";
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li:nth-child(3) .numbers_of_review {
  width: 90px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li:nth-child(4) .numbers_of_review {
  width: 40px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li:nth-child(5) .numbers_of_review {
  width: 120px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li ul {
  overflow: hidden;
  padding-left: 72px;
  border-left: 1px solid #e8e8e8;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li ul:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li ul li {
  float: left;
  color: #8e8c8a;
  font-size: 12px;
  letter-spacing: -0.25px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .score .score_right > ul > li ul .numbers_of_review {
  display: inline-block;
  font-size: 0;
  width: 60px;
  height: 6px;
  border-radius: 4px;
  background-color: #d2d1d0;
  margin: 8px 7px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .review_photo {
  overflow: hidden;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .review_photo:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .review_photo li {
  float: left;
  margin-right: 12px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_review .review_photo li:last-child {
  margin-right: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian {
  margin-top: 48px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian ul {
  margin-top: 16px;
  border-top: 1px solid #1c1814;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian ul li {
  padding: 24px 0;
  border-bottom: 1px solid #e8e8e8;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian ul li .ac_tit {
  font-size: 14px;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian ul li .ac_tit:after {
  content: "";
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/subpage/icon-chevron-down4.png) center no-repeat;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian ul li p {
  display: none;
  position: relative;
  padding: 24px 24px 24px 40px;
  margin-top: 24px;
  border-radius: 4px;
  background: #f8f8f8;
  font-size: 14px;
  letter-spacing: -1px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .accordian ul li p:before {
  content: "";
  position: absolute;
  left: 25px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(../img/subpage/icon-reply.png) center no-repeat;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 {
  margin-top: 48px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu {
  margin-top: 16px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu .toggle_btn {
  overflow: hidden;
  float: right;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu .toggle_btn:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu .toggle_btn li {
  float: left;
  margin-right: 32px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu .toggle_btn li:last-child {
  margin-right: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu .toggle_btn li a {
  font-size: 14px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .tap_menu .toggle_btn li a img {
  margin-right: 7px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order:nth-of-type(2) {
  display: none;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order:nth-of-type(3) {
  display: none;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li:nth-child(3) .ac_tit:before {
  content: "";
  display: none;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top {
  margin-bottom: 16px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top li:nth-child(4) {
  float: right;
  margin-left: 16px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top li:nth-child(4) a {
  font-size: 14px;
  color: #b8b6b4;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top li:nth-child(5) {
  float: right;
  font-size: 14px;
  color: #b8b6b4;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top li:nth-child(5) a {
  font-size: 14px;
  color: #b8b6b4;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top .answer {
  margin-right: 16px;
  font-weight: bold;
  color: #8e8c8a;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .review_top .answer.on {
  color: #00b076;
  font-weight: bold;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .ac_tit {
  font-size: 14px;
  letter-spacing: -1px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .ac_tit:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-lock.png) center no-repeat;
  padding-bottom: 5px;
  margin-bottom: -4px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li .ac_tit:after {
  content: "";
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/subpage/icon-chevron-down4.png) center no-repeat;
  -webkit-transform: translateY(-21px);
          transform: translateY(-21px);
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li p {
  position: relative;
  padding: 24px 24px 24px 40px;
  margin-top: 24px;
  border-radius: 4px;
  background: #f8f8f8;
  font-size: 14px;
  letter-spacing: -1px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .tap2 .pop_order li p:before {
  content: "";
  position: absolute;
  left: 25px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(../img/subpage/icon-reply.png) center no-repeat;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .question_mtm {
  width: 100%;
  margin-top: 32px;
  padding: 34px 24px;
  font-size: 14px;
  background: #f1f9f6;
  border-radius: 4px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.section_product .question_mtm a {
  display: inline-block;
  float: right;
  width: 97px;
  padding: 10px 12px;
  font-size: 14px;
  color: #fff;
  background: #00b076;
  border-radius: 3px;
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product caption {
  caption-side: bottom;
  line-height: 2.5;
  font-size: 12px;
  color: #8e8c8a;
  margin-top: -16px;
  text-align: left;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody {
  font-size: 14px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr {
  border-bottom: 1px solid #e8e8e8;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr:nth-child(3) td > ul {
  margin-top: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr:nth-child(3) td > ul > li:first-child {
  margin-top: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr:nth-child(4) td > ul {
  margin-top: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr:nth-child(4) td > ul > li:first-child {
  margin-top: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr th {
  width: 216px;
  padding: 24px 0 24px 24px;
  letter-spacing: -1px;
  background: #f8f8f8;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td {
  padding: 24px 0 24px 24px;
  letter-spacing: -1px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul {
  font-size: 14px;
  color: #605d5b;
  font-weight: bold;
  margin-top: 16px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li {
  font-size: 14px;
  color: #605d5b;
  margin-top: 8px;
  margin-left: 20px;
  position: relative;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-bullet-small.png) center no-repeat;
  position: absolute;
  left: -21px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li > a {
  color: #00b076;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ol {
  margin-top: 8px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ol li {
  margin-left: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ol li:before {
  content: "";
  display: none;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ol li a {
  color: #1c1814;
  text-decoration: underline;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ol li span {
  color: #1c1814;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ul {
  margin-top: 8px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ul li {
  margin-left: 0;
}

main.product_detail .subpage_contents_wrap .bottom_left section.refund .about_product tbody tr td ul li ul li:before {
  content: "";
  display: none;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion {
  overflow: hidden;
  margin-top: 24px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion:after {
  content: "";
  display: block;
  clear: both;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion > li {
  float: left;
  margin-right: 16px;
  width: 424px;
  height: 212px;
  background: url(../img/subpage/img-mo-promo-2.png) center no-repeat;
  padding: 46px 32px;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion > li:last-child {
  margin-right: 0;
  background: url(../img/subpage/img-mo-promo-4.png) center no-repeat;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion > li ul li:first-child {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: bold;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion > li ul li:nth-child(2) {
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1.5;
}

main.product_detail .subpage_contents_wrap .bottom_left section.promo .promotion > li ul li:nth-child(3) {
  font-size: 14px;
  margin-top: 16px;
  color: #605d5b;
}

main.product_detail .subpage_contents_wrap section.time_deal.product {
  margin-top: 96px;
}

main.product_detail .subpage_contents_wrap section.time_deal.product:last-child {
  margin-bottom: 32px;
}

main.product_detail .subpage_contents_wrap section.time_deal.product .sec_tit {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: normal;
}

main.product_detail .subpage_contents_wrap section.time_deal.product .sec_tit span {
  color: #00b076;
}

main.product_detail .subpage_contents_wrap section.time_deal.product .time_deal_items .responsive {
  margin-top: 32px;
}

.top_left_tit {
  font-size: 24px;
  font-weight: bold;
}

.top_left_tit span {
  display: inline-block;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-left: 8px;
  font-size: 16px;
  color: #8e8c8a;
  font-weight: normal;
}

.tap h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.tap .tap_menu {
  width: 100%;
  height: 52px;
  padding: 16px 0;
  margin-top: 32px;
  border-bottom: 1px solid #1c1814;
}

.tap .tap_menu .tap_list {
  float: left;
  overflow: hidden;
}

.tap .tap_menu .tap_list:after {
  content: "";
  display: block;
  clear: both;
}

.tap .tap_menu .tap_list li {
  float: left;
}

.tap .tap_menu .tap_list li.on a {
  font-weight: bold;
  color: #1c1814;
}

.tap .tap_menu .tap_list li:after {
  content: "|";
  color: #e8e8e8;
  margin: 0 16px;
}

.tap .tap_menu .tap_list li:last-child:after {
  content: "";
  display: none;
}

.tap .tap_menu .tap_list li a {
  font-size: 14px;
  color: #8e8c8a;
}

.tap .tap_menu .score_btn {
  float: right;
}

.tap .tap_menu .score_btn:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/subpage/icon-star1.png);
  margin-right: 4px;
}

.tap .tap_menu .score_btn:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/subpage/icon-chevron-up.png);
  -webkit-transform: rotate(180deg) translateY(-3px);
          transform: rotate(180deg) translateY(-3px);
  margin-left: 4px;
}

.tap .pop_order > li {
  padding: 24px 0;
  border-bottom: 1px solid #e8e8e8;
}

.tap .pop_order > li .review_top {
  overflow: hidden;
  height: 20px;
  line-height: 20px;
}

.tap .pop_order > li .review_top:after {
  content: "";
  display: block;
  clear: both;
}

.tap .pop_order > li .review_top > li {
  float: left;
}

.tap .pop_order > li .review_top .star_score {
  display: inline-block;
  overflow: hidden;
  margin-right: 16px;
}

.tap .pop_order > li .review_top .star_score:after {
  content: "";
  display: block;
  clear: both;
}

.tap .pop_order > li .review_top .star_score li {
  float: left;
}

.tap .pop_order > li .review_top .nickname {
  margin-right: 16px;
  font-size: 14px;
  color: #8e8c8a;
}

.tap .pop_order > li .review_top .date {
  font-size: 14px;
  color: #8e8c8a;
}

.tap .pop_order > li dl {
  margin-top: 16px;
}

.tap .pop_order > li dl dt {
  font-size: 14px;
  color: #8e8c8a;
}

.tap .pop_order > li dl dd {
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: -1px;
}

.tap .pop_order > li dl dd button {
  display: block;
  margin-top: 16px;
  color: #b8b6b4;
  font-size: 14px;
}

.tap .pop_order > li dl dd button span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/subpage/icon-chevron-down.png) center no-repeat;
  background-size: contain;
  font-size: 0;
  margin-left: 3px;
  float: right;
  margin-top: 2px;
}

.tap .pop_order > li .photo_review {
  margin-top: 24px;
  overflow: hidden;
}

.tap .pop_order > li .photo_review:after {
  content: "";
  display: block;
  clear: both;
}

.tap .pop_order > li .photo_review li {
  float: left;
  margin-right: 8px;
}

.tap .pop_order > li .photo_review li:last-child {
  margin-right: 0;
}

.tap .pop_order > li .photo_review li:nth-child(3) {
  display: inline-block;
  width: 134px;
  height: 134px;
  background: #b8b6b4;
  border-radius: 4px;
  text-align: center;
}

.tap .pop_order > li .photo_review li:nth-child(3) a {
  position: relative;
  font-size: 14px;
  color: #fff;
  line-height: 164px;
}

.tap .pop_order > li .photo_review li:nth-child(3) a:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -31px;
  left: 11px;
  width: 32px;
  height: 32px;
  background: url(../img/subpage/icon-play-white.png) center no-repeat;
  background-size: contain;
}

.tap .pop_order > li .question {
  height: 28px;
  line-height: 28px;
  margin-top: 24px;
}

.tap .pop_order > li .question > span {
  font-size: 14px;
  color: #8e8c8a;
  letter-spacing: -1px;
}

.tap .pop_order > li .question button {
  width: 64px;
  margin-left: 16px;
  padding: 0 14px;
  border-radius: 14px;
  border: 1px solid #d2d1d0;
}

.tap .pop_order > li .question button span {
  font-size: 12px;
}

.tap .pop_order > li .question button span:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/subpage/icon-thumbs-up.png) center no-repeat;
  background-size: contain;
  margin-right: 2px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.tap .pop_order > li .question.on button {
  border: 1px solid #00b076;
}

.tap .pop_order > li .question.on button span {
  color: #00b076;
}

.tap .pop_order > li .question.on button span:before {
  background: url(../img/subpage/icon-thumbs-up1.png) center no-repeat;
}

.tap .page_numbering {
  overflow: hidden;
  width: 480px;
  margin: 24px auto 0;
}

.tap .page_numbering:after {
  content: "";
  display: block;
  clear: both;
}

.tap .page_numbering li {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  color: #605d5b;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  margin-right: 8px;
}

.tap .page_numbering li:nth-last-child(2) {
  position: relative;
  background: #fff;
}

.tap .page_numbering li:nth-last-child(2) a {
  position: absolute;
  display: inline-block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-chevron-right2.png) center no-repeat;
  top: 6px;
  left: 6px;
}

.tap .page_numbering li:last-child {
  position: relative;
  background: #fff;
  margin-right: 0;
}

.tap .page_numbering li:last-child a {
  position: absolute;
  display: inline-block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url(../img/subpage/icon-chevron-double-right.png) center no-repeat;
  top: 6px;
  left: 6px;
}

.tap .page_numbering li.on {
  background: #00b076;
}

.tap .page_numbering li.on a {
  color: #fff;
}
