.state_page_wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.state_page_wrap .state_page {
  max-width: 1344px;
  margin: 0 auto;
  padding: 24px 0;
}

main.product_detail {
  max-width: 1440px;
  margin: 0 auto;
}

main.product_detail .subpage_contents_wrap {
  max-width: 1344px;
  margin: 0 auto;
}
